force-app/main/default/flows/Allocation_Aggregation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>EmptyAllocation2</name>
        <label>EmptyAllocation</label>
        <locationX>907</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>FunderAllocationSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyID</name>
        <label>EmptyID</label>
        <locationX>1089</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>IDofSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Funder_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptySObjectCollection</name>
        <label>EmptySObjectCollection</label>
        <locationX>751</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>FunderAllocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyFunderAllocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyAllocation2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_SummaryFound</name>
        <label>ID_SummaryFound</label>
        <locationX>742</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>IDofSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunderAllocationSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funder_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_ID_Null</name>
        <label>is_ID_Null</label>
        <locationX>348</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>GetAmountIDSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_ID_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDofSummary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_this_allocation_to_be_summary</targetReference>
            </connector>
            <label>is_ID_Null2</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Summary_existing</name>
        <label>is Summary existing</label>
        <locationX>1101</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Loop_Funder_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Summary_Founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunderAllocationSelected.Is_Summary_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_SummaryFound</targetReference>
            </connector>
            <label>Yes Summary Founded</label>
        </rules>
    </decisions>
    <description>Seem to be a flow to update a allocation if a funder make two allocations on the same invoice, Need to investigate as it seems there is no trigger to Launch it</description>
    <formulas>
        <name>AllocationSum</name>
        <dataType>Number</dataType>
        <expression>{!AllocationSelected.amount__c}+{!IDSummaryAmount.amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Allocation Aggregation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocation Aggregation</label>
    <loops>
        <name>Loop_Funder_Allocations</name>
        <label>Loop Funder Allocations</label>
        <locationX>741</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>FunderAllocationSelected</assignNextValueToReference>
        <collectionReference>FunderAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Summary_existing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_ID_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Allocations</name>
        <label>Loop through Allocations</label>
        <locationX>429</locationX>
        <locationY>54</locationY>
        <assignNextValueToReference>AllocationSelected</assignNextValueToReference>
        <collectionReference>AllocationIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Allocation_Info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Allocation_IDs</name>
        <label>Get Allocation IDs</label>
        <locationX>240</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Summary_Allocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>AllocationIDs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>amount__c</queriedFields>
        <queriedFields>Funder__c</queriedFields>
        <queriedFields>Is_Summary_Allocation__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Allocation_Info</name>
        <label>Get Allocation Info</label>
        <locationX>613</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmptySObjectCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AllocationSelected.Id</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>AllocationInfo</outputReference>
        <queriedFields>amount__c</queriedFields>
        <queriedFields>Funder__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Funder_Allocations</name>
        <label>Get Funder Allocations</label>
        <locationX>1103</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Funder_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AllocationInfo.Funder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>FunderAllocations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>amount__c</queriedFields>
        <queriedFields>Is_Summary_Allocation__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAmountIDSummary</name>
        <label>GetAmountIDSummary</label>
        <locationX>362</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateSummaryAllocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDofSummary</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>IDSummaryAmount</outputReference>
        <queriedFields>amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Canceled_Selected_Allocation</name>
        <label>Canceled Selected Allocation</label>
        <locationX>652</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Loop_through_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AllocationInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_this_allocation_to_be_summary</name>
        <label>Update this allocation to be summary</label>
        <locationX>203</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Loop_through_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AllocationInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Summary_Allocation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSummaryAllocation</name>
        <label>UpdateSummaryAllocation</label>
        <locationX>506</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Canceled_Selected_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDofSummary</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>AllocationSum</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Allocation_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>EmptyAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>EmptyFunderAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>EmptyVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSummaryAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>FunderAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>FunderAllocationSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>IDofSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDSummaryAmount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TheIDSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>UpdateSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
</Flow>
