force-app/main/default/flows/atradius_create_credit_limit_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Credit_Limit</name>
        <label>Retrieve Credit Limit</label>
        <locationX>1103</locationX>
        <locationY>970</locationY>
        <actionName>GlobalTrigger_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>module</name>
            <value>
                <stringValue>CreditLimitController</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>str1</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submodule</name>
            <value>
                <stringValue>get</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Credit_Limit</name>
        <label>Submit Credit Limit</label>
        <locationX>2000</locationX>
        <locationY>655</locationY>
        <actionName>GlobalTrigger_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id1</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>module</name>
            <value>
                <stringValue>CreditLimitController</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submodule</name>
            <value>
                <stringValue>put</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Credit_Limit_Retry</name>
        <label>Submit Credit Limit Retry</label>
        <locationX>1042</locationX>
        <locationY>486</locationY>
        <actionName>GlobalTrigger_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>str1</name>
            <value>
                <stringValue>{!Id}&amp;special=strict</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>module</name>
            <value>
                <stringValue>CreditLimitController</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submodule</name>
            <value>
                <stringValue>put</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Use_Exact_Cover_Id</name>
        <label>Use Exact Cover Id</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdStr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Credit_Limit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Atradius_Id_Added_Manual</name>
        <label>Atradius Id Added Manual</label>
        <locationX>1590</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Atradius_Id_Exists_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing cover likely</defaultConnectorLabel>
        <rules>
            <name>Atradius_Id_Manual</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>lookup_lead.Atradius_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Atradius_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attempted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Date_Credit_Limit_Requested_by_Risk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atradius_Id_Exists</targetReference>
            </connector>
            <label>Normal scenario</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanSubmit</name>
        <label>Can Submit</label>
        <locationX>2426</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Condition_Failure_For_Submit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Can_Submit</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>lookup_lead.CCY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.CCY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Credit_Limit_requested__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Insured_by__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Insured_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atradius</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_buyer_and_Submit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Force_Submit</name>
        <label>Force Submit</label>
        <locationX>1362</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Submit_Credit_Limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoForceSubmit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_Force_Submit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Force_Submit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Credit_Limit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Force_Retry</name>
        <label>Is Force Retry</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Submit_Credit_Limit_Retry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Exact_Cover_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Force_Cover_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Exact_Cover_Id</targetReference>
            </connector>
            <label>Exact Cover Id</label>
        </rules>
        <rules>
            <name>IsForceRetry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Force_Retry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Credit_Limit</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Wrong_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Force_Retry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Force_Cover_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Wrong Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Indication_Only1</name>
        <label>Retrieve Indication Only</label>
        <locationX>2242</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Submit_Credit_Limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_indication_only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Credit_Limit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retry</name>
        <label>Retry</label>
        <locationX>1802</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Submit_Credit_Limit_Retry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Cancel1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Credit_Limit</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateOrRetrieve</name>
        <label>Update Or Retrieve</label>
        <locationX>1106</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>CanSubmit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ready to submit</defaultConnectorLabel>
        <rules>
            <name>Lead_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Lead Not Found</label>
        </rules>
        <rules>
            <name>Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_lead.Date_Credit_Limit_Requested__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Credit_Limit_Request_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lookup_lead.Insurer_actual_response_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingApproval</targetReference>
            </connector>
            <label>Pending Approval</label>
        </rules>
        <rules>
            <name>Atradius_Cover_Id_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_lead.Atradius_Cover_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atradius_Cover_Id_Exists</targetReference>
            </connector>
            <label>Atradius Cover Id Not Empty</label>
        </rules>
        <rules>
            <name>Atradius_Id_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_lead.Atradius_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atradius_Id_Added_Manual</targetReference>
            </connector>
            <label>Atradius Id Not Empty</label>
        </rules>
    </decisions>
    <description>Atradius submit and or retrieve cover</description>
    <formulas>
        <name>IdStr</name>
        <dataType>String</dataType>
        <expression>{!lookup_lead.Id}+&apos;&amp;coverId=&apos;+{!lookup_lead.Atradius_Cover_Id__c}</expression>
    </formulas>
    <interviewLabel>Atradius create credit limit request</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Atradius create credit limit request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookup_lead</name>
        <label>lookup lead</label>
        <locationX>1106</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOrRetrieve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Atradius_Cover_Id_Exists</name>
        <label>Atradius Cover Id Exists</label>
        <locationX>666</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Force_Retry</targetReference>
        </connector>
        <fields>
            <name>AtradiusCoverIdExists</name>
            <fieldText>&lt;p&gt;Atradius Cover Id exists, proceed to retrieve application status?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Force_Retry</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Force Submit new credit limit request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Force_Cover_ID</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Force getting exact Atradius Cover ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Atradius_Id_Exists</name>
        <label>Atradius Id Exists</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Force_Submit</targetReference>
        </connector>
        <fields>
            <name>AtradiusIdExists</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Atradius Id was added manually, proceed to retrieve indication?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Force_Submit</name>
            <dataType>Boolean</dataType>
            <fieldText>No, submit new credit limit request (existing indication will be retrieved, to reapply/increase Run Atradius second time)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Atradius_Id_Exists_0_0</name>
        <label>Atradius Id Exists</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retry</targetReference>
        </connector>
        <fields>
            <name>AtradiusIdExists_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Atradius Id exists, do you still want to continue submit new/re-apply credit limit request, note that all supporting documents still need to manually upload.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>No, cancel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condition_Failure_For_Submit</name>
        <label>Condition Failure For Submit</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConditionFailureForSubmit</name>
            <fieldText>&lt;p&gt;Unable submit new credit limit request, please check lead&apos;s data (including Decision, New/Increase).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PendingApproval</name>
        <label>Pending Approval</label>
        <locationX>50</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SkipPendingApproval</name>
            <fieldText>&lt;p&gt;Lead is pending approval, exiting Atradius automation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_buyer_and_Submit</name>
        <label>Search buyer and Submit</label>
        <locationX>2250</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retrieve_Indication_Only1</targetReference>
        </connector>
        <fields>
            <name>SearchBuyerAndSubmit</name>
            <fieldText>&lt;p&gt;Atradius Id does not exist, proceed to submit new indication?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retrieve_indication_only</name>
            <dataType>Boolean</dataType>
            <fieldText>No, retrieve indication only</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>lookup_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>map</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>UniqueAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
</Flow>
