force-app/main/default/flows/Auto_mail_Supplier_Approve_Listing_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>451</locationX>
        <locationY>396</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <description>Autoflow to ask Supplier approval , added a update of field in invoice, Supplier approval stastus set to Asked waiting for response</description>
    <formulas>
        <name>PositiveBalance</name>
        <dataType>Number</dataType>
        <expression>{!BalanceTransactionInfo.Amount__c}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Auto mail Supplier Approve Listing V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto mail Supplier Approve Listing V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_supplier_Account_info</name>
        <label>Get supplier Account info</label>
        <locationX>771</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.supplierID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SupplierAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>EUR_eWallet_Balance__c</queriedFields>
        <queriedFields>HKD_eWallet_Balance__c</queriedFields>
        <queriedFields>SGD_eWallet_Balance__c</queriedFields>
        <queriedFields>USD_eWallet_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>646</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SupplierPrimaryContactInfo</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSupplierContactForInvoiceApproval</name>
        <label>GetSupplierContactForInvoiceApproval</label>
        <locationX>643</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_supplier_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>MapsInfo</outputReference>
        <queriedFields>supplier_contacts_for_invoice_approval__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>689</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupplierContactForInvoiceApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>supplier_text__c</queriedFields>
        <queriedFields>Buyer_text__c</queriedFields>
        <queriedFields>requested_amount__c</queriedFields>
        <queriedFields>Listing_Start__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
        <queriedFields>Expected_Payment_Date__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Email_sent_to_supplier_invoice_funded__c</queriedFields>
        <queriedFields>supplierID__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>supplier_invoice_reference_number__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>discount_amount_on_funded_amount__c</queriedFields>
        <queriedFields>platform_fee_variable_amount__c</queriedFields>
        <queriedFields>credit_insurance_fee__c</queriedFields>
        <queriedFields>Actual_Repayment_Amount__c</queriedFields>
        <queriedFields>Email_sent_Supplier_invoice_paid__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Email_supplier_for_invoice_approval__c</queriedFields>
        <queriedFields>Buyer_acknowledgment_received_date__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Supplier_asked_To_confirm_Date_2__c</queriedFields>
        <queriedFields>supplier_approval_status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>98</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>UpdateInvoiceStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_supplier_for_invoice_approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>supplier_approval_status__c</field>
            <value>
                <stringValue>Asked waiting for response</stringValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInvoiceStatus</name>
        <label>UpdateInvoiceStatus</label>
        <locationX>97</locationX>
        <locationY>606</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>pending supplier review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_asked_To_confirm_Date_2__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:2px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;IMG SRC=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;oid=00D28000001bV5p&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} is about to be ready to be listed on our platform tonight. &lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To finalize it, could you please connect to the platform, select the related invoice on your Dashboard, once selected, if all the information of the invoice is correct, please click on the blue button “Approve for listing”.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Regards, &lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Incomlend team&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Approval required for the invoice {!invoice.supplier_invoice_reference_number__c} ID[{!invoice.Name}]</text>
    </textTemplates>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BalanceTransactionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IncomlendOperationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>MapsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>RosemontIDtoGetInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SupplierPrimaryContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
