force-app/main/default/flows/Auto_Email_overdue_reminder_payment_new.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp10Reminder_7_days_after_due_date</name>
        <label>invoice_finance_deal__c.Reminder_7_days_after_due_date</label>
        <locationX>2426</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Reminder_7_days_after_due_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp1Reminder_7_days_after_due_date</name>
        <label>invoice_finance_deal__c.Reminder_7_days_after_due_date</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Reminder_7_days_after_due_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp2Overdue_Email_30days</name>
        <label>invoice_finance_deal__c.Overdue_Email_30days</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Overdue_Email_30days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp3Overdue_Email_30days</name>
        <label>invoice_finance_deal__c.Overdue_Email_30days</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Overdue_Email_30days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp4Reminder_7_days_after_due_date</name>
        <label>invoice_finance_deal__c.Reminder_7_days_after_due_date</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Reminder_7_days_after_due_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp5Overdue_Email_30days</name>
        <label>invoice_finance_deal__c.Overdue_Email_30days</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Overdue_Email_30days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp6Overdue_Email_30days</name>
        <label>invoice_finance_deal__c.Overdue_Email_30days</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Overdue_Email_30days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp7Reminder_7_days_after_due_date</name>
        <label>invoice_finance_deal__c.Reminder_7_days_after_due_date</label>
        <locationX>1634</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Reminder_7_days_after_due_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp8Reminder_7_days_after_due_date</name>
        <label>invoice_finance_deal__c.Reminder_7_days_after_due_date</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Reminder_7_days_after_due_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sp9Overdue_Email_30days</name>
        <label>invoice_finance_deal__c.Overdue_Email_30days</label>
        <locationX>2162</locationX>
        <locationY>288</locationY>
        <actionName>invoice_finance_deal__c.Overdue_Email_30days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScheduledPath1Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Migrated from the: Auto -Email overdue reminder payment new workflow rule
Workflow rule description: Workflow to auto email reminder to pay after DD new&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Last_date_Repaiement_reminderFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Auto -Email overdue reminder payment new</label>
    <migratedFromWorkflowRuleName>Auto -Email overdue reminder payment new</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the field Lat reminder email date</description>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>1106</locationX>
        <locationY>527</locationY>
        <inputAssignments>
            <field>Last_sent_re_payment_reminder_email__c</field>
            <value>
                <elementReference>Last_date_Repaiement_reminderFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>!{!$Setup.ICL_Settings__c.Disable_Migrate_Flow__c} &amp;&amp;
( (00N0T00000AMuji = &apos;Awaiting due date&apos; || 00N0T00000AMuji = &apos;Delay&apos;) &amp;&amp; {!$Record.RecordType.DeveloperName} != &apos;Passthrough_Record&apos; &amp;&amp; {!$Record.Auto_email_payment_reminder__c} = true &amp;&amp; {!$Record.advance_send_to_supplier_date__c} = DATE(2021,03,25))</filterFormula>
        <object>invoice_finance_deal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>sp1Reminder_7_days_after_due_date</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>22</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath2</name>
            <connector>
                <targetReference>sp2Overdue_Email_30days</targetReference>
            </connector>
            <label>ScheduledPath2</label>
            <offsetNumber>35</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath3</name>
            <connector>
                <targetReference>sp3Overdue_Email_30days</targetReference>
            </connector>
            <label>ScheduledPath3</label>
            <offsetNumber>45</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath4</name>
            <connector>
                <targetReference>sp4Reminder_7_days_after_due_date</targetReference>
            </connector>
            <label>ScheduledPath4</label>
            <offsetNumber>27</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath5</name>
            <connector>
                <targetReference>sp5Overdue_Email_30days</targetReference>
            </connector>
            <label>ScheduledPath5</label>
            <offsetNumber>40</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath6</name>
            <connector>
                <targetReference>sp6Overdue_Email_30days</targetReference>
            </connector>
            <label>ScheduledPath6</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath7</name>
            <connector>
                <targetReference>sp7Reminder_7_days_after_due_date</targetReference>
            </connector>
            <label>ScheduledPath7</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath8</name>
            <connector>
                <targetReference>sp8Reminder_7_days_after_due_date</targetReference>
            </connector>
            <label>ScheduledPath8</label>
            <offsetNumber>17</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath9</name>
            <connector>
                <targetReference>sp9Overdue_Email_30days</targetReference>
            </connector>
            <label>ScheduledPath9</label>
            <offsetNumber>50</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath10</name>
            <connector>
                <targetReference>sp10Reminder_7_days_after_due_date</targetReference>
            </connector>
            <label>ScheduledPath10</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>due_date2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
