force-app/main/default/flows/automatic_email_activation_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Manual flow for update some invoices when needed, this version activate the auto email remember check box,  , to use for customised update</description>
    <interviewLabel>automatic email activation reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>automatic email activation reminder</label>
    <loops>
        <name>get_list_invoice</name>
        <label>get list invoice</label>
        <locationX>1019</locationX>
        <locationY>88</locationY>
        <assignNextValueToReference>Getinvoicelisttoupdate</assignNextValueToReference>
        <collectionReference>Get_invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_AGENT</name>
        <label>GET AGENT</label>
        <locationX>579</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_supplier_buyer_map.Account_Agent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_invoice</name>
        <label>Get invoice</label>
        <locationX>233</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3:IN PROGRESS</stringValue>
            </value>
        </filters>
        <filters>
            <field>advance_send_to_supplier_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2019-11-15</dateValue>
            </value>
        </filters>
        <filters>
            <field>advance_send_to_supplier_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2019-12-10</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>invoice_finance_deal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Auto_email_payment_reminder__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_supplier_buyer_map</name>
        <label>get supplier buyer map</label>
        <locationX>117</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_AGENT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supplier_Buyer_Map__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agent_Account__c</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <queriedFields>Account_Agent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_record</name>
        <label>update record</label>
        <locationX>727</locationX>
        <locationY>46</locationY>
        <inputReference>Get_invoice</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Getinvoicelisttoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>InvoicefromLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>invoice.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
