force-app/main/default/flows/convert_incomlend_lead_to_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>agent_company_assig</name>
        <label>agent company</label>
        <locationX>890</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingstage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>30.Submitting Application Forms</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscribre_to_trade_alerts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buyer_company</name>
        <label>Buyer company</label>
        <locationX>1046</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingstage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> 10.Checking Buyers </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscribre_to_trade_alerts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>funder_company_result</name>
        <label>funder company</label>
        <locationX>493</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchaser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingstage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20.Invitation to Register</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>funder_individual_variable_assignment</name>
        <label>funder individual</label>
        <locationX>707</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchaser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingstage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20.Invitation to Register</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.full_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>if_supplier</name>
        <label>if supplier</label>
        <locationX>277</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>subtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onboardingstage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10.Checking Buyers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscribre_to_trade_alerts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setnewleadname</name>
        <label>setnewleadname</label>
        <locationX>608</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>newleadname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newleadname</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>**converted to account**</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_lead_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesAccountExist</name>
        <label>Does Account Exist</label>
        <locationX>624</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>Look_Up_on_matching_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update existing account</defaultConnectorLabel>
        <rules>
            <name>Need_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_funder_or_supplier</targetReference>
            </connector>
            <label>Need new account</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_funder_or_supplier</name>
        <label>is funder or supplier</label>
        <locationX>614</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_record_type</targetReference>
            </connector>
            <label>supplier</label>
        </rules>
        <rules>
            <name>funder_indivudual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funder Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_record_type_funder_ind</targetReference>
            </connector>
            <label>funder indivudual</label>
        </rules>
        <rules>
            <name>funder_company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funder Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_funder_comp_record_type</targetReference>
            </connector>
            <label>funder company</label>
        </rules>
        <rules>
            <name>Agent_company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_record_type_agent_company</targetReference>
            </connector>
            <label>Agent - company</label>
        </rules>
        <rules>
            <name>Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_record_type_buyer</targetReference>
            </connector>
            <label>Buyer</label>
        </rules>
    </decisions>
    <description>Convert Lead to Account Purchaser (Corporate) with new field required by Funding team</description>
    <formulas>
        <name>fullname</name>
        <dataType>String</dataType>
        <expression>{!Lead.First_Name__c} + &apos; &apos; + {!Lead.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>idbankaccount</name>
        <dataType>String</dataType>
        <expression>{!Lead.Benificiary_Name__c} +  &apos; &apos; + {!Lead.CCY__c} + &apos; &apos; + {!Lead.Bank_Name__c}</expression>
    </formulas>
    <interviewLabel>convert incomlend lead to account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>convert incomlend lead to account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>614</locationX>
        <locationY>1025</locationY>
        <assignRecordIdToReference>newContactID</assignRecordIdToReference>
        <connector>
            <targetReference>update_primary_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Lead.phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscribed_To_Trade_Alerts__c</field>
            <value>
                <elementReference>subscribre_to_trade_alerts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Lead.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relationship_to_account__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>607</locationX>
        <locationY>659</locationY>
        <assignRecordIdToReference>newAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>setnewleadname</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>Lead.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Lead.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Lead.Country_of_Incorporation_residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocuSign_Compatible__c</field>
            <value>
                <elementReference>Lead.DocuSign_Compatible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomlend_Lead__c</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Lead.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Engagment__c</field>
            <value>
                <elementReference>Lead.Level_of_Engagment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Yield_Return__c</field>
            <value>
                <elementReference>Lead.Net_Yield_Return__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview_of_Investment_Strategy__c</field>
            <value>
                <elementReference>Lead.Overview_of_Investment_Strategy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Requirements__c</field>
            <value>
                <elementReference>Lead.Reporting_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_type__c</field>
            <value>
                <elementReference>subtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timeframe_to_invest__c</field>
            <value>
                <elementReference>Lead.Timeframe_to_invest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trading_Corridors__c</field>
            <value>
                <elementReference>Lead.Trading_Corridors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Lead.website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>head_office_country__c</field>
            <value>
                <elementReference>Lead.Country_of_Incorporation_residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>onboarding_stage__c</field>
            <value>
                <elementReference>onboardingstage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_on_matching_contact</name>
        <label>Look Up on matching contact</label>
        <locationX>937</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MatchingAccountName</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_contact_name</name>
        <label>LookUp contact name</label>
        <locationX>426</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MatchAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_funder_comp_record_type</name>
        <label>lookup funder comp record type</label>
        <locationX>492</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>funder_company_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchaser - company</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_record_type</name>
        <label>lookup supplier record type</label>
        <locationX>288</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>supplier</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_record_type_agent_company</name>
        <label>lookup record type agent company</label>
        <locationX>900</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>agent_company_assig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agent - company</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_record_type_buyer</name>
        <label>lookup record type buyer</label>
        <locationX>1023</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_record_type_funder_ind</name>
        <label>lookup record type funder ind</label>
        <locationX>704</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>funder_individual_variable_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchaser - individual</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>quick_lookup_lead</name>
        <label>quick lookup lead</label>
        <locationX>220</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUp_contact_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Incomlend_Lead__c</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Agent__c</queriedFields>
        <queriedFields>Company_Name__c</queriedFields>
        <queriedFields>Country_of_Incorporation_residence__c</queriedFields>
        <queriedFields>email__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>message__c</queriedFields>
        <queriedFields>referral_code__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>website__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>phone_number__c</queriedFields>
        <queriedFields>Position__c</queriedFields>
        <queriedFields>full_name__c</queriedFields>
        <queriedFields>Net_Yield_Return__c</queriedFields>
        <queriedFields>DocuSign_Compatible__c</queriedFields>
        <queriedFields>Overview_of_Investment_Strategy__c</queriedFields>
        <queriedFields>Client_or_Investors_Profiles__c</queriedFields>
        <queriedFields>Level_of_Engagment__c</queriedFields>
        <queriedFields>Trading_Corridors__c</queriedFields>
        <queriedFields>Timeframe_to_invest__c</queriedFields>
        <queriedFields>Reporting_Requirements__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1042</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingAccountName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>Lead.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead_name</name>
        <label>update lead name</label>
        <locationX>615</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>newleadname</elementReference>
            </value>
        </inputAssignments>
        <object>Incomlend_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_primary_contact</name>
        <label>update primary contact</label>
        <locationX>616</locationX>
        <locationY>1124</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>newContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>quick_lookup_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incomlend_Lead__c</objectType>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newleadname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>onboardingstage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscribre_to_trade_alerts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
