force-app/main/default/flows/create_transaction_from_allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Agent_commission_on_funder_allocations_2</name>
        <label>Create Agent commission on funder allocations 2</label>
        <locationX>480</locationX>
        <locationY>710</locationY>
        <actionName>Double_Entry_Transaction</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varAgentDiscountAmountCommission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccy</name>
            <value>
                <elementReference>varCCY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Effective_date</name>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>from_account</name>
            <value>
                <elementReference>IncOperationsAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_Allocation</name>
            <value>
                <elementReference>varInvoiceAllocation_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_finance_deal</name>
            <value>
                <elementReference>varInvoice_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Confirmed by operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to_account</name>
            <value>
                <elementReference>varAgent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trustee</name>
            <value>
                <elementReference>varTrustee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>051.Agent Commission on Discount Amount</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Funder_Capital_Repayment_2</name>
        <label>Create Funder Capital Repayment 2</label>
        <locationX>473</locationX>
        <locationY>296</locationY>
        <actionName>Double_Entry_Transaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Funder_discount_amount_on_allocation_2</targetReference>
        </connector>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccy</name>
            <value>
                <elementReference>varCCY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Effective_date</name>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>from_account</name>
            <value>
                <elementReference>IncOperationsAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_Allocation</name>
            <value>
                <elementReference>varInvoiceAllocation_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_finance_deal</name>
            <value>
                <elementReference>varInvoice_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Confirmed by operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to_account</name>
            <value>
                <elementReference>varPurchaser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trustee</name>
            <value>
                <elementReference>varTrustee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>04.Invoice Capital Repayment</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Funder_discount_amount_on_allocation_2</name>
        <label>Create Funder discount amount on allocation 2</label>
        <locationX>472</locationX>
        <locationY>454</locationY>
        <actionName>Double_Entry_Transaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AgentExist</targetReference>
        </connector>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varFunderDiscountAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccy</name>
            <value>
                <elementReference>varCCY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Effective_date</name>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>from_account</name>
            <value>
                <elementReference>IncOperationsAccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_Allocation</name>
            <value>
                <elementReference>varInvoiceAllocation_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Invoice_finance_deal</name>
            <value>
                <elementReference>varInvoice_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Confirmed by operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to_account</name>
            <value>
                <elementReference>varPurchaser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trustee</name>
            <value>
                <elementReference>varTrustee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>05.Invoice Discount Amount</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>expected</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>AgentExist</name>
        <label>AgentExist</label>
        <locationX>472</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Agent_Not_Incomlend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgentDiscountAmountCommission</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Agent_commission_on_funder_allocations_2</targetReference>
            </connector>
            <label>Agent Not Incomlend</label>
        </rules>
    </decisions>
    <description>add trustee eWallet update</description>
    <formulas>
        <name>DayAfterListingEnd</name>
        <dataType>Date</dataType>
        <expression>{!varListingEndDate} +1</expression>
    </formulas>
    <formulas>
        <name>varNegAgentDiscAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varAgentDiscountAmountCommission}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varNegAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varAmount}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varNegDiscAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varFunderDiscountAmount}*-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>create transaction from allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create transaction from allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_allocation</name>
        <label>lookup allocation</label>
        <locationX>476</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Funder_Capital_Repayment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvoiceAllocation_id</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputAssignments>
            <assignToReference>varCCY</assignToReference>
            <field>CCY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAgentDiscountAmountCommission</assignToReference>
            <field>Funder_Agent_Commission_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPurchaser</assignToReference>
            <field>Funder__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIncomlendDiscountAmmountCommission</assignToReference>
            <field>Incomlend_commision__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInvoice_id</assignToReference>
            <field>Invoice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAmount</assignToReference>
            <field>amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAgent</assignToReference>
            <field>funder_agent_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFunderDiscountAmount</assignToReference>
            <field>funder_discount_amount__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookup_allocation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountingperiodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActualRepaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncOperationsAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAgentDiscountAmountCommission</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCCY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFunderDiscountAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varIncomlendDiscountAmmountCommission</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varIncomlendFees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoice_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceAllocation_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLinkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOperationsAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0012800000pjW40</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPurchaser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrustee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType_invoice_purchase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01.Invoice Purchase</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTypeCapitalRepayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>04.Invoice Capital Repayment</stringValue>
        </value>
    </variables>
</Flow>
