force-app/main/default/flows/Create_Double_Entry_Transaction_autolaunched_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>deposit_or_withdrawal_v2</name>
        <label>deposit or withdrawal</label>
        <locationX>702</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>70.Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_deposit</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80.Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Withdrawal</targetReference>
            </connector>
            <label>Withdrawal</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_deposit_or_withdrawal</name>
        <label>is deposit or withdrawal</label>
        <locationX>400</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>lookup_from_ewallet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other transactions</defaultConnectorLabel>
        <rules>
            <name>Deposit_or_Withdrawal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80.Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>70.Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deposit_or_withdrawal_v2</targetReference>
            </connector>
            <label>Deposit or Withdrawal</label>
        </rules>
    </decisions>
    <formulas>
        <name>negAmount</name>
        <dataType>Currency</dataType>
        <expression>{!amount}*-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Double Entry Transaction autolaunched flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Double Entry Transaction autolaunched flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>add_credit</name>
        <label>add credit</label>
        <locationX>157</locationX>
        <locationY>497</locationY>
        <assignRecordIdToReference>TransactionLink2</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Transaction_link_Debit</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Period__c</field>
            <value>
                <elementReference>accountingperiod.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Allocation__c</field>
            <value>
                <elementReference>allocatiionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Finance_Deal__c</field>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Transaction__c</field>
            <value>
                <elementReference>transactionLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eWallet__c</field>
            <value>
                <elementReference>to_ewallet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>transaction_link_id__c</field>
            <value>
                <elementReference>transactionLink</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>add_debit</name>
        <label>add debit</label>
        <locationX>154</locationX>
        <locationY>409</locationY>
        <assignRecordIdToReference>transactionLink</assignRecordIdToReference>
        <connector>
            <targetReference>add_credit</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>from</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Period__c</field>
            <value>
                <elementReference>accountingperiod.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>negAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Allocation__c</field>
            <value>
                <elementReference>allocatiionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Finance_Deal__c</field>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eWallet__c</field>
            <value>
                <elementReference>from_ewallet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Add_deposit</name>
        <label>Add deposit</label>
        <locationX>780</locationX>
        <locationY>430</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Period__c</field>
            <value>
                <elementReference>accountingperiod.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account__c</field>
            <value>
                <elementReference>bankAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Reference_Number__c</field>
            <value>
                <elementReference>ExternalRefNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Deposit_Unique_Index__c</field>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Deposit__c</field>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eWallet__c</field>
            <value>
                <elementReference>to_ewallet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Withdrawal</name>
        <label>Add Withdrawal</label>
        <locationX>612</locationX>
        <locationY>433</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Period__c</field>
            <value>
                <elementReference>accountingperiod.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>negAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account__c</field>
            <value>
                <elementReference>bankAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Reference_Number__c</field>
            <value>
                <elementReference>ExternalRefNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Deposit_Unique_Index__c</field>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Deposit__c</field>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eWallet__c</field>
            <value>
                <elementReference>to_ewallet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_accounting_period</name>
        <label>lookup accounting period</label>
        <locationX>395</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_to_ewallet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </filters>
        <object>Accounting_Period__c</object>
        <outputReference>accountingperiod</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_from_ewallet</name>
        <label>lookup from ewallet</label>
        <locationX>153</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_debit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>from</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>from_ewallet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_ewallet</name>
        <label>lookup to ewallet</label>
        <locationX>397</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_deposit_or_withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>to</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccy</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>to_ewallet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction_link_Debit</name>
        <label>Update Transaction link Debit</label>
        <locationX>159</locationX>
        <locationY>586</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transactionLink</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Transaction__c</field>
            <value>
                <elementReference>TransactionLink2</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <startElementReference>lookup_accounting_period</startElementReference>
    <status>Draft</status>
    <variables>
        <name>accountingperiod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounting_Period__c</objectType>
    </variables>
    <variables>
        <name>allocatiionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>bankAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ccy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>effectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalRefNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>from</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>from_ewallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>to</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>to_ewallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>transactionLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLink2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WithdrawalDepositID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
