force-app/main/default/flows/create_account_and_contact_from_lead_individual_funder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>DoesAccountExist</name>
        <label>Does Account Exist</label>
        <locationX>598</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Look_Up_on_matching_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update existing account</defaultConnectorLabel>
        <rules>
            <name>Need_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>Need new account</label>
        </rules>
    </decisions>
    <description>Create en account and contact from lead individual funder, and update if the account already exist</description>
    <formulas>
        <name>fullname</name>
        <dataType>String</dataType>
        <expression>{!Lead.First_Name__c} + &apos; &apos; + {!Lead.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>idbankaccount</name>
        <dataType>String</dataType>
        <expression>{!Lead.Benificiary_Name__c} +  &apos; &apos; + {!Lead.CCY__c} + &apos; &apos; + {!Lead.Bank_Name__c}</expression>
    </formulas>
    <interviewLabel>create account and contact from lead individual funder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create account and contact from lead individual funder mfr</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>422</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>newContactID</assignRecordIdToReference>
        <connector>
            <targetReference>update_primary_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relationship_to_account__c</field>
            <value>
                <stringValue>Personal Account</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>423</locationX>
        <locationY>496</locationY>
        <assignRecordIdToReference>newAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>Lead.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fullname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01228000000vQEA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_type__c</field>
            <value>
                <stringValue>Purchaser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>head_office_country__c</field>
            <value>
                <elementReference>Lead.Country_of_Incorporation_residence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>onboarding_stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_on_matching_contact</name>
        <label>Look Up on matching contact</label>
        <locationX>659</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MatchingAccountName</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUp_contact_name</name>
        <label>LookUp contact name</label>
        <locationX>373</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MatchAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>quick_lookup_lead</name>
        <label>quick lookup lead</label>
        <locationX>498</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUp_contact_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Incomlend_Lead__c</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Agent__c</queriedFields>
        <queriedFields>Company_Name__c</queriedFields>
        <queriedFields>Country_of_Incorporation_residence__c</queriedFields>
        <queriedFields>email__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>message__c</queriedFields>
        <queriedFields>referral_code__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>650</locationX>
        <locationY>635</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingAccountName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>Lead.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_primary_contact</name>
        <label>update primary contact</label>
        <locationX>458</locationX>
        <locationY>783</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>newContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>quick_lookup_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incomlend_Lead__c</objectType>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
