force-app/main/default/flows/Daily_Bank_Accounts_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>BankAccounts</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Beneficiary_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incomlend Pte Ltd</stringValue>
            </value>
        </filters>
        <object>Bank_Account__c</object>
    </dynamicChoiceSets>
    <interviewLabel>Daily Bank Accounts Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Bank Accounts Update</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_Bank_Account_Buyer_USD</name>
        <label>Create Record Bank Account Buyer USD</label>
        <locationX>271</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Create_Record_Bank_Account_Purchaser_USD</targetReference>
        </connector>
        <inputAssignments>
            <field>As_of_DateTime__c</field>
            <value>
                <elementReference>As_of_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Detail__c</field>
            <value>
                <stringValue>a0A2800000JcaCf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>Amount_Buyer_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Bank_Account_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_Bank_Account_Platform_USD</name>
        <label>Create Record Bank Account Platform USD</label>
        <locationX>288</locationX>
        <locationY>413</locationY>
        <inputAssignments>
            <field>As_of_DateTime__c</field>
            <value>
                <elementReference>As_of_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Detail__c</field>
            <value>
                <stringValue>a0A2800000Nn7yn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>Amount_Platform_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Bank_Account_Balance__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_Bank_Account_Purchaser_USD</name>
        <label>Create Record Bank Account Purchaser USD</label>
        <locationX>280</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Create_Record_Bank_Account_Platform_USD</targetReference>
        </connector>
        <inputAssignments>
            <field>As_of_DateTime__c</field>
            <value>
                <elementReference>As_of_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Detail__c</field>
            <value>
                <stringValue>a0A2800000JcaAe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>Amount_Purchaser_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Bank_Account_Balance__c</object>
    </recordCreates>
    <screens>
        <name>Daily_Bank_accounts_update</name>
        <label>Daily Bank accounts update</label>
        <locationX>283</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record_Bank_Account_Buyer_USD</targetReference>
        </connector>
        <fields>
            <name>As_of_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>As of date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Buyer_USD</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Buyer - USD</stringValue>
            </defaultValue>
            <fieldText>Buyer - USD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Buyer_USD</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Purchasers_USD</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Purchasers - USD</stringValue>
            </defaultValue>
            <fieldText>Purchasers - USD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Purchaser_USD</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Platform_USD</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Platform - USD</stringValue>
            </defaultValue>
            <fieldText>Platform - USD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Platform_USD</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Daily_Bank_accounts_update</startElementReference>
    <status>Active</status>
</Flow>
