force-app/main/default/flows/DeleteExpectedTransactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTransactionToDelete</name>
        <label>AddTransactionToDelete</label>
        <locationX>598</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>TransactionsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueTransactions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_transactions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isStatusExpected</name>
        <label>isStatusExpected</label>
        <locationX>698</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>loop_transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status is not Expected</defaultConnectorLabel>
        <rules>
            <name>Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueTransactions.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>expected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTransactionToDelete</targetReference>
            </connector>
            <label>Expected</label>
        </rules>
    </decisions>
    <formulas>
        <name>advance_transfer_date2</name>
        <dataType>Date</dataType>
        <expression>if (isblank( {!invoice.actual_supplier_funds_transfer_date__c} ),

DATEVALUE( {!invoice.Listing_End__c} )+1,
 {!invoice.actual_supplier_funds_transfer_date__c}
)</expression>
    </formulas>
    <interviewLabel>DeleteExpectedTransactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteExpectedTransactions</label>
    <loops>
        <name>loop_transactions</name>
        <label>loop transactions</label>
        <locationX>443</locationX>
        <locationY>466</locationY>
        <assignNextValueToReference>transactions</assignNextValueToReference>
        <collectionReference>TransactionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookUp_each_Transactions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DeleteTransactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteTransactions</name>
        <label>DeleteTransactions</label>
        <locationX>221</locationX>
        <locationY>593</locationY>
        <inputReference>TransactionsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_transactions</name>
        <label>get transactions</label>
        <locationX>463</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Finance_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>TransactionsList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUp_each_Transactions</name>
        <label>LookUp each Transactions</label>
        <locationX>637</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStatusExpected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transactions.Id</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>UniqueTransactions</outputReference>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>464</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>389</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>areyousure</name>
            <fieldText>Are you sure you want to DELTE ALL transactions of this invoice with the status Expected ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Are_you_sure</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>map</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>transactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>TransactionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>TransactionsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>UniqueAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>UniqueTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
</Flow>
