force-app/main/default/flows/DocuSign_Subflow_TermSheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Message_Termsheet_signed</name>
        <label>Send Message Termsheet signed</label>
        <locationX>1166</locationX>
        <locationY>296</locationY>
        <actionName>SendSlackMessageToLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_for_Sales_owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Send_Message_Termsheet_signed_0</name>
        <label>Send Message Termsheet Sent</label>
        <locationX>811</locationX>
        <locationY>385</locationY>
        <actionName>SendSlackMessageToLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_for_Sales_owner_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>send a task when term sheet is completed</description>
        <name>Task_for_Sales_owner</name>
        <label>Task for Sales owner</label>
        <locationX>1325</locationX>
        <locationY>295</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>get_owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>DocusignTermSheetcompleted</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>send a task when term sheet is completed</description>
        <name>Task_for_Sales_owner_0</name>
        <label>Task for Sales owner</label>
        <locationX>1033</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>get_owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Term_sheet_Sent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Status_of_term_sheet_Docusign</name>
        <label>Status of term sheet Docusign</label>
        <locationX>728</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Term_sheet_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Status.dsfs__Envelope_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Lead</targetReference>
            </connector>
            <label>Term sheet Completed</label>
        </rules>
        <rules>
            <name>Term_sheet_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Status.dsfs__Envelope_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Lead_0</targetReference>
            </connector>
            <label>Term sheet Sent</label>
        </rules>
    </decisions>
    <description>Send Alert lead, when terms sheet is Sent and completed. added Date Sent and signed in Time line, small bug correction on slack message</description>
    <interviewLabel>DocuSign Subflow TermSheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign Subflow TermSheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Docusign_Status</name>
        <label>Get Docusign Status</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocusignStatusID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dsfs__DocuSign_Status__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>dsfs__Company__c</queriedFields>
        <queriedFields>dsfs__Envelope_Status__c</queriedFields>
        <queriedFields>dsfs__Lead__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>dsfs__Sent_Date_Time__c</queriedFields>
        <queriedFields>dsfs__Completed_Date_Time__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>dsfs__Sender__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_lead</name>
        <label>get lead</label>
        <locationX>584</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docusign_Status.dsfs__Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Date_Termsheet_Sent__c</queriedFields>
        <queriedFields>Date_Termsheet_Signed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_owner</name>
        <label>get owner</label>
        <locationX>966</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_of_term_sheet_Docusign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_lead.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Lead</name>
        <label>Update Status Lead</label>
        <locationX>984</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Send_Message_Termsheet_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Termsheet_Signed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Term Sheet Signed</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Lead_0</name>
        <label>Update Status Lead</label>
        <locationX>515</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Send_Message_Termsheet_signed_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Termsheet_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Term Sheet Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Docusign_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>DocusignTermSheetcompleted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>DocuSign : The Term sheet for the Lead : {!get_lead.Company} is Completed.</text>
    </textTemplates>
    <textTemplates>
        <name>TermsheetSent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;DocuSign : The Term sheet for the Lead : {!get_lead.Company} is Sent&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DocusignStatusID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
