force-app/main/default/flows/Docusign_Notification_Sent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DocuSign_MAP2</name>
        <label>DocuSign MAP</label>
        <locationX>2162</locationX>
        <locationY>1478</locationY>
        <actionName>SendSlackMessageToOnboarding</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>BNLSignedbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Docusong_completed_inovoice</name>
        <label>Docusong completed inovoice</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <actionName>dsfs__DocuSign_Status__c.DocuSign_Invoice_completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NOA_invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>DocusignStatus.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ducusign_Status_completed</name>
        <label>Ducusign Status completed</label>
        <locationX>2162</locationX>
        <locationY>1358</locationY>
        <actionName>dsfs__DocuSign_Status__c.DocuSign_Map_completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DocuSign_MAP2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>DocusignStatus.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NOA_invoice</name>
        <label>NOA invoice</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <actionName>SendSlackMessageToOperations</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>NOASignedbody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decision_BNL</name>
        <label>Decision BNL</label>
        <locationX>1106</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNL_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BNL_Sent2</targetReference>
            </connector>
            <label>BNL Sent</label>
        </rules>
        <rules>
            <name>BNL_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BNL_signed</targetReference>
            </connector>
            <label>BNL Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_RPA</name>
        <label>Decision RPA</label>
        <locationX>2690</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RPA_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RPA_Sent2</targetReference>
            </connector>
            <label>RPA Sent</label>
        </rules>
        <rules>
            <name>RPA_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RPA_Signed2</targetReference>
            </connector>
            <label>RPA Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decsion_Offer</name>
        <label>Decsion Offer</label>
        <locationX>1898</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offer_Sent2</targetReference>
            </connector>
            <label>Offer Sent</label>
        </rules>
        <rules>
            <name>Offer_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offer_Signed2</targetReference>
            </connector>
            <label>Offer Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_Via_Invoice</name>
        <label>Sent Via Invoice</label>
        <locationX>2162</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_via_Invoice_Finance_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.Invoice_Finance_Deal2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_invoice</targetReference>
            </connector>
            <label>Sent via Invoice Finance Deal</label>
        </rules>
        <rules>
            <name>Sent_Via_Supplier_Buyer_Map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.SUPPLIER_BUYER_MAP2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_Buyer_Map</targetReference>
            </connector>
            <label>Sent Via Supplier Buyer Map</label>
        </rules>
        <rules>
            <name>Send_via_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.Account_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ARPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_docusign_send_via_Account_ARPA_Update</targetReference>
            </connector>
            <label>Send via Account</label>
        </rules>
        <rules>
            <name>sent_via_Lead</name>
            <conditionLogic>1 AND (2 or 3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Term Sheet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TermSheet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>term sheet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_send_by_lead_termsheet</targetReference>
            </connector>
            <label>sent via Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_of_NAO_Docusign</name>
        <label>Status of NAO Docusign</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docusign_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOA_Sent</targetReference>
            </connector>
            <label>Docusign Sent</label>
        </rules>
        <rules>
            <name>Docusign_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Envelope_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOA_Signed</targetReference>
            </connector>
            <label>Docusign  Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_Buyer_Map_Triger</name>
        <label>Supplier Buyer Map Triger</label>
        <locationX>2162</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNL_DocuSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BNL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_BNL</targetReference>
            </connector>
            <label>BNL DocuSign</label>
        </rules>
        <rules>
            <name>Offer_Docusign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decsion_Offer</targetReference>
            </connector>
            <label>Offer Docusign</label>
        </rules>
        <rules>
            <name>RPA_Docusign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocusignStatus.dsfs__Subject__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_RPA</targetReference>
            </connector>
            <label>RPA Docusign</label>
        </rules>
    </decisions>
    <description>Add automation for docusign sent from lead termsheet, change a rules, for docusign in lead</description>
    <interviewLabel>Docusign Notification Sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docusign Notification Sent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DocuSign_Status</name>
        <label>Get DocuSign Status</label>
        <locationX>2162</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sent_Via_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocusignStatusID</elementReference>
            </value>
        </filters>
        <object>dsfs__DocuSign_Status__c</object>
        <outputReference>DocusignStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>dsfs__Company__c</queriedFields>
        <queriedFields>dsfs__Envelope_Status__c</queriedFields>
        <queriedFields>Invoice_Finance_Deal__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>dsfs__Subject__c</queriedFields>
        <queriedFields>dsfs__Sent_Date_Time__c</queriedFields>
        <queriedFields>dsfs__Completed_Date_Time__c</queriedFields>
        <queriedFields>Invoice_Finance_Deal2__c</queriedFields>
        <queriedFields>SUPPLIER_BUYER_MAP2__c</queriedFields>
        <queriedFields>Account_2__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>dsfs__Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_invoice</name>
        <label>Get invoice</label>
        <locationX>314</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_of_NAO_Docusign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocusignStatus.Invoice_Finance_Deal__c</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY_TXT__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>FX_reverse_rate__c</queriedFields>
        <queriedFields>NOA_Buyer_Signature_Required__c</queriedFields>
        <queriedFields>NOA_Buyer_Signature_Obtained__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Notice_of_Assignment_sent__c</queriedFields>
        <queriedFields>Notice_of_Assignment_signed__c</queriedFields>
        <queriedFields>Link_id__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Buyer_Map</name>
        <label>Get Supplier Buyer Map</label>
        <locationX>2162</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ops_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocusignStatus.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>SupplierBuyerMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BNL_Sent__c</queriedFields>
        <queriedFields>BNL_Signed__c</queriedFields>
        <queriedFields>Offer_Sent_Date__c</queriedFields>
        <queriedFields>Offer_Accepted_Date__c</queriedFields>
        <queriedFields>RPA_Sent__c</queriedFields>
        <queriedFields>RPA_Signed__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Ops_Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Ops_Owner</name>
        <label>Ops Owner</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supplier_Buyer_Map_Triger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Ops_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BNL_Sent2</name>
        <label>BNL Sent</label>
        <locationX>842</locationX>
        <locationY>926</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BNL_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>BNL_signed</name>
        <label>BNL signed</label>
        <locationX>1106</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Ducusign_Status_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BNL_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>NOA_Sent</name>
        <label>NOA Sent</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notice_of_Assignment_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>NOA_Signed</name>
        <label>NOA Signed</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Docusong_completed_inovoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notice_of_Assignment_signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Offer_Sent2</name>
        <label>Offer Sent</label>
        <locationX>1634</locationX>
        <locationY>926</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Offer_Sent_Date__c</field>
            <value>
                <elementReference>DocusignStatus.dsfs__Sent_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Offer_Signed2</name>
        <label>Offer Signed</label>
        <locationX>1898</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Ducusign_Status_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Offer_Accepted_Date__c</field>
            <value>
                <elementReference>DocusignStatus.dsfs__Completed_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>RPA_Sent2</name>
        <label>RPA Sent</label>
        <locationX>2426</locationX>
        <locationY>926</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RPA_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>RPA_Signed2</name>
        <label>RPA Signed</label>
        <locationX>2690</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Ducusign_Status_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RPA_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_DocuSign_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Created when there is an update of the RPA</description>
        <name>Subflow_docusign_send_via_Account_ARPA_Update</name>
        <label>Subflow docusign send via Account ARPA Update</label>
        <locationX>3482</locationX>
        <locationY>446</locationY>
        <flowName>Docusign_send_via_Account</flowName>
        <inputAssignments>
            <name>DocusignStatusID</name>
            <value>
                <elementReference>DocusignStatus.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_send_by_lead_termsheet</name>
        <label>Subflow send by lead termsheet</label>
        <locationX>3746</locationX>
        <locationY>446</locationY>
        <flowName>DocuSign_Subflow_TermSheet</flowName>
        <inputAssignments>
            <name>DocusignStatusID</name>
            <value>
                <elementReference>DocusignStatus.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>BNLSignedbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The DocuSign {!DocusignStatus.dsfs__Subject__c} for the Map {!SupplierBuyerMap.Name} is Completed</text>
    </textTemplates>
    <textTemplates>
        <name>BNLSignedTtile</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Map  Number : {!SupplierBuyerMap.Name}, BNL Signed&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NOASignedbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The Docusign : {!DocusignStatus.dsfs__Subject__c} for the Invoice {!invoice.Name} is Completed</text>
    </textTemplates>
    <textTemplates>
        <name>NOASignedTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Invoice Number : {!invoice.Name}, NOA Signed&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OfferSignedBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear operation Team ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;the offer for the Map {!SupplierBuyerMap.Name}  is Signed please proceed to the next Step.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Incomlend&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OfferSignedTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Invoice Number : {!invoice.Name}, Offer Signed&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RPASignedbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear operation Team ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;the RPAL for the Map {!SupplierBuyerMap.Name}  is Signed please proceed to the next Step.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Incomlend&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RPASignedTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Invoice Number : {!invoice.Name}, RPA Signed&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;test2&amp;lt;p&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DocusignID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dsfs__DocuSign_Status__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>DocusignStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>DocusignStatusID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>OwnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>:warning: Ops Owner is not set, please amend the Supplier Buyer Map :warning:</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplierBuyerMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
</Flow>
