force-app/main/default/flows/Email_Funder_trade_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>1192</locationX>
        <locationY>684</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Update_Funding_Email_to_Funders_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>EmailFunder.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>EmailFunder.google_username_agent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Address</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Display Name</name>
            <value>
                <stringValue>Operations Team</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>IncrementEmailSentCounter</name>
        <label>IncrementEmailSentCounter</label>
        <locationX>616</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>emailSentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTotalAllocations</name>
        <label>SetTotalAllocations</label>
        <locationX>793</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>TotalEmailToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_email_limit_exceeded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_email_sent</name>
        <label>Are all email sent</label>
        <locationX>358</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Remaining_emails_to_send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>All_email_are_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalEmailToSend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Sent</targetReference>
            </connector>
            <label>All email are sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>610</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Emails_Order_placed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_ID</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_limit_exceeded</name>
        <label>Is email limit exceeded</label>
        <locationX>918</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Loop_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EmailLimitNotExceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSentCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alloc_info</targetReference>
            </connector>
            <label>EmailLimitNotExceeded</label>
        </rules>
    </decisions>
    <description>Changes:
HTML Email Plugin - New fields added:
Sender Address = operations@incomlend.com
Sender Display Name = Operations Team
=&gt; Email sending impersonalization</description>
    <formulas>
        <name>NetDiscRate</name>
        <dataType>Number</dataType>
        <expression>(1-{!FunderAccountInfo.discount_profit_share_percent__c})*{!invoice.discount_rate__c}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalAmountCredited</name>
        <dataType>Currency</dataType>
        <expression>{!Alloc.funder_discount_amount__c}+ {!Alloc.amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Funder Invoice Funded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Funder trade alert</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>623</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>Alloc</assignNextValueToReference>
        <collectionReference>AllocationIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetTotalAllocations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_all_email_sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_info</name>
        <label>Get Account info</label>
        <locationX>1056</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Funder__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>FunderAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>discount_profit_share_percent__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Alloc_info</name>
        <label>Get Alloc info</label>
        <locationX>1164</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Id</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>Alloc</outputReference>
        <queriedFields>amount__c</queriedFields>
        <queriedFields>Funder__c</queriedFields>
        <queriedFields>funder_discount_amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Allocation_IDs</name>
        <label>Get Allocation IDs</label>
        <locationX>262</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Email_to_Funders_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>AllocationIDs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_ID</name>
        <label>Get Buyer ID</label>
        <locationX>620</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invoice_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>BuyerInfo</outputReference>
        <queriedFields>Buyer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Name</name>
        <label>Get Buyer Name</label>
        <locationX>261</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Allocation_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuyerInfo.Buyer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>BuyerName</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>1192</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FunderAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EmailFunder</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>google_username_agent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>invoice_ID</name>
        <label>invoice ID</label>
        <locationX>443</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Buyer_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookup_invoice</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoiceID2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>378</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Email_already_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RBS_loan_ID__c</queriedFields>
        <queriedFields>discount_rate__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>actual_financing_period__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>over_due_days__c</queriedFields>
        <queriedFields>Emails_Order_placed__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Expected_Payment_Date__c</queriedFields>
        <queriedFields>Trade_Alert_Text_End_20_PF__c</queriedFields>
        <queriedFields>Marketplace_link__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>368</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>No_remaining_email_to_send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emails_Order_placed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Email_to_Funders_Sent</name>
        <label>Update Funding Email to Funders Sent</label>
        <locationX>912</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>IncrementEmailSentCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funding_Email_to_Funders_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>Areyousure</name>
            <fieldText>Are you sure to send emails to funders regarding their funding ? (order placed)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>853</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email(s) to funders are already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_remaining_email_to_send</name>
        <label>No remaining email to send</label>
        <locationX>477</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AllEmailAreSent</name>
            <fieldText>All email have been sent for this invoice.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remaining_emails_to_send</name>
        <label>Remaining emails to send</label>
        <locationX>189</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RemainingEmails</name>
            <fieldText>Some email(s) have not been sent (SalesForce limit of 10 emails).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_sent</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>emailSentCount</elementReference>
            </defaultValue>
            <fieldText>Email sent:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_email_to_send</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>TotalEmailToSend</elementReference>
            </defaultValue>
            <fieldText>Total email to send:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Are_you_sure</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:2px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;IMG SRC=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;oid=00D28000001bV5p&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dear {!EmailFunder.FirstName},&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;We’re pleased to inform you that your reservation of {!Alloc.amount__c} {!invoice.CCY__c} posted on the invoice  #{!invoice.Name} posted for {!BuyerName.Name} is confirmed. Your eWallet will be debited accordingly.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Upon payment of the Invoice by {!BuyerName.Name} at maturity (expected payment date: {!invoice.Expected_Payment_Date__c}), you will receive a payback notification and your eWallet will be credited with the initially invested amount and your net profit.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note that all additional days of overdue represent an additional profit from discount that will be credited to your eWallet.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Kind regards,&lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Incomlend team&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:9px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;DISCLAMER: Confidentiality &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:9px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Any information transmitted by means of this e-mail (and any of the attachments) is intended exclusively for the addressee(s) and for those authorized by the addressee(s) to read this message. We are not liable for any views expressed by an individual in this email/attachment which do not constitute official communication. Any use by a party other than the addressee(s) is prohibited. This information may be confidential in nature and fall under a duty of non-disclosure, or be legally privileged. If you have received this e-mail in error please email us on info@incomlend.com &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:9px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;This sender has taken reasonable measures to ensure that this message is free from viruses, but the recipient should also take such measures. The sender shall not be liable for damages resulting from the use of electronic means of communication, including - but not limited to - damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses and other malicious code. &lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:9px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;DISCLAIMER: Capital risk&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:9px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Please note that using the Platform to purchase Accounts Receivables is entirely at your own risk and the decision whether or not to purchase Accounts Receivables is solely yours. The final repayment of the Accounts Receivable cannot be guaranteed. On our side we will take all reasonable steps to verify the existence, legal background and quality of each Accounts Receivable which is sold on the Platform, but such verification is not a guarantee of payment. We do not give any express or implied warranties as to the commercial or other risks to which any Purchaser may be exposed when purchasing Accounts Receivables, the collectability of any Accounts Receivable, the quality or accuracy of information obtained in respect of any Accounts Receivable. By using the Platform, you knowingly accept the risks of losing part or all of your capital and you further accept that information obtained from Incomlend does not constitute legal, financial or other advice or recommendation in relation to an Accounts Receivable transaction, and you will conduct your own research and form your own opinion as to whether or not to purchase an Accounts Receivable. &lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Invoice #{!invoice.Name} - Reservation confirmed</text>
    </textTemplates>
    <variables>
        <name>Alloc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BuyerInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>BuyerName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailSentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FunderAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>invoiceID2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>TotalEmailToSend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
