force-app/main/default/flows/Email_Supplier_invoice_paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>362</locationX>
        <locationY>595</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>SupplierAccountInfo.Alternative_email_to_add_in_communicatio__c</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>460</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Email_sent_Supplier_invoice_paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIncomlendOperationID</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>isActualRepaymentAmountFillIn</name>
        <label>isActualRepaymentAmountFillIn</label>
        <locationX>972</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Repayment_amount_Not_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ActualRepaymentAmountFillIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Actual_Repayment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsInvoiceClosed</targetReference>
            </connector>
            <label>ActualRepaymentAmountFillIn</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInvoiceClosed</name>
        <label>IsInvoiceClosed</label>
        <locationX>430</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Invoice_phase_is_not_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InvoiceClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4:CLOSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_already_sent</targetReference>
            </connector>
            <label>InvoiceClosed</label>
        </rules>
    </decisions>
    <description>Flow from button in invoice object send an email once the invoice has been repaid included GST information</description>
    <environments>Default</environments>
    <formulas>
        <name>PositiveBalance</name>
        <dataType>Number</dataType>
        <expression>{!BalanceTransactionInfo.Amount__c}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RepaymentDate</name>
        <dataType>Date</dataType>
        <expression>if({!invoice.Early_payment__c},{!invoice.early_payment_transfer_date__c},{!invoice.Actual_Repayment_Received_Date__c})</expression>
    </formulas>
    <interviewLabel>Email Supplier invoice paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Supplier invoice paid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_supplier_Account_info</name>
        <label>Get supplier Account info</label>
        <locationX>930</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GeteWalletsBalance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.supplierID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SupplierAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>EUR_eWallet__c</queriedFields>
        <queriedFields>HKD_eWallet__c</queriedFields>
        <queriedFields>SGD_eWallet__c</queriedFields>
        <queriedFields>USD_eWallet__c</queriedFields>
        <queriedFields>Alternative_email_to_add_in_communicatio__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>584</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SupplierPrimaryContactInfo</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNoteBalanceTransaction</name>
        <label>GetNoteBalanceTransaction</label>
        <locationX>821</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_supplier_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomlendOperationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Finance_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08.Invoice Balance Payment</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>BalanceTransactionInfo</outputReference>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>771</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isActualRepaymentAmountFillIn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>supplier_text__c</queriedFields>
        <queriedFields>Buyer_text__c</queriedFields>
        <queriedFields>requested_amount__c</queriedFields>
        <queriedFields>Listing_Start__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
        <queriedFields>Expected_Payment_Date__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Email_sent_to_supplier_invoice_funded__c</queriedFields>
        <queriedFields>supplierID__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>supplier_invoice_reference_number__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>discount_amount_on_funded_amount__c</queriedFields>
        <queriedFields>platform_fee_variable_amount__c</queriedFields>
        <queriedFields>credit_insurance_fee__c</queriedFields>
        <queriedFields>Actual_Repayment_Amount__c</queriedFields>
        <queriedFields>Email_sent_Supplier_invoice_paid__c</queriedFields>
        <queriedFields>Early_payment__c</queriedFields>
        <queriedFields>early_payment_transfer_date__c</queriedFields>
        <queriedFields>Balance_to_be_credited_to_supplier__c</queriedFields>
        <queriedFields>Total_cost_for_supplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>248</locationX>
        <locationY>483</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_sent_Supplier_invoice_paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>382</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>Areyousure</name>
            <fieldText>Are you sure to send an email to the supplier that the invoice is paid ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>211</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email to the supplier already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Emails already sent !</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_phase_is_not_correct</name>
        <label>Invoice phase is not correct</label>
        <locationX>180</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invoicephaseisnotcorrect</name>
            <fieldText>The invoice phase is not correct !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repayment_amount_Not_set</name>
        <label>Repayment amount Not set</label>
        <locationX>1065</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RepaymentAmount</name>
            <fieldText>Actual Repayment amount is not set</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GeteWalletsBalance</name>
        <label>GeteWalletsBalance</label>
        <locationX>780</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <flowName>Get_eWallets_Balance</flowName>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>SupplierAccountInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EURBalanceFromFlow</assignToReference>
            <name>EURBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HKDBalanceFromFlow</assignToReference>
            <name>HKDBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SGDBalanceFromFlow</assignToReference>
            <name>SGDBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>USDBalanceFromFlow</assignToReference>
            <name>USDBalance</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetIncomlendOperationID</name>
        <label>GetIncomlendOperationID</label>
        <locationX>679</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>GetNoteBalanceTransaction</targetReference>
        </connector>
        <flowName>Lookup_Incomlend_Operations_Account_ID</flowName>
        <outputAssignments>
            <assignToReference>IncomlendOperationID</assignToReference>
            <name>OperationsAccountID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 2px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;amp;oid=00D28000001bV5p&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} has been repaid. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;We have received {!invoice.Actual_Repayment_Amount__c} {!invoice.CCY__c}  from the buyer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Taking into account the fees already charged upfront at the funding date, your eWallet has been now credited of the balance amount: {!invoice.Balance_to_be_credited_to_supplier__c} {!invoice.CCY__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The total cost of this invoice financing has been: {!invoice.Total_cost_for_supplier__c} {!invoice.CCY__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Consequently, your current eWallet balance is now: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;EUR=&amp;gt; {!EURBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;HKD=&amp;gt; {!HKDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;SGD=&amp;gt; {!SGDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;USD=&amp;gt; {!USDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;You can connect to the platform to request a withdrawal. Please note that withdrawals requests are processed by our team every day at 2pm Singapore time. Please note that withdrawals are not processed during public holiday in Singapore. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial, sans-serif; background-color: white;&quot;&gt;Important : Incomlend Pte Ltd will apply the GST (&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.GST}&lt;/span&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial, sans-serif; background-color: white;&quot;&gt;) starting on April 1st 2020. The GST is applicable to Singapore registered&amp;nbsp;entities only.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt; font-family: Arial, sans-serif; background-color: white;&quot;&gt;You will receive an automatic invoice with applicable GST for each transaction&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do not hesitate to contact us if you have any question, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Incomlend team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;em style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;DISCLAMER: Confidentiality &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;em style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Any information transmitted by means of this e-mail (and any of the attachments) is intended exclusively for the addressee(s) and for those authorized by the addressee(s) to read this message. We are not liable for any views expressed by an individual in this email/attachment which do not constitute official communication. Any use by a party other than the addressee(s) is prohibited. This information may be confidential in nature and fall under a duty of non-disclosure, or be legally privileged. If you have received this e-mail in error please email us on info@incomlend.com &lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;em style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;This sender has taken reasonable measures to ensure that this message is free from viruses, but the recipient should also take such measures. The sender shall not be liable for damages resulting from the use of electronic means of communication, including - but not limited to - damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses and other malicious code. &lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Invoice {!invoice.supplier_invoice_reference_number__c} ID[{!invoice.Name}] has been paid</text>
    </textTemplates>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BalanceTransactionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EURBalanceFromFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HKDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IncomlendOperationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>RosemontIDtoGetInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SGDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SupplierAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SupplierPrimaryContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>USDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
