force-app/main/default/flows/Email_Funder_Invoice_Repayment_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>678</locationX>
        <locationY>870</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Update_Repayment_Email_to_Funders_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>EmailFunder.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>EmailFunder.google_username_agent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>IncrementEmailSentCounter</name>
        <label>IncrementEmailSentCounter</label>
        <locationX>419</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>emailSentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTotalAllocations</name>
        <label>SetTotalAllocations</label>
        <locationX>569</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>TotalEmailToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_email_limit_exceeded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_email_sent</name>
        <label>Are all email sent</label>
        <locationX>198</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Remaining_emails_to_send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>All_email_are_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalEmailToSend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Sent</targetReference>
            </connector>
            <label>All email are sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>256</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Emails_Repayment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Allocation_IDs</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_limit_exceeded</name>
        <label>Is email limit exceeded</label>
        <locationX>720</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Loop_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EmailLimitNotExceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailSentCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alloc_info</targetReference>
            </connector>
            <label>EmailLimitNotExceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInvoiceClosed</name>
        <label>IsInvoiceClosed</label>
        <locationX>325</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Invoice_is_not_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InvoiceClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4:CLOSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_already_sent</targetReference>
            </connector>
            <label>InvoiceClosed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isEarlyRepayment</name>
        <dataType>String</dataType>
        <expression>if({!invoice.Early_payment__c},&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>NetDiscRate</name>
        <dataType>Number</dataType>
        <expression>(1-{!AllocationID.Applied_Funder_Discount_Profit_Share_Pct__c})*{!invoice.discount_rate__c}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RepaymentDate</name>
        <dataType>Date</dataType>
        <expression>if({!invoice.Early_payment__c},{!invoice.early_payment_transfer_date__c},{!invoice.Actual_Repayment_Received_Date__c})</expression>
    </formulas>
    <formulas>
        <name>TotalAmountCredited</name>
        <dataType>Currency</dataType>
        <expression>{!Alloc.funder_discount_amount__c}+ {!Alloc.amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Funder Invoice Repayment - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Funder Invoice Repayment - Subflow</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>342</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>Alloc</assignNextValueToReference>
        <collectionReference>AllocationIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetTotalAllocations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_all_email_sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_info</name>
        <label>Get Account info</label>
        <locationX>1063</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Funder__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>FunderAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>USD_Available_eWallet__c</queriedFields>
        <queriedFields>HKD_Available_eWallet__c</queriedFields>
        <queriedFields>SGD_Available_eWallet__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>discount_profit_share_percent__c</queriedFields>
        <queriedFields>EUR_available_eWallet__c</queriedFields>
        <queriedFields>XXX_Available_eWallet__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Alloc_info</name>
        <label>Get Alloc info</label>
        <locationX>1056</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Id</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>Alloc</outputReference>
        <queriedFields>amount__c</queriedFields>
        <queriedFields>Funder__c</queriedFields>
        <queriedFields>funder_discount_amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Allocation_IDs</name>
        <label>Get Allocation IDs</label>
        <locationX>488</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Repayment_Email_to_Funders_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repaid invoice deal closed</stringValue>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>AllocationIDs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Applied_Funder_Discount_Profit_Share_Pct__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_contact</name>
        <label>Get Primary contact</label>
        <locationX>1057</locationX>
        <locationY>777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FunderAccountInfo.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PrimaryContact</outputReference>
        <queriedFields>Primary_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>873</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryContact.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EmailFunder</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>google_username_agent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>473</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsInvoiceClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RBS_loan_ID__c</queriedFields>
        <queriedFields>discount_rate__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>actual_financing_period__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>over_due_days__c</queriedFields>
        <queriedFields>Emails_Repayment__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Early_payment__c</queriedFields>
        <queriedFields>early_payment_transfer_date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>137</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>No_remaining_email_to_send</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emails_Repayment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Repayment_Email_to_Funders_Sent</name>
        <label>Update Repayment Email to Funders Sent</label>
        <locationX>514</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>IncrementEmailSentCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alloc.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Repayment_Email_to_Funders_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>124</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email(s) to funders are already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_is_not_Closed</name>
        <label>Invoice is not Closed</label>
        <locationX>79</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvoiceNotClosed</name>
            <fieldText>The invoice is not closed !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_remaining_email_to_send</name>
        <label>No remaining email to send</label>
        <locationX>115</locationX>
        <locationY>892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AllEmailAreSent</name>
            <fieldText>All email have been sent for this invoice.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remaining_emails_to_send</name>
        <label>Remaining emails to send</label>
        <locationX>27</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RemainingEmails</name>
            <fieldText>Some email(s) have not been sent (SalesForce limit of 10 emails).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_sent</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>emailSentCount</elementReference>
            </defaultValue>
            <fieldText>Email sent:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_email_to_send</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>TotalEmailToSend</elementReference>
            </defaultValue>
            <fieldText>Total email to send:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 2px;&quot;&gt;&lt;img src=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;amp;oid=00D28000001bV5p&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Dear {!EmailFunder.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;We’re pleased to inform you that the invoice #{!invoice.Name} has been repaid by {!invoice.Invoice_name__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Your advanced amount: {!Alloc.amount__c} {!invoice.CCY__c} &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Gross discount rate (p. 30 days): {!invoice.discount_rate__c}%&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Net discount rate (p. 30 days): {!NetDiscRate}%&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Repayment date: {!RepaymentDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Is this invoice repaid earlier than expected: {!isEarlyRepayment}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Actual number of days financing: {!invoice.actual_financing_period__c} ({!invoice.over_due_days__c} days late) &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11px;&quot;&gt;Please note that the calculation of the purchaser discount amount is based on the actual financed term, being the number of days between the payment of the purchase price and the actual repayment date by the buyer, in accordance with the Invoice Purchase Agreement. Any early repayment would therefore shorten the actual financed term and reduce the discount amount accordingly&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 11px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Your profit on this invoice: {!Alloc.funder_discount_amount__c} {!invoice.CCY__c} &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Your eWallet has been credited of: {!TotalAmountCredited} {!invoice.CCY__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Currently, your eWallet balance is at :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;(USD Balance) =&amp;gt; {!FunderAccountInfo.USD_Available_eWallet__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;(HKD Balance) =&amp;gt; {!FunderAccountInfo.HKD_Available_eWallet__c} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;(EUR Balance) =&amp;gt; {!FunderAccountInfo.EUR_available_eWallet__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;(SGD Balance) =&amp;gt; {!FunderAccountInfo.SGD_Available_eWallet__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;(GBP Balance) =&amp;gt; {!FunderAccountInfo.XXX_Available_eWallet__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;The Incomlend team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;* Please note that all figures are rounded to 2 decimals&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;DISCLAMER: Confidentiality &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;Any information transmitted by means of this e-mail (and any of the attachments) is intended exclusively for the addressee(s) and for those authorized by the addressee(s) to read this message. We are not liable for any views expressed by an individual in this email/attachment which do not constitute official communication. Any use by a party other than the addressee(s) is prohibited. This information may be confidential in nature and fall under a duty of non-disclosure, or be legally privileged. If you have received this e-mail in error please email us on info@incomlend.com &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;This sender has taken reasonable measures to ensure that this message is free from viruses, but the recipient should also take such measures. The sender shall not be liable for damages resulting from the use of electronic means of communication, including - but not limited to - damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses and other malicious code. &lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;DISCLAIMER: Capital risk&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;Please note that using the Platform to purchase Accounts Receivables is entirely at your own risk and the decision whether or not to purchase Accounts Receivables is solely yours. The final repayment of the Accounts Receivable cannot be guaranteed. On our side we will take all reasonable steps to verify the existence, legal background and quality of each Accounts Receivable which is sold on the Platform, but such verification is not a guarantee of payment. We do not give any express or implied warranties as to the commercial or other risks to which any Purchaser may be exposed when purchasing Accounts Receivables, the collectability of any Accounts Receivable, the quality or accuracy of information obtained in respect of any Accounts Receivable. By using the Platform, you knowingly accept the risks of losing part or all of your capital and you further accept that information obtained from Incomlend does not constitute legal, financial or other advice or recommendation in relation to an Accounts Receivable transaction, and you will conduct your own research and form your own opinion as to whether or not to purchase an Accounts Receivable. &lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Invoice #{!invoice.Name} has been repaid</text>
    </textTemplates>
    <variables>
        <name>Alloc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailSentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FunderAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TotalEmailToSend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
