force-app/main/default/flows/Email_Supplier_invoice_funded_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>send an email to the buyer when invoice is funded in reverse factoring</description>
        <name>Invoice_funded_buyer_reverse_factoring</name>
        <label>Invoice funded buyer reverse factoring</label>
        <locationX>353</locationX>
        <locationY>318</locationY>
        <actionName>invoice_finance_deal__c.Invoice_funded_Buyer_email_for_RF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_funded_CMA_Buyer_email_for_RF</name>
        <label>Invoice funded:  CMA Buyer email for RF</label>
        <locationX>274</locationX>
        <locationY>731</locationY>
        <actionName>invoice_finance_deal__c.Invoice_funded_CMA_Buyer_email_for_RF</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>833</locationX>
        <locationY>434</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Reverse_factoring</targetReference>
        </connector>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Address</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Display Name</name>
            <value>
                <stringValue>INCOMLEND Operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>send_email_ShipFin</name>
        <label>send email ShipFin</label>
        <locationX>760</locationX>
        <locationY>706</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Reverse_factoring_CMA</targetReference>
        </connector>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>EmailBodyShipfin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Address</name>
            <value>
                <stringValue>operations@Shipfin.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Display Name</name>
            <value>
                <stringValue>SHIPFIN Operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>EmailTitleShipFin</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_the_Map_Agent_is_correct</name>
        <label>Check if the Map Agent is correct</label>
        <locationX>590</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>IsInvoiceFunded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_from_Map_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Agent_from_the_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_from_Map_is_Empty</targetReference>
            </connector>
            <label>Agent from Map empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMA_Agent</name>
        <label>CMA Agent</label>
        <locationX>974</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>send_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMA_SGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Agent_from_the_Map__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_ShipFin</targetReference>
            </connector>
            <label>CMA_SGM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>1068</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Email_sent_to_supplier_invoice_funded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIncomlendOperationID</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInvoiceFunded</name>
        <label>IsInvoiceFunded</label>
        <locationX>1103</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Invoice_phase_is_not_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InvoiceFunded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3:IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_already_sent</targetReference>
            </connector>
            <label>InvoiceFunded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reverse_factoring</name>
        <label>Reverse factoring</label>
        <locationX>646</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Emails_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reverse_factoring_buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reverse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_funded_buyer_reverse_factoring</targetReference>
            </connector>
            <label>Reverse factoring buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reverse_factoring_CMA</name>
        <label>Reverse factoring CMA</label>
        <locationX>578</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Emails_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reverse_factoring_CMA2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reverse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_funded_CMA_Buyer_email_for_RF</targetReference>
            </connector>
            <label>Reverse factoring CMA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Supplier invoice funded - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Supplier invoice funded - Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_supplier_Account_info</name>
        <label>Get supplier Account info</label>
        <locationX>1470</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GeteWalletsBalance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.supplierID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SupplierAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Alternative_email_to_add_in_communicatio__c</queriedFields>
        <queriedFields>EUR_eWallet__c</queriedFields>
        <queriedFields>HKD_eWallet__c</queriedFields>
        <queriedFields>SGD_eWallet__c</queriedFields>
        <queriedFields>USD_eWallet__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>1107</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMA_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SupplierPrimaryContactInfo</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNoteBalanceTransaction</name>
        <label>GetNoteBalanceTransaction</label>
        <locationX>1366</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_supplier_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomlendOperationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Finance_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08.Invoice Balance Payment</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>BalanceTransactionInfo</outputReference>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>627</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Map_Agent_is_correct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>supplier_text__c</queriedFields>
        <queriedFields>Buyer_text__c</queriedFields>
        <queriedFields>requested_amount__c</queriedFields>
        <queriedFields>Listing_Start__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
        <queriedFields>Expected_Payment_Date__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Email_sent_to_supplier_invoice_funded__c</queriedFields>
        <queriedFields>supplierID__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>supplier_invoice_reference_number__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>discount_amount_on_funded_amount__c</queriedFields>
        <queriedFields>platform_fee_variable_amount__c</queriedFields>
        <queriedFields>credit_insurance_fee__c</queriedFields>
        <queriedFields>Amount_credit_supplier_net_upfront_fees__c</queriedFields>
        <queriedFields>Supplier_Agent__c</queriedFields>
        <queriedFields>Total_supplier_discount_amount_expected__c</queriedFields>
        <queriedFields>Marketplace__c</queriedFields>
        <queriedFields>Product_type__c</queriedFields>
        <queriedFields>Agent_from_the_Map__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>227</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_sent_to_supplier_invoice_funded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <screens>
        <description>the Agent from Map field is Empty, it should be the same than the Supplier-buyer Map Agent. Please fill this field and retry .</description>
        <name>Agent_from_Map_is_Empty</name>
        <label>Agent from Map is Empty</label>
        <locationX>797</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Agent_From_Map_is_Empty2</name>
            <fieldText>&lt;p&gt;the Agent from Map field is Empty, it should be the same than the Supplier-buyer Map Agent.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>1374</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email to the supplier already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Emails already sent !</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_phase_is_not_correct</name>
        <label>Invoice phase is not correct</label>
        <locationX>1376</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invoicephaseisnotcorrect</name>
            <fieldText>The invoice phase is not correct !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>126</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>GeteWalletsBalance</name>
        <label>GeteWalletsBalance</label>
        <locationX>1281</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <flowName>Get_eWallets_Balance</flowName>
        <inputAssignments>
            <name>VarAccountID</name>
            <value>
                <elementReference>SupplierAccountInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EURBalanceFromFlow</assignToReference>
            <name>EURBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HKDBalanceFromFlow</assignToReference>
            <name>HKDBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SGDBalanceFromFlow</assignToReference>
            <name>SGDBalance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>USDBalanceFromFlow</assignToReference>
            <name>USDBalance</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetIncomlendOperationID</name>
        <label>GetIncomlendOperationID</label>
        <locationX>1090</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>GetNoteBalanceTransaction</targetReference>
        </connector>
        <flowName>Lookup_Incomlend_Operations_Account_ID</flowName>
        <outputAssignments>
            <assignToReference>IncomlendOperationID</assignToReference>
            <name>OperationsAccountID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 2px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;amp;oid=00D28000001bV5p&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} has been funded. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The funded Amount is : &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt; {!invoice.funded_amount__c}&lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;  &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!invoice.CCY__c}.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;The fee to be paid to Incomlend out of this funded amount is :  {!invoice.Total_supplier_discount_amount_expected__c} &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!invoice.CCY__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Your eWallet has been credited of the funded amount: &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!invoice.Amount_credit_supplier_net_upfront_fees__c} &lt;/b&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!invoice.CCY__c}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Consequently, your current eWallet balance is now: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;EUR=&amp;gt; {!EURBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;HKD=&amp;gt; {!HKDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;SGD=&amp;gt; {!SGDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;USD=&amp;gt; {!USDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;You can connect to the platform to request a withdrawal. Please note that withdrawals requests are processed by our team every day at 2pm Singapore time. Please note that withdrawals are not processed during public holiday in Singapore.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do not hesitate to contact us if you have any question, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Incomlend team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;DISCLAMER: Confidentiality &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Any information transmitted by means of this e-mail (and any of the attachments) is intended exclusively for the addressee(s) and for those authorized by the addressee(s) to read this message. We are not liable for any views expressed by an individual in this email/attachment which do not constitute official communication. Any use by a party other than the addressee(s) is prohibited. This information may be confidential in nature and fall under a duty of non-disclosure, or be legally privileged. If you have received this e-mail in error please email us on info@incomlend.com &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;font-size: 9px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;This sender has taken reasonable measures to ensure that this message is free from viruses, but the recipient should also take such measures. The sender shall not be liable for damages resulting from the use of electronic means of communication, including - but not limited to - damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses and other malicious code. &lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyShipfin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;&lt;img src=&quot;https://incomlend--c.ap7.content.force.com/servlet/rtaImage?refid=0EM0I000002W15s&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} has been funded. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;The funded Amount is : {!invoice.funded_amount__c}&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!invoice.CCY__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;The fee to be paid to Incomlend out of this funded amount is :&amp;nbsp;&amp;nbsp;{!invoice.Total_supplier_discount_amount_expected__c}&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!invoice.CCY__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Your eWallet has been credited of the funded amount:&amp;nbsp;{!invoice.Amount_credit_supplier_net_upfront_fees__c} {!invoice.CCY__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Consequently, your current eWallet balance is now: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;EUR=&amp;gt; {!EURBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;HKD=&amp;gt; {!HKDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;SGD=&amp;gt; {!SGDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;USD=&amp;gt; {!USDBalanceFromFlow}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;You can connect to the platform to request a withdrawal. Please note that withdrawals requests are processed by our team every day at 2pm Singapore time. Please note that withdrawals are not processed during public holiday in Singapore.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Do not hesitate to contact us if you have any question, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Shipfin Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;DISCLAMER: Confidentiality &lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;Any information transmitted by means of this e-mail (and any of the attachments) is intended exclusively for the addressee(s) and for those authorized by the addressee(s) to read this message. We are not liable for any views expressed by an individual in this email/attachment which do not constitute official communication. Any use by a party other than the addressee(s) is prohibited. This information may be confidential in nature and fall under a duty of non-disclosure, or be legally privileged. If you have received this e-mail in error please email us on info@incomlend.com &lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 9px;&quot;&gt;This sender has taken reasonable measures to ensure that this message is free from viruses, but the recipient should also take such measures. The sender shall not be liable for damages resulting from the use of electronic means of communication, including - but not limited to - damages resulting from failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses and other malicious code. &lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Invoice {!invoice.supplier_invoice_reference_number__c} ID [{!invoice.Name}] has been funded</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTitleShipFin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>ShipFin - Invoice {!invoice.supplier_invoice_reference_number__c} ID [{!invoice.Name}] has been funded</text>
    </textTemplates>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BalanceTransactionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EURBalanceFromFlow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HKDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IncomlendOperationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>RosemontIDtoGetInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SGDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SupplierAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SupplierPrimaryContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>USDBalanceFromFlow</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
