force-app/main/default/flows/Email_Supplier_Approve_Listing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>505</locationX>
        <locationY>465</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>mel.k@yopmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>send_email_CMA</name>
        <label>send email CMA</label>
        <locationX>500</locationX>
        <locationY>655</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>EmailBodyCMA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Address</name>
            <value>
                <stringValue>Operations@shipfin.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Display Name</name>
            <value>
                <stringValue>Shipfin Operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>EmailTitleCMA</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_the_New_Overdue_Pricing_is_OK</name>
        <label>Check if the New Overdue Pricing is OK</label>
        <locationX>1109</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>RPA_Signature_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_overdue_rate_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Overdue_Rate_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_acknowledgment_Status</targetReference>
            </connector>
            <label>New overdue rate ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMA</name>
        <label>CMA</label>
        <locationX>776</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>send_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMA2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Supplier_Agent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_CMA</targetReference>
            </connector>
            <label>CMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>528</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Email_supplier_for_invoice_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSupplierContactForInvoiceApproval</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <description>Added the control to Check if the Supplier Signed the Correct ARPA for this invoice</description>
    <environments>Default</environments>
    <formulas>
        <name>PositiveBalance</name>
        <dataType>Number</dataType>
        <expression>{!BalanceTransactionInfo.Amount__c}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Supplier Approve Listing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Supplier Approve Listing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_supplier_Account_info</name>
        <label>Get supplier Account info</label>
        <locationX>1060</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.supplierID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SupplierAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>EUR_eWallet_Balance__c</queriedFields>
        <queriedFields>HKD_eWallet_Balance__c</queriedFields>
        <queriedFields>SGD_eWallet_Balance__c</queriedFields>
        <queriedFields>USD_eWallet_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>1000</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SupplierPrimaryContactInfo</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSupplierContactForInvoiceApproval</name>
        <label>GetSupplierContactForInvoiceApproval</label>
        <locationX>793</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_supplier_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>MapsInfo</outputReference>
        <queriedFields>supplier_contacts_for_invoice_approval__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>839</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_New_Overdue_Pricing_is_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>supplier_text__c</queriedFields>
        <queriedFields>Buyer_text__c</queriedFields>
        <queriedFields>requested_amount__c</queriedFields>
        <queriedFields>Listing_Start__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
        <queriedFields>Expected_Payment_Date__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Email_sent_to_supplier_invoice_funded__c</queriedFields>
        <queriedFields>supplierID__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>supplier_invoice_reference_number__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>discount_amount_on_funded_amount__c</queriedFields>
        <queriedFields>platform_fee_variable_amount__c</queriedFields>
        <queriedFields>credit_insurance_fee__c</queriedFields>
        <queriedFields>Actual_Repayment_Amount__c</queriedFields>
        <queriedFields>Email_sent_Supplier_invoice_paid__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Email_supplier_for_invoice_approval__c</queriedFields>
        <queriedFields>Buyer_acknowledgment_received_date__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Supplier_asked_To_confirm_Date_2__c</queriedFields>
        <queriedFields>supplier_approval_status__c</queriedFields>
        <queriedFields>Supplier_Agent__c</queriedFields>
        <queriedFields>Overdue_Rate_ok__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>325</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>UpdateInvoiceStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_supplier_for_invoice_approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>supplier_approval_status__c</field>
            <value>
                <stringValue>Asked waiting for response</stringValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInvoiceStatus</name>
        <label>UpdateInvoiceStatus</label>
        <locationX>140</locationX>
        <locationY>621</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>pending supplier review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_asked_To_confirm_Date_2__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>450</locationX>
        <locationY>8</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>Areyousure</name>
            <fieldText>Are you sure to send an email to the supplier to approve this invoice for listing?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Buyer_acknowledgment_Status</name>
        <label>Buyer acknowledgment Status</label>
        <locationX>622</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Email_already_sent</targetReference>
        </connector>
        <fields>
            <name>BuyerAcknowledgement</name>
            <fieldText>Buyer acknowledgement received date : {!invoice.Buyer_acknowledgment_received_date__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>279</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email to the supplier already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Emails already sent !</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RPA_Signature_Required</name>
        <label>RPA Signature Required</label>
        <locationX>1020</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ARPA_Signature_required</name>
            <fieldText>&lt;p&gt;The Supplier need to Sign the ARPA Docusign to be able to be Financed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>110</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:2px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;IMG SRC=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;oid=00D28000001bV5p&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} is about to be ready to be listed on our platform tonight. &lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To finalize it, could you please connect to the platform, select the related invoice on your Dashboard, once selected, if all the information of the invoice is correct, please click on the blue button “Approve for listing”.&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR /&gt;

&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Regards, &lt;/FONT&gt;&lt;/DIV&gt;
&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Incomlend team&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyCMA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://incomlend--c.ap7.content.force.com/servlet/rtaImage?refid=0EM0I000002VpcB&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} is about to be ready to be listed on our platform tonight. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;To finalize it, could you please connect to the platform, select the related invoice on your Dashboard, once selected, if all the information of the invoice is correct, please click on the blue button “Approve for listing”.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;Regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;Shipfin Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Incomlend - Approval required for the invoice {!invoice.supplier_invoice_reference_number__c} ID[{!invoice.Name}]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTitleCMA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;ShipFin- Approval required for the invoice {!invoice.supplier_invoice_reference_number__c} ID[{!invoice.Name}]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BalanceTransactionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IncomlendOperationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>MapsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>RosemontIDtoGetInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SupplierPrimaryContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
