force-app/main/default/flows/Email_Supplier_invoice_paid_PASSTHROUGH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>497</locationX>
        <locationY>589</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>Emails_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>emailTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Other Emails (comma-separated)</name>
            <value>
                <elementReference>SupplierPrimaryContactInfo.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BCC Email Addresses (comma-separated)</name>
            <value>
                <stringValue>operations@incomlend.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>SupplierAccountInfo.Alternative_email_to_add_in_communicatio__c</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Email_already_sent</name>
        <label>Is Email already sent</label>
        <locationX>468</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Emails_already_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_not_send_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Email_sent_Supplier_invoice_paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIncomlendOperationID</targetReference>
            </connector>
            <label>Email not send yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>isActualRepaymentAmountFillIn</name>
        <label>isActualRepaymentAmountFillIn</label>
        <locationX>980</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Repayment_amount_Not_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ActualRepaymentAmountFillIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Actual_Repayment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsInvoiceClosed</targetReference>
            </connector>
            <label>ActualRepaymentAmountFillIn</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInvoiceClosed</name>
        <label>IsInvoiceClosed</label>
        <locationX>438</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Invoice_phase_is_not_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InvoiceClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4:CLOSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_already_sent</targetReference>
            </connector>
            <label>InvoiceClosed</label>
        </rules>
    </decisions>
    <description>V6 - add GBP</description>
    <formulas>
        <name>PositiveBalance</name>
        <dataType>Number</dataType>
        <expression>{!BalanceTransactionInfo.Amount__c}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Supplier invoice paid PASSTHROUGH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Supplier invoice paid PASSTHROUGH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_supplier_Account_info</name>
        <label>Get supplier Account info</label>
        <locationX>875</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.supplierID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SupplierAccountInfo</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>EUR_eWallet_Balance__c</queriedFields>
        <queriedFields>HKD_eWallet_Balance__c</queriedFields>
        <queriedFields>SGD_eWallet_Balance__c</queriedFields>
        <queriedFields>USD_eWallet_Balance__c</queriedFields>
        <queriedFields>Alternative_email_to_add_in_communicatio__c</queriedFields>
        <queriedFields>XXX_eWallet_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEmail</name>
        <label>GetContactInfo</label>
        <locationX>735</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierAccountInfo.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SupplierPrimaryContactInfo</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNoteBalanceTransaction</name>
        <label>GetNoteBalanceTransaction</label>
        <locationX>829</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_supplier_Account_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomlendOperationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Finance_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08.Invoice Balance Payment</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>BalanceTransactionInfo</outputReference>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>779</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isActualRepaymentAmountFillIn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>supplier_text__c</queriedFields>
        <queriedFields>Buyer_text__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>supplierID__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>supplier_invoice_reference_number__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>platform_fee_fixed__c</queriedFields>
        <queriedFields>Actual_Repayment_Amount__c</queriedFields>
        <queriedFields>Email_sent_Supplier_invoice_paid__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Emails_Sent</name>
        <label>Emails Sent</label>
        <locationX>302</locationX>
        <locationY>519</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_sent_Supplier_invoice_paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>390</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>Areyousure</name>
            <fieldText>Are you sure to send an email to the supplier that the invoice is paid ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emails_already_sent</name>
        <label>Emails already sent</label>
        <locationX>219</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailsAlreadySent2</name>
            <fieldText>Email to the supplier already sent !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Emails already sent !</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_phase_is_not_correct</name>
        <label>Invoice phase is not correct</label>
        <locationX>222</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invoicephaseisnotcorrect</name>
            <fieldText>The invoice phase is not correct !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repayment_amount_Not_set</name>
        <label>Repayment amount Not set</label>
        <locationX>1073</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RepaymentAmount</name>
            <fieldText>Actual Repayment amount is not set</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetIncomlendOperationID</name>
        <label>GetIncomlendOperationID</label>
        <locationX>687</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>GetNoteBalanceTransaction</targetReference>
        </connector>
        <flowName>Lookup_Incomlend_Operations_Account_ID</flowName>
        <outputAssignments>
            <assignToReference>IncomlendOperationID</assignToReference>
            <name>OperationsAccountID</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 2px;&quot;&gt;&lt;img src=&quot;https://incomlend--c.ap2.content.force.com/servlet/servlet.ImageServer?id=01528000002r2ag&amp;amp;oid=00D28000001bV5p&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Dear {!SupplierPrimaryContactInfo.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;The invoice {!invoice.supplier_invoice_reference_number__c} of {!invoice.invoice_amount__c} {!invoice.CCY__c} to {!invoice.Buyer_text__c} #ID{!invoice.Name} has been repaid. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;We have received {!invoice.Actual_Repayment_Amount__c} {!invoice.CCY__c}  from the buyer on the {!invoice.Actual_Repayment_Received_Date__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;This invoice was not funded, it is a &quot;passthrough&quot;, only admin fee is charged.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Fee applied to this invoice: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Admin fee: {!invoice.platform_fee_fixed__c} {!invoice.CCY__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Your eWallet has been credited of the balance amount: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!PositiveBalance} {!invoice.CCY__c}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Consequently, your current eWallet balance is now: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;EUR=&amp;gt; {!SupplierAccountInfo.EUR_eWallet_Balance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;HKD=&amp;gt; {!SupplierAccountInfo.HKD_eWallet_Balance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;SGD=&amp;gt; {!SupplierAccountInfo.SGD_eWallet_Balance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;USD=&amp;gt; {!SupplierAccountInfo.USD_eWallet_Balance__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;GBP=&amp;gt;{!SupplierAccountInfo.XXX_eWallet_Balance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;You can connect to the platform to request a withdrawal. Please note that withdrawals requests are processed by our team every day at 2pm Hong Kong time. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Do not hesitate to contact us if you have any question, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Regards, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Incomlend team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsalreadysent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Emails already sent !</text>
    </textTemplates>
    <textTemplates>
        <name>emailTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Incomlend - Invoice {!invoice.supplier_invoice_reference_number__c} ID[{!invoice.Name}] has been paid</text>
    </textTemplates>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>AllocationIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>BalanceTransactionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mathieu@incomlend.com, laurence@incomlend.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailFunder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IncomlendOperationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a092800000Ql27Q</stringValue>
        </value>
    </variables>
    <variables>
        <name>RosemontIDtoGetInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SupplierPrimaryContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
