force-app/main/default/flows/FX_Rate_transaction_update_batch_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>count_number_of_allocation</name>
        <label>count number of transaction</label>
        <locationX>375</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>Countnumberofallocation</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_transaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementTransactionupdated</name>
        <label>IncrementTransactionupdated</label>
        <locationX>681</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>Totaltransactionupdated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_transaction_is_USD</name>
        <label>If transaction is USD</label>
        <locationX>1369</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>FX_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTransactionLOOPID.CCY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Transaction</targetReference>
            </connector>
            <label>USD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_transaction</name>
        <label>Number of transaction</label>
        <locationX>603</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Loop_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_transaction_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Countnumberofallocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Number of transaction Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_transction_too_high</name>
        <label>Number of transction too high</label>
        <locationX>1088</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>If_transaction_is_USD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>transaction_limit_not_exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totaltransactionupdated</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lauch_Main_FX_rate2_transaction</targetReference>
            </connector>
            <label>transaction limit exceeded</label>
        </rules>
    </decisions>
    <interviewLabel>FX Rate transaction update batch 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FX Rate transaction update batch 2</label>
    <loops>
        <name>Loop_Transaction</name>
        <label>Loop Transaction</label>
        <locationX>1291</locationX>
        <locationY>72</locationY>
        <assignNextValueToReference>GetTransactionLOOPID</assignNextValueToReference>
        <collectionReference>get_transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Number_of_transction_too_high</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FX_Rate</name>
        <label>FX Rate</label>
        <locationX>685</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Transaction1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTransactionLOOPID.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>from_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTransactionLOOPID.CCY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rate__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <queriedFields>to_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FXRate1</name>
        <label>Get FXRate1</label>
        <locationX>171</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFXID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>date__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_transaction</name>
        <label>get transaction</label>
        <locationX>172</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_number_of_allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCY__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FXRate1.date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FX_conversion_rate_calculated__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCY_TXT__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>amount_USD_equiv__c</queriedFields>
        <queriedFields>FX_rate_conversion__c</queriedFields>
        <queriedFields>Amount_USD_Equiv_daily_fx__c</queriedFields>
        <queriedFields>FX_USD_Rate_Daily__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction1</name>
        <label>Update Transaction 1</label>
        <locationX>436</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>IncrementTransactionupdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTransactionLOOPID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_USD_Equiv_daily_fx__c</field>
            <value>
                <elementReference>RecordID.FX_USD_Rate_Daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FX_rate_conversion__c</field>
            <value>
                <elementReference>FX_Rate.rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>31</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Get_FXRate1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Lauch_Main_FX_rate2_transaction</name>
        <label>Lauch Main FX rate2 transaction</label>
        <locationX>427</locationX>
        <locationY>43</locationY>
        <flowName>Udpate_FX_rate_2_Transaction</flowName>
        <inputAssignments>
            <name>GetFXID</name>
            <value>
                <elementReference>Get_FXRate1.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Countnumberofallocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Dateoflasttransactionudated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetFXID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetTransactionLOOPID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>TotalAllocationtoupdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Totaltransactionupdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransactionID2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
</Flow>
