force-app/main/default/flows/Get_eWallets_Balance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_HKD_Balance</name>
        <label>Assign HKD Balance</label>
        <locationX>268</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>HKDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HKDeWallet.Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SGD_eWallet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SGD_Balance</name>
        <label>Assign SGD Balance</label>
        <locationX>285</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SGDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGDeWallet.Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>USD_eWallet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_USD_Balance</name>
        <label>Assign USD Balance</label>
        <locationX>287</locationX>
        <locationY>1479</locationY>
        <assignmentItems>
            <assignToReference>USDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USDeWallet.Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignEURBalance</name>
        <label>AssignEURBalance</label>
        <locationX>287</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>EURBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EUReWallet.Available_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HKD_eWallet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_HKD</name>
        <label>No HKD</label>
        <locationX>477</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>HKDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SGD_eWallet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_SGD</name>
        <label>No SGD</label>
        <locationX>489</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>SGDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>USD_eWallet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_USD</name>
        <label>No USD</label>
        <locationX>460</locationX>
        <locationY>1481</locationY>
        <assignmentItems>
            <assignToReference>USDBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NoEUR</name>
        <label>No EUR</label>
        <locationX>487</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>EURBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HKD_eWallet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EUR_eWallet</name>
        <label>EUR eWallet</label>
        <locationX>386</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>NoEUR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EUR_eWallet_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eWalletIDs.EUR_eWallet__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_EUR_eWallet_Balance</targetReference>
            </connector>
            <label>EUR eWallet exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>HKD_eWallet</name>
        <label>HKD eWallet</label>
        <locationX>391</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>No_HKD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HKD_eWallet_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eWalletIDs.HKD_eWallet__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_HKD_Balance</targetReference>
            </connector>
            <label>HKD eWallet exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SGD_eWallet</name>
        <label>SGD eWallet</label>
        <locationX>384</locationX>
        <locationY>886</locationY>
        <defaultConnector>
            <targetReference>No_SGD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SGD_eWallet_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eWalletIDs.SGD_eWallet__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_SGD_Balance</targetReference>
            </connector>
            <label>SGD eWallet exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>USD_eWallet</name>
        <label>USD eWallet</label>
        <locationX>383</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>No_USD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>USD_eWallet_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eWalletIDs.USD_eWallet__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_USD_Balance</targetReference>
            </connector>
            <label>USD eWallet exists</label>
        </rules>
    </decisions>
    <interviewLabel>Get eWallets Balance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get eWallets Balance</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EUR_eWallet_Balance</name>
        <label>Get EUR eWallet Balance</label>
        <locationX>288</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEURBalance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eWalletIDs.EUR_eWallet__c</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>EUReWallet</outputReference>
        <queriedFields>Available_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_eWallet_IDs</name>
        <label>Get eWallet IDs</label>
        <locationX>388</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EUR_eWallet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>eWalletIDs</outputReference>
        <queriedFields>EUR_eWallet__c</queriedFields>
        <queriedFields>USD_eWallet__c</queriedFields>
        <queriedFields>HKD_eWallet__c</queriedFields>
        <queriedFields>SGD_eWallet__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HKD_Balance</name>
        <label>Get HKD Balance</label>
        <locationX>269</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_HKD_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eWalletIDs.HKD_eWallet__c</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>HKDeWallet</outputReference>
        <queriedFields>Available_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SGD_Balance</name>
        <label>Get SGD Balance</label>
        <locationX>286</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SGD_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eWalletIDs.SGD_eWallet__c</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>SGDeWallet</outputReference>
        <queriedFields>Available_Balance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_USD_Balance</name>
        <label>Get USD Balance</label>
        <locationX>286</locationX>
        <locationY>1369</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_USD_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eWalletIDs.USD_eWallet__c</elementReference>
            </value>
        </filters>
        <object>eWallet__c</object>
        <outputReference>USDeWallet</outputReference>
        <queriedFields>Available_Balance__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_eWallet_IDs</startElementReference>
    <status>Active</status>
    <variables>
        <name>EURBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EUReWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>eWalletIDs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HKDBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HKDeWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>SGDBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SGDeWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>USDBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>USDeWallet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet__c</objectType>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
