force-app/main/default/flows/Invoice_Finance_Deal_Fast_Field_Update_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_External_View</name>
        <label>Check for External View</label>
        <locationX>536</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_for_Reverse_Factoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_View_c_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_RecordType</targetReference>
            </connector>
            <label>External_View__c = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Factoring_View</name>
        <label>Check for Factoring View</label>
        <locationX>536</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Factoring_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incomlend_product_del__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reverse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricing_V2_2018_Record_Type</targetReference>
            </connector>
            <label>Factoring View</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Reverse_Factoring</name>
        <label>Check for Reverse Factoring</label>
        <locationX>536</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Check_for_Factoring_View</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reverse_Factoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incomlend_product_del__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auction_Product_Recordtype</targetReference>
            </connector>
            <label>Reverse Factoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Waiting_for_allocations</name>
        <label>Check for Waiting for allocations</label>
        <locationX>536</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Check_for_External_View</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_for_allocations_c_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_allocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Waiting_For_Allocation_Date</targetReference>
            </connector>
            <label>Waiting_for_allocations__c = True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invoice Finance Deal - Fast Field Update Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Invoice Finance Deal - Fast Field Update Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Auction_Product_Recordtype</name>
        <label>Get Auction Product Recordtype</label>
        <locationX>404</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Auction_Product_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice_finance_deal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auction_Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_RecordType</name>
        <label>Get External RecordType</label>
        <locationX>404</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_External_View_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice_finance_deal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External_View</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_V2_2018_Record_Type</name>
        <label>Get Pricing V2 2018 Record Type</label>
        <locationX>404</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Pricing_V2_2018_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice_finance_deal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing_V2_2018</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Auction_Product_Record_Type</name>
        <label>Update Auction Product Record Type</label>
        <locationX>404</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Check_for_Factoring_View</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Auction_Product_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_External_View_Recordtype</name>
        <label>Update External View Recordtype</label>
        <locationX>404</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_for_Reverse_Factoring</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_External_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricing_V2_2018_Recordtype</name>
        <label>Update Pricing_V2_2018 Recordtype</label>
        <locationX>404</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pricing_V2_2018_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Waiting_For_Allocation_Date</name>
        <label>Update Waiting For Allocation Date</label>
        <locationX>404</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Check_for_External_View</targetReference>
        </connector>
        <inputAssignments>
            <field>Waiting_for_Allocations_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_for_Waiting_for_allocations</targetReference>
        </connector>
        <filterFormula>!{!$Setup.ICL_Settings__c.Disable_Migrate_Flow__c}</filterFormula>
        <object>invoice_finance_deal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
