force-app/main/default/flows/Invoice_repaid_transactions_creation_PASSTHROUGH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice_Passthrough_Transactions</name>
        <label>Create Invoice Passthrough Transactions</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>01p0T000003XlmrNotFound</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>invoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplierBuyerMap</name>
            <value>
                <elementReference>map</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_invoice_ready_to_be_repaid</name>
        <label>Is invoice ready to be repaid</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Invoice_is_not_ready_for_repayment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Readyforrepayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Actual_Repayment_Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Passthrough_Transactions</targetReference>
            </connector>
            <label>Ready for repayment</label>
        </rules>
    </decisions>
    <description>change to apex to avoid query row limit hit</description>
    <environments>Default</environments>
    <formulas>
        <name>advance_transfer_date2</name>
        <dataType>Date</dataType>
        <expression>if (isblank( {!invoice.advance_send_to_supplier_date__c} ),

DATEVALUE( {!invoice.Listing_End__c} )+1,
 {!invoice.advance_send_to_supplier_date__c}
)</expression>
    </formulas>
    <interviewLabel>Invoice repaid, transactions creation PASSTHROUGH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice repaid, transactions creation PASSTHROUGH</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Actual_Repayment_Amount__c</queriedFields>
        <queriedFields>Actual_Repayment_Received_Date__c</queriedFields>
        <queriedFields>platform_fee_fixed__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>paid_to_supplier_on_settlement__c</queriedFields>
        <queriedFields>buyer__c</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_map</name>
        <label>lookup map</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_invoice_ready_to_be_repaid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>map</outputReference>
        <queriedFields>Buyer__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Are_you_Sure</name>
        <label>Are you Sure</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>Areyousure</name>
            <fieldText>Are you sure you want to process the repayment ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_is_not_ready_for_repayment</name>
        <label>Invoice is not ready for repayment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invoicenotreadyrepaid</name>
            <fieldText>Invoice can not be repaid.
-&gt; Wrong invoice Status value OR/AND Actual Repayment Received date is not set</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_you_Sure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BalanceNote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Passthrough invoice.
Amount paid/received by buyer: {!invoice.Actual_Repayment_Amount__c} {!invoice.CCY__c} on the {!invoice.Actual_Repayment_Received_Date__c}.
Admin fee: {!invoice.platform_fee_fixed__c} {!invoice.CCY__c}.</text>
    </textTemplates>
    <variables>
        <name>allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>EulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncFeeAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomlendDiscountFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>IncOperationsAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>map</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
