force-app/main/default/flows/Invoice_Finance_Deal_Update_invoice_with_Map_Data_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Amicorp</name>
        <label>Amicorp</label>
        <locationX>542</locationX>
        <locationY>1290</locationY>
        <defaultConnector>
            <targetReference>Camelot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trustee_Amicorp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Trustee</targetReference>
            </connector>
            <label>Amicorp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Camelot</name>
        <label>Camelot</label>
        <locationX>539</locationX>
        <locationY>1518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trustee_Camelot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Trustee</targetReference>
            </connector>
            <label>Camelot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Supplier_Buyer_Map_Account_Agent</name>
        <label>Check for Supplier Buyer Map - Account Agent</label>
        <locationX>276</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Finance_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Buyer_Map_Account_Agent_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Account_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_from_the_Map</targetReference>
            </connector>
            <label>Supplier Buyer Map - Account Agent != null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overdue_discount_rate</name>
        <label>Overdue discount rate</label>
        <locationX>541</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Amicorp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overdue_discount_rate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Overdue_Supplier_discount_rate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Overdue_discount_rate_old</targetReference>
            </connector>
            <label>Overdue discount rate &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_owner_set_on_map_are_not_empty</name>
        <label>Sales owner set on map are not empty</label>
        <locationX>528</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Sales_zone_are_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_owner_set_on_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Sales_Owner_Set_DD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2019-08-29T16:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Supplier_Buyer_Map_Account_Agent</targetReference>
            </connector>
            <label>Sales owner set on map != &apos;&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_zone_are_not_empty</name>
        <label>Sales zone % are not empty</label>
        <locationX>523</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Update_Buyer_coordinate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Sales_zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2019-08-30T04:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyer_supplier_account</targetReference>
            </connector>
            <label>Sales zone % != &apos;&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Buyer_coordinate</name>
        <label>Update Buyer coordinate</label>
        <locationX>528</locationX>
        <locationY>836</locationY>
        <defaultConnector>
            <targetReference>Overdue_discount_rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyer_coordinate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2019-01-04T16:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyer_coordinate_for_email</targetReference>
            </connector>
            <label>Buyer coordinate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ComSalesBuyer</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Supplier_Buyer_Map__r.Com_Sales_buyer_2__c} * 100</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>ComSalesSupplier</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Supplier_Buyer_Map__r.com_sales_supllier_2__c} * 100</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>OverdueSupplierdiscountrate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Supplier_Buyer_Map__r.Overdue_Supplier_discount_rate__c} * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Invoice Finance Deal - Update invoice with Map Data v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Finance Deal - Update invoice with Map Data v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Agent_from_the_Map</name>
        <label>Update Agent from the Map</label>
        <locationX>48</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>Update_Invoice_Finance_Deal</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent_from_the_Map__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Account_Agent__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Buyer_coordinate_for_email</name>
        <label>Update Buyer coordinate for email</label>
        <locationX>146</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>Overdue_discount_rate</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_for_Reminder_email__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Buyer__r.Primary_contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_buyer_for_reminder_email__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Buyer__r.Primary_contact_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Buyer_supplier_account</name>
        <label>Update - Buyer supplier account</label>
        <locationX>849</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Buyer_coordinate</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Buyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Owner__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Buyer_Sales_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Owner__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Supplier_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Finance_Deal</name>
        <label>Update Invoice Finance Deal</label>
        <locationX>18</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>Sales_zone_are_not_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>Com_Sales_Buyer__c</field>
            <value>
                <elementReference>ComSalesBuyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Com_Sales_Supplier__c</field>
            <value>
                <elementReference>ComSalesSupplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner_Buyer__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Sales_Owner_Buyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner_Supplier__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Sales_Owner_Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Overdue_discount_rate_old</name>
        <label>Update Overdue discount rate(old)</label>
        <locationX>946</locationX>
        <locationY>1170</locationY>
        <connector>
            <targetReference>Amicorp</targetReference>
        </connector>
        <inputAssignments>
            <field>Overdue_sSupplier_discount_rate__c</field>
            <value>
                <elementReference>OverdueSupplierdiscountrate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trustee</name>
        <label>Update Trustee</label>
        <locationX>222</locationX>
        <locationY>1426</locationY>
        <inputAssignments>
            <field>Trustee__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Sales_owner_set_on_map_are_not_empty</targetReference>
        </connector>
        <filterFormula>!{!$Setup.ICL_Settings__c.Disable_Migrate_Flow__c}</filterFormula>
        <object>invoice_finance_deal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
