force-app/main/default/flows/Invoice_Market_Place_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Supplier_Buyer_Map_Market_place_link</name>
        <label>Check for Supplier Buyer Map Market place link</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Supplier_Buyer_Map_Market_place_link1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplier_Buyer_Map__r.Marketplace__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace_link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Market_Place_Link</targetReference>
            </connector>
            <label>Check for Supplier Buyer Map Market place link</label>
        </rules>
        <rules>
            <name>Check_for_Expected_supplier_discount_rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Supplier_Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Supplier_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Overdue_Supplier_discount_rate_old</targetReference>
            </connector>
            <label>Check for Expected supplier discount rate</label>
        </rules>
    </decisions>
    <description>Copy Supplier Buyer Map&apos;s Marketplace to Invoice Marketplace Link</description>
    <environments>Default</environments>
    <interviewLabel>Invoice Market Place Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Market Place Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Invoice_Market_Place_Link</name>
        <label>Update Invoice Market Place Link</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Marketplace_link__c</field>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__r.Marketplace__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Overdue_Supplier_discount_rate_old</name>
        <label>Update Overdue Supplier discount rate (old)</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Overdue_sSupplier_discount_rate__c</field>
            <value>
                <elementReference>$Record.Total_Supplier_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Supplier_Buyer_Map_Market_place_link</targetReference>
        </connector>
        <object>invoice_finance_deal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
