force-app/main/default/flows/Invoice_add_update_allocation_transactions_creation1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Buyback_Create_Transactions_Pricing</name>
        <label>Buyback Create Transactions Pricing</label>
        <locationX>1590</locationX>
        <locationY>1310</locationY>
        <actionName>IncomlendPricing_v3_AddAllocationInvocbl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addUpdateAllocationDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Partial_Fund_Create_Transactions_Pricing</name>
        <label>Partial Fund Create Transactions Pricing</label>
        <locationX>1326</locationX>
        <locationY>1310</locationY>
        <actionName>IncomlendPricing_v3_AddAllocationInvocbl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addUpdateAllocationDate</name>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Count_Buy_Back_Allocation</name>
        <label>Count Buy Back Allocation</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>BuyBackAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Reservation_Allocation</name>
        <label>Count Reservation Allocation</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ReservationAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Allocation</name>
        <label>Count Allocation</label>
        <locationX>1546</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Buy_Back_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Allocations.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Buy_Back_Allocation</targetReference>
            </connector>
            <label>If Buy Back Allocation</label>
        </rules>
        <rules>
            <name>If_Reservation_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Allocations.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Reservation_Allocation</targetReference>
            </connector>
            <label>If Reservation Allocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Invoice_Allocation_Ready_to_Be_Update</name>
        <label>is Invoice Allocation Ready to Be Update</label>
        <locationX>1194</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Are_you_sure_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Reservation_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReservationAllocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Reservation_Allocaction</targetReference>
            </connector>
            <label>No Reservation Allocation</label>
        </rules>
        <rules>
            <name>Partial_Funded_Only_Remaining_amount_not_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyBackAllocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice.remaining_amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice.remaining_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Remaining_amount_field_0</targetReference>
            </connector>
            <label>Partial Funded Only Remaining amount not 0</label>
        </rules>
        <rules>
            <name>No_Buy_Back_Allocation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyBackAllocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Buy_Back_Allocations</targetReference>
            </connector>
            <label>No Buy Back Allocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Invoice_Ready_to_Be_Update</name>
        <label>is Invoice Ready to Be Update</label>
        <locationX>622</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>lookup_allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Phase_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Invoice.Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3:IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Phase_field</targetReference>
            </connector>
            <label>Incorrect Phase</label>
        </rules>
        <rules>
            <name>Incorrect_remaining_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.remaining_amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Remaining_amount_field</targetReference>
            </connector>
            <label>Incorrect remaining amount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invoice add update allocation, transactions creation1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice add update allocation, transactions creation1</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>1194</locationX>
        <locationY>518</locationY>
        <collectionReference>lookup_allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_Invoice_Allocation_Ready_to_Be_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Look_up_Invoice</name>
        <label>lookup Invoice</label>
        <locationX>622</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Invoice_Ready_to_Be_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>invoice_finance_deal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>remaining_amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lookup_allocations</name>
        <label>lookup allocations</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_up_Invoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Allocation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_you_sure_0</name>
        <label>Are you sure ?</label>
        <locationX>1590</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buyback_Create_Transactions_Pricing</targetReference>
        </connector>
        <fields>
            <name>areyousure_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Are you sure you want to proceed: invoice buyback ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Phase_field</name>
        <label>Incorrect &quot;Phase&quot; field</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Incorrect_Phase_field_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Invoice is not ready because &quot;Phase&quot; field is not equals to &quot;3:IN PROGRESS&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Remaining_amount_field</name>
        <label>Incorrect &quot;Remaining amount&quot; field</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Incorrect_Phase_field_text_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Invoice is not ready because &quot;Remaining amount&quot; field is not greater or equals to 0, please ensure the total amount of &quot;Reservation&quot; allocations does not exceed that of &quot;Buyback&quot; allocations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Remaining_amount_field_0</name>
        <label>&quot;Remaining amount&quot; not 0</label>
        <locationX>1062</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Incorrect_Phase_field_text_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;No &quot;Buyback&quot; (status) allocation found, invoice is not ready for Partially Fund because &quot;Remaining amount&quot; field is not equals to 0.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Buy_Back_Allocations</name>
        <label>No Buy back Allocations</label>
        <locationX>1326</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partial_Fund_Create_Transactions_Pricing</targetReference>
        </connector>
        <fields>
            <name>No_BuyBack_Allocations_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Are you sure you want to proceed: invoice partially fund ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Reservation_Allocaction</name>
        <label>No Reservation Allocaction</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Reservation_Allocaction_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Invoice is not ready because there is no reservation allocations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_up_Invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BuyBackAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReservationAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
