force-app/main/default/flows/Invoice_special_case_transactions_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Buyback_create_transaction</name>
        <label>Buyback create transaction</label>
        <locationX>404</locationX>
        <locationY>496</locationY>
        <actionName>IncomlendPricing_v3_BuybackInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>buybackDate</name>
            <value>
                <elementReference>Buyback_date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Partial_Funded_create_transactions</name>
        <label>Partial Funded create transactions</label>
        <locationX>86</locationX>
        <locationY>499</locationY>
        <actionName>IncomlendPricing_v3_PartialFundedInvocbl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partialFundedDate</name>
            <value>
                <elementReference>Partially_funded_date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Special_Case</name>
        <label>Special Case</label>
        <locationX>474</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partial_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Special</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PartialFunded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>Partial Funded</label>
        </rules>
        <rules>
            <name>Buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Special</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure_0</targetReference>
            </connector>
            <label>Buyback</label>
        </rules>
    </decisions>
    <interviewLabel>Invoice special case, transactions creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice special case, transactions creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>86</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partial_Funded_create_transactions</targetReference>
        </connector>
        <fields>
            <name>areyousure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want to process: invoice partially funding ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partially_funded_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Partially funding date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Are_you_sure_0</name>
        <label>Are you sure ?</label>
        <locationX>404</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buyback_create_transaction</targetReference>
        </connector>
        <fields>
            <name>areyousure_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Are you sure you want to process: invoice buyback?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buyback_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Buyback date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>356</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Special_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReservationAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Special</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
