force-app/main/default/flows/Invoice_partial_funded_transactions_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Partial_Funded_Transactions</name>
        <label>Create Partial Funded Transactions</label>
        <locationX>974</locationX>
        <locationY>208</locationY>
        <actionName>IncomlendPricing_v3_PartialFundedInvocbl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partialFundedDate</name>
            <value>
                <elementReference>Partially_funded_date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Reservation_Allocation</name>
        <label>Count Reservation Allocation</label>
        <locationX>31</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>ReservationAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Allocation</name>
        <label>Count Allocation</label>
        <locationX>13</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Loop_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Reservation_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Allocations.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reservation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Reservation_Allocation</targetReference>
            </connector>
            <label>If Reservation Allocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Invoice_Ready_to_Be_Partially_Funding</name>
        <label>is Invoice Ready to Be Partially Funding</label>
        <locationX>967</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Create_Partial_Funded_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Phase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Invoice.Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3:IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Invoice.Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2:ON MARKETPLACE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Phase_field</targetReference>
            </connector>
            <label>Incorrect Phase</label>
        </rules>
        <rules>
            <name>No_Reservation_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReservationAllocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Reservation_Allocaction</targetReference>
            </connector>
            <label>No Reservation Allocation</label>
        </rules>
    </decisions>
    <interviewLabel>Invoice partial funded, transactions creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice partial funded, transactions creation</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>562</locationX>
        <locationY>316</locationY>
        <collectionReference>lookup_allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_Invoice_Ready_to_Be_Partially_Funding</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Look_up_Invoice</name>
        <label>lookup Invoice</label>
        <locationX>744</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>invoice_finance_deal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lookup_allocations</name>
        <label>lookup allocations</label>
        <locationX>744</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_up_Invoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Allocation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>488</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_up_Invoice</targetReference>
        </connector>
        <fields>
            <name>areyousure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure you want to process: invoice partially funding ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Partially_funded_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Partially funding date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Phase_field</name>
        <label>Incorrect &quot;Phase&quot; field</label>
        <locationX>456</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Incorrect_Phase_field_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Invoice is not ready because &quot;Phase&quot; field is not equals to &quot;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 33, 36); font-size: 12px; font-family: consolas, &amp;quot;lucida console&amp;quot;, &amp;quot;courier new&amp;quot;, monospace;&quot;&gt;3:IN PROGRESS&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Reservation_Allocaction</name>
        <label>No Reservation Allocaction</label>
        <locationX>450</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Reservation_Allocaction_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Invoice is not ready because there is no reservation allocations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReservationAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
