force-app/main/default/flows/LEAD_send_onboarding_link_AUTO_v4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer</name>
        <label>Lead : Incomlend send Welcome Email customer</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer_BUYER</name>
        <label>Lead : Incomlend send Welcome Email customer BUYER</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer_BUYER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer_SUPPLIER</name>
        <label>Lead : Incomlend send Welcome Email customer SUPPLIER</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer_SUPPLIER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decision_Lead_Type</name>
        <label>Decision Lead Type</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Lead_Incomlend_send_Welcome_Email_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Type_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Incomlend_send_Welcome_Email_customer_SUPPLIER</targetReference>
            </connector>
            <label>Lead Type Supplier</label>
        </rules>
        <rules>
            <name>Lead_Type_Buyer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Incomlend_send_Welcome_Email_customer_BUYER</targetReference>
            </connector>
            <label>Lead Type Buyer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LEAD: send onboarding link ( AUTO) v4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD: send onboarding link ( AUTO) v4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Lead_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agent_Email__c</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Platfrom_Origin__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Credit_Limit_Provided_by_Insurer__c</queriedFields>
        <queriedFields>Customer_Type__c</queriedFields>
        <queriedFields>Date_Onboarding_link_Sent__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Date_Termsheet_Signed__c</queriedFields>
        <queriedFields>Product_type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead_Status_0_0</name>
        <label>Update lead Status</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Onboarding Link Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Termsheet_Signed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Term Sheet Signed</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
