force-app/main/default/flows/Lead_Update_CL_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Sales_Opportunity_Created</name>
        <label>New_Sales_Opportunity_Created</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <actionName>Lead.New_Sales_Opportunity_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>The Credit limit have been provided by insurer , and an opportunity wit this buyer has been created please :
-Update this opportunity with the Supplier lead
-Update first cycle amount and first Cycle Date
-Prepare term sheet and send to ops</description>
        <name>Task_Credit_Limit_approved</name>
        <label>Task_Credit_Limit_approved</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Update_CL_related_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Task Credit Limit Provided by Insurer</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_Condition_for_Reapply_Atradious</name>
        <label>Check Condition for Reapply Atradious</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reapply_Atradius_Origination</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Limit Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Limit_requested__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insured_by__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BCC Trade Credit Pty Ltd - Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insured_by__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FCI-NFC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insured_by__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ICEIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Atradius_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reapply Atradius Origination</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Type</name>
        <label>Check Customer Type</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insurer_response_CL_Greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Limit_Provided_by_Insurer__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Credit_Limit_approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Insurer response CL &gt;0</label>
        </rules>
        <rules>
            <name>Insurer_response_CL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Limit_Provided_by_Insurer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_status_insurance</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Insurer response CL = 0</label>
        </rules>
    </decisions>
    <description>Update CL related fields, Create new sales opportunity and create task according to CL approval and rejection and Reapply Atradius Origination</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime} + 3</expression>
    </formulas>
    <interviewLabel>Lead - Update CL Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update CL Fields and Reapply Atradius Origination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Buyer_Sales_Opportunity</name>
        <label>Create Buyer Sales Opportunity</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>New_Sales_Opportunity_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Country__c</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Provided_by_insurer__c</field>
            <value>
                <elementReference>$Record.Credit_Limit_Provided_by_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Requested__c</field>
            <value>
                <elementReference>$Record.Credit_Limit_requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Answer_Insurer__c</field>
            <value>
                <elementReference>$Record.Insurer_actual_response_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurer_Name__c</field>
            <value>
                <elementReference>$Record.Insured_by__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Status__c</field>
            <value>
                <stringValue>Credit Limit Obtained</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Owner_Upload__c</field>
            <value>
                <elementReference>$Record.Owner:User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Potential_Supplier_s__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Atradius_Fields</name>
        <label>Update Atradius Fields</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_Customer_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Atradius_Cover_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Atradius_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Limit_Request_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CL_related_Fields</name>
        <label>Update CL related Fields</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Create_Buyer_Sales_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Insurer_actual_response_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Credit Limit Provided  by Insurer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_status_insurance</name>
        <label>Update lead status insurance</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Credit Limit Rejected by Insurer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Condition_for_Reapply_Atradious</targetReference>
        </connector>
        <filterFormula>{!$Setup.ICL_Settings__c.Enable_migrate_flow__c}</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
