force-app/main/default/flows/LEAD_Welcome_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_Agent</name>
        <label>Lead : Incomlend send Welcome Email Agent</label>
        <locationX>1437</locationX>
        <locationY>450</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Agent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer</name>
        <label>Lead : Incomlend send Welcome Email customer</label>
        <locationX>1000</locationX>
        <locationY>446</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer_BUYER</name>
        <label>Lead : Incomlend send Welcome Email customer BUYER</label>
        <locationX>1217</locationX>
        <locationY>600</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer_BUYER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Incomlend_send_Welcome_Email_customer_SUPPLIER</name>
        <label>Lead : Incomlend send Welcome Email customer SUPPLIER</label>
        <locationX>1097</locationX>
        <locationY>521</locationY>
        <actionName>Lead.Lead_Incomlend_send_Welcome_Email_Customer_SUPPLIER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Shipfin_Send_Welcom_Email_buyer</name>
        <label>Lead: Shipfin Send Welcom Email buyer</label>
        <locationX>599</locationX>
        <locationY>438</locationY>
        <actionName>Lead.Lead_Shipfin_send_Welcome_Email_customer_BUYER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Shipfin_Send_Welcom_Email_supplier</name>
        <label>Lead: Shipfin Send Welcom Email supplier</label>
        <locationX>684</locationX>
        <locationY>559</locationY>
        <actionName>Lead.Lead_Shipfin_send_Welcome_Email_customer_SUPPLIER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Shipfin_send_Welcome_Email_Agent</name>
        <label>Lead : Shipfin send Welcome Email Agent</label>
        <locationX>801</locationX>
        <locationY>450</locationY>
        <actionName>Lead.Lead_Shipfin_send_Welcome_Email_Agent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Shipfin_send_Welcome_Email_customer</name>
        <label>Lead : Shipfin send Welcome Email customer</label>
        <locationX>500</locationX>
        <locationY>402</locationY>
        <actionName>Lead.Lead_Shipfin_send_Welcome_Email_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead_Status</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Choice_CMA_Incomlend_0</name>
        <label>Choice CMA -Incomlend</label>
        <locationX>1120</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>choose_email2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMA_0</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Agent_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Shipfin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Agent_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Platfrom_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipfin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CMA-CGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>choose_email2CMA</targetReference>
            </connector>
            <label>CMA</label>
        </rules>
    </decisions>
    <decisions>
        <name>choose_email2</name>
        <label>choose email</label>
        <locationX>1314</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Lead_Incomlend_send_Welcome_Email_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>send Agent</defaultConnectorLabel>
        <rules>
            <name>send_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emal_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Lead_Type</targetReference>
            </connector>
            <label>send Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>choose_email2CMA</name>
        <label>choose email CMA</label>
        <locationX>831</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Lead_Shipfin_send_Welcome_Email_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>send Agent</defaultConnectorLabel>
        <rules>
            <name>send_Customer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emal_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Type_Decision</targetReference>
            </connector>
            <label>send Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Lead_Type</name>
        <label>Decision Lead Type</label>
        <locationX>1013</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Lead_Incomlend_send_Welcome_Email_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Type_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Incomlend_send_Welcome_Email_customer_SUPPLIER</targetReference>
            </connector>
            <label>Lead Type Supplier</label>
        </rules>
        <rules>
            <name>Lead_Type_Buyer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Incomlend_send_Welcome_Email_customer_BUYER</targetReference>
            </connector>
            <label>Lead Type Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type_Decision</name>
        <label>Lead Type Decision</label>
        <locationX>531</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Lead_Shipfin_send_Welcome_Email_customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Type_Supplier_CMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Shipfin_Send_Welcom_Email_supplier</targetReference>
            </connector>
            <label>Lead Type Supplier CMA</label>
        </rules>
        <rules>
            <name>Lead_Type_Buyer_CMA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Product_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer Factoring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Shipfin_Send_Welcom_Email_buyer</targetReference>
            </connector>
            <label>Lead Type Buyer CMA</label>
        </rules>
    </decisions>
    <description>Send different email for buyer and supplier include Shipfin</description>
    <interviewLabel>LEAD : Welcome email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD : Send Customer on Onbaording Platform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>390</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agent_Email__c</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Platfrom_Origin__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Credit_Limit_Provided_by_Insurer__c</queriedFields>
        <queriedFields>Customer_Type__c</queriedFields>
        <queriedFields>Product_type__c</queriedFields>
        <queriedFields>Date_Onboarding_link_Sent__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead_Status</name>
        <label>Update lead Status</label>
        <locationX>530</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Onboarding_link_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Onboarding Link Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_Status_0</name>
        <label>Update lead Status</label>
        <locationX>817</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Onboarding_link_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Onboarding Link Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_Status_0_0</name>
        <label>Update lead Status</label>
        <locationX>1005</locationX>
        <locationY>633</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Onboarding_link_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Onboarding Link Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_Status_0_0_0</name>
        <label>Update lead Status</label>
        <locationX>1433</locationX>
        <locationY>620</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Onboarding_link_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Onboarding Link Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <description>choose email of the agent or the lead for the welcome email</description>
        <name>Choose_Email</name>
        <label>Choose to whom to send the Onboarding link</label>
        <locationX>971</locationX>
        <locationY>3</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choice_CMA_Incomlend_0</targetReference>
        </connector>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;p&gt;Please choose the email to send the Link of the onboarding platform &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Customer</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_lead.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Customer</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emal_Customer</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>E-mail Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_agent</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_lead.Agent_Email__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>E_mail_Agent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>E-mail Agent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;This fonction send a link to the onboarding platform,&lt;/p&gt;</helpText>
        <pausedText>&lt;p&gt;{!Get_lead.Name} please fill the email . Agent or Customer to sent the welcome email&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
