force-app/main/default/flows/List_in_Marketplace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>isInvoiceReadytoBeFunded</name>
        <label>isInvoiceReadytoBeFunded</label>
        <locationX>423</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Ready_to_be_Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoice.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2:ON MARKETPLACE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice.advance_send_to_supplier_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Ready to be Funded</label>
        </rules>
    </decisions>
    <formulas>
        <name>advance_transfer_date2</name>
        <dataType>Date</dataType>
        <expression>if (isblank( {!invoice.advance_send_to_supplier_date__c} ),

DATEVALUE( {!invoice.Listing_End__c} )+1,
 {!invoice.advance_send_to_supplier_date__c}
)</expression>
    </formulas>
    <interviewLabel>List in Marketplace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>List in Marketplace</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>lookup invoice</label>
        <locationX>311</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Listing_End__c</queriedFields>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>is_it_withinCredit_Limit__c</queriedFields>
        <queriedFields>discount_rate__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Listing_Start__c</queriedFields>
        <queriedFields>Email_sent_to_Rosemont__c</queriedFields>
        <queriedFields>Buyer_acknowledgment_date__c</queriedFields>
        <queriedFields>Buyer_acknowledgment_details__c</queriedFields>
        <queriedFields>Buyer_acknowledgment_received_date__c</queriedFields>
        <queriedFields>Platform_fee_percentage__c</queriedFields>
        <queriedFields>buyer_confirmed_PO_details__c</queriedFields>
        <queriedFields>buyer_confirmed_invoice_details__c</queriedFields>
        <queriedFields>Buyer_Confirmed_acceptance__c</queriedFields>
        <queriedFields>good_shipped__c</queriedFields>
        <queriedFields>confirmed_delivery__c</queriedFields>
        <queriedFields>internal_validation_notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_map</name>
        <label>lookup map</label>
        <locationX>515</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>map</outputReference>
        <queriedFields>Buyer__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Max_Discount_accepted_without_warning__c</queriedFields>
        <queriedFields>Min_Discount_accepted_without_warning__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure ?</label>
        <locationX>111</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookup_invoice</targetReference>
        </connector>
        <fields>
            <name>areyousure</name>
            <fieldText>Are you sure you want to process: invoice funded ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotReady</name>
        <label>NotReady</label>
        <locationX>244</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invoicenotready</name>
            <fieldText>Invoice can not be funded
-&gt; Wrong Phase or Actual supplier funds credited date is not set</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Are_you_sure</startElementReference>
    <status>Draft</status>
    <variables>
        <name>allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>IncOperationsAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>map</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
    <variables>
        <name>UniqueAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
</Flow>
