force-app/main/default/flows/Logic_Trustee_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_trustee_is_here</name>
        <label>Check if trustee is here</label>
        <locationX>77</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Get_Supplier_Buyer_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trustee_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Supplier_Buyer_Map.Trustee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Trustee Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choice_Trustee_for_Map</name>
        <label>Choice Trustee for Map</label>
        <locationX>1036</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Default_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ST_BT_AT_are_Camelot_and_Amicorp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <label>ST BT AT are Camelot and Amicorp</label>
        </rules>
        <rules>
            <name>ST_BT_AG_contains_Camelot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Map_Camelot</targetReference>
            </connector>
            <label>ST , BT, AG contains Camelot</label>
        </rules>
        <rules>
            <name>ST_BT_AT_contain_Amicorp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Map_Amicorp</targetReference>
            </connector>
            <label>ST, BT, AT contain Amicorp</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST</name>
        <label>ST</label>
        <locationX>728</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>When_ST_BT_AT_are_both_Amicorp_and_Camelot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Trustee_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Supplier_Trustee_is_empty3</targetReference>
            </connector>
            <label>Supplier Trustee is Empty</label>
        </rules>
        <rules>
            <name>buyer_trustee_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Buyer_trustee_is_empty2</targetReference>
            </connector>
            <label>buyer trustee is empty</label>
        </rules>
        <rules>
            <name>agent_trustee_is_empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Agent_trustee_is_empty</targetReference>
            </connector>
            <label>agent trustee is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_ST_BT_AT_are_both_Amicorp_and_Camelot</name>
        <label>When ST , BT , AT are both Amicorp and Camelot</label>
        <locationX>847</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Choice_Trustee_for_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_ST_BT_AT_are_both_Amicorp_and_Camelot2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Agent.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Supplier.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amicorp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Buyer.Trustee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Camelot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_the_Trustee</targetReference>
            </connector>
            <label>When ST , BT , AT are both Amicorp and Camelot</label>
        </rules>
    </decisions>
    <description>add check if trustee is there</description>
    <dynamicChoiceSets>
        <name>ChooseTrusteee</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trustee__c</picklistField>
        <picklistObject>Supplier_Buyer_Map__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Logic Trustee Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logic Trustee Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Agent</name>
        <label>Get Account Agent</label>
        <locationX>460</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Account_Agent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Buyer</name>
        <label>Get Account buyer</label>
        <locationX>313</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Buyer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Supplier</name>
        <label>Get Account Supplier</label>
        <locationX>143</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Buyer_Map</name>
        <label>Get Supplier Buyer Map</label>
        <locationX>232</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMapID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supplier_Buyer_Map__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Buyer__c</queriedFields>
        <queriedFields>Account_Agent__c</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_agent_trustee</name>
        <label>Update Agent trustee</label>
        <locationX>554</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Get_Supplier_Buyer_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Agent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <elementReference>ChooseTrusteee</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_buyer_trustee_2</name>
        <label>Update buyer trustee</label>
        <locationX>453</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Get_Supplier_Buyer_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Buyer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <elementReference>ChooseTrusteee</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Map_Amicorp</name>
        <label>Update Map Amicorp</label>
        <locationX>1305</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <stringValue>Amicorp</stringValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Map_Camelot</name>
        <label>Update Map Camelot</label>
        <locationX>1200</locationX>
        <locationY>364</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <stringValue>Camelot</stringValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Map_trustee</name>
        <label>Update Map trustee</label>
        <locationX>690</locationX>
        <locationY>371</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supplier_Buyer_Map.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <elementReference>Choose_trustee</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_trustee</name>
        <label>Update Supplier trustee</label>
        <locationX>369</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Get_Supplier_Buyer_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Supplier.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <elementReference>ChooseTrusteee</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Choose the Trustee for Agent</description>
        <name>Agent_trustee_is_empty</name>
        <label>Agent trustee is empty</label>
        <locationX>548</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_agent_trustee</targetReference>
        </connector>
        <fields>
            <name>Supplier_trustee_is_empty2_0_0</name>
            <fieldText>&lt;p&gt;the Trustee of the Agent is not set&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the trustee for Agent&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supplier Trustee : {!Get_Account_Supplier.Trustee__c}&lt;/p&gt;&lt;p&gt;Buyer Trustee : {!Get_Account_Buyer.Trustee__c}&lt;/p&gt;&lt;p&gt;Agent Trustee : {!Get_Account_Agent.Trustee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Agent_Trustee</name>
            <choiceReferences>ChooseTrusteee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Agent Trustee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose the Trustee for buyer</description>
        <name>Buyer_trustee_is_empty2</name>
        <label>Buyer trustee is empty</label>
        <locationX>442</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_buyer_trustee_2</targetReference>
        </connector>
        <fields>
            <name>Supplier_trustee_is_empty2_0</name>
            <fieldText>&lt;p&gt;The Trustee of the buyer is not set&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the trustee for the Buyer&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supplier Trustee : {!Get_Account_Supplier.Trustee__c}&lt;/p&gt;&lt;p&gt;Buyer Trustee : {!Get_Account_Buyer.Trustee__c}&lt;/p&gt;&lt;p&gt;Agent Trustee : {!Get_Account_Agent.Trustee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Buyer_Trustee</name>
            <choiceReferences>ChooseTrusteee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Buyer Trustee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose the Trustee</description>
        <name>Choose_the_Trustee</name>
        <label>Choose the Trustee</label>
        <locationX>700</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Map_trustee</targetReference>
        </connector>
        <fields>
            <name>Choose_the_trustee2</name>
            <fieldText>&lt;p&gt;Supplier , Buyer and Agent are onboarded both from Amicorp and Camelot . Please choose the Trustee&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supplier Trustee : {!Get_Account_Supplier.Trustee__c}&lt;/p&gt;&lt;p&gt;Buyer Trustee : {!Get_Account_Buyer.Trustee__c}&lt;/p&gt;&lt;p&gt;Agent Trustee : {!Get_Account_Agent.Trustee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_trustee</name>
            <choiceReferences>ChooseTrusteee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose trustee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Default_Problem</name>
        <label>Default Problem</label>
        <locationX>881</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Default_Problem_4</name>
            <fieldText>&lt;p&gt;It seems the Map has not been updated, Please check if the Buyer, Supplier and Agent must have the same trustee.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supplier Trustee : {!Get_Account_Supplier.Trustee__c}&lt;/p&gt;&lt;p&gt;Buyer Trustee : {!Get_Account_Buyer.Trustee__c}&lt;/p&gt;&lt;p&gt;Agent Trustee : {!Get_Account_Agent.Trustee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose the Trustee</description>
        <name>Supplier_Trustee_is_empty3</name>
        <label>Supplier Trustee is empty</label>
        <locationX>370</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Supplier_trustee</targetReference>
        </connector>
        <fields>
            <name>Supplier_trustee_is_empty2</name>
            <fieldText>&lt;p&gt;the Trustee of the Supplier is not set&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the Supplier Trustee&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supplier Trustee : {!Get_Account_Supplier.Trustee__c}&lt;/p&gt;&lt;p&gt;Buyer Trustee : {!Get_Account_Buyer.Trustee__c}&lt;/p&gt;&lt;p&gt;Agent Trustee : {!Get_Account_Agent.Trustee__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Supplier_Trustee</name>
            <choiceReferences>ChooseTrusteee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Supplier Trustee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Check_if_trustee_is_here</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SupplierBuyerMapID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
