force-app/main/default/flows/Maintenance_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_global_transaction</name>
        <label>Count global transaction</label>
        <locationX>580</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>Numberoftransactionglobal</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_transaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>transaction_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_transaction_uptaded_count</name>
        <label>Increment transaction uptaded count</label>
        <locationX>422</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>transactionupdatedcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_total_transaction</name>
        <label>set total transaction</label>
        <locationX>741</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>TotalTransactiontosend</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_limit_transaction_is_reached</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CountofData</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>if_limit_transaction_is_reached</name>
        <label>if limit transaction is reached</label>
        <locationX>1045</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Loop_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>transction_limit_not_exceded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionupdatedcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_trasaction</targetReference>
            </connector>
            <label>transction limit not exceded</label>
        </rules>
    </decisions>
    <decisions>
        <name>transaction_count</name>
        <label>transaction count</label>
        <locationX>920</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>Loop_transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>too_much_transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numberoftransactionglobal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <label>too much transaction</label>
        </rules>
    </decisions>
    <description>Update all transaction non archived 2</description>
    <interviewLabel>Maintenance Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintenance Transaction</label>
    <loops>
        <name>Loop_transaction</name>
        <label>Loop transaction</label>
        <locationX>422</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>Looptransactiononebyone</assignNextValueToReference>
        <collectionReference>get_transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_total_transaction</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_transaction</name>
        <label>get transaction</label>
        <locationX>413</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_global_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Creation_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2019-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Creation_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <dateValue>2019-02-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>eWallet_Trustee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>eWallet_Trustee_TXT__c</queriedFields>
        <queriedFields>eWallet_Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_trasaction</name>
        <label>update trasaction</label>
        <locationX>1052</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Increment_transaction_uptaded_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Looptransactiononebyone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>eWallet_Trustee__c</field>
            <value>
                <elementReference>Looptransactiononebyone.eWallet_Trustee_TXT__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_transaction</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>existingtransaction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Looptransactiononebyone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Numberoftransactionglobal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalTransactiontosend</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionupdatedcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
