force-app/main/default/flows/make_prospect_buyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>EHCreditRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Euler_Hermes_Credit_Rating__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>marketplace_for_fx</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>default_marketplace__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Marketplace__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>incomlend_product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>make prospect buyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>make prospect buyer</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>make_buyer</name>
        <label>make buyer</label>
        <locationX>330</locationX>
        <locationY>255</locationY>
        <assignRecordIdToReference>buyerid</assignRecordIdToReference>
        <connector>
            <targetReference>make_supplier_buyer_map</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_registration_number__c</field>
            <value>
                <elementReference>Company_Registration_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Euler_Hermes_Credit_Rating__c</field>
            <value>
                <elementReference>EH_Rating2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurer_Company_Reference_Number__c</field>
            <value>
                <elementReference>EH_Company_Reference_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01228000000vQE5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_type__c</field>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>onboarding_stage__c</field>
            <value>
                <stringValue>10.Checking Buyers</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>make_supplier_buyer_map</name>
        <label>make supplier buyer map</label>
        <locationX>334</locationX>
        <locationY>393</locationY>
        <inputAssignments>
            <field>Buyer__c</field>
            <value>
                <elementReference>buyerid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomlend_product__c</field>
            <value>
                <elementReference>custom_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace__c</field>
            <value>
                <elementReference>marketplace_for_fx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Total_Yearly_Invoice_Count__c</field>
            <value>
                <elementReference>total_number_of_invoices_per_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_total_yearly_Invoice_Value__c</field>
            <value>
                <elementReference>total_yearly_invoice_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>supplierid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expected_funding_period__c</field>
            <value>
                <elementReference>expected_financing_period</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>map_onboarding_stage__c</field>
            <value>
                <stringValue>10.Checking Insurance</stringValue>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordCreates>
    <screens>
        <name>Capture_prospect_buyer_information</name>
        <label>Capture prospect buyer information</label>
        <locationX>329</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>make_buyer</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <dataType>String</dataType>
            <fieldText>buyer name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EH_Rating2</name>
            <choiceReferences>EHCreditRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>EH Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>total_yearly_invoice_value</name>
            <dataType>Currency</dataType>
            <fieldText>total yearly invoice value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>total_number_of_invoices_per_year</name>
            <dataType>Number</dataType>
            <fieldText>total number of invoices per year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>expected_financing_period</name>
            <dataType>Number</dataType>
            <fieldText>expected financing period</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>custom_product</name>
            <choiceReferences>products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>custom product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>marketplace_fx</name>
            <choiceReferences>marketplace_for_fx</choiceReferences>
            <dataType>String</dataType>
            <fieldText>marketplace for fx</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EH_Company_Reference_Number</name>
            <dataType>String</dataType>
            <fieldText>EH Company Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Registration_Number</name>
            <dataType>String</dataType>
            <fieldText>Company Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Capture_prospect_buyer_information</startElementReference>
    <status>Active</status>
    <variables>
        <name>buyerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
