force-app/main/default/flows/Map_Legal_Document_Update_Document_Reference_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_For_Document_Type</name>
        <label>Check For Document Type</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Buyer_Map_ARPA</targetReference>
            </connector>
            <label>ARPA</label>
        </rules>
        <rules>
            <name>PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Buyer_Map_PSA</targetReference>
            </connector>
            <label>PSA</label>
        </rules>
    </decisions>
    <description>This flow is to update document reference number from Map legal document to supplier buyer map.</description>
    <environments>Default</environments>
    <interviewLabel>Map Legal Document - Update Document Reference Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map Legal Document - Update Document Reference Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Supplier_Buyer_Map_ARPA</name>
        <label>Update Supplier Buyer Map - ARPA</label>
        <locationX>272</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARPA_Document_Reference_Number__c</field>
            <value>
                <elementReference>$Record.Ref_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Buyer_Map_PSA</name>
        <label>Update Supplier Buyer Map - PSA</label>
        <locationX>889</locationX>
        <locationY>476</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PSA_Document__c</field>
            <value>
                <elementReference>$Record.Ref_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Buyer_Map__c</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_For_Document_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RPA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSA</stringValue>
            </value>
        </filters>
        <object>Map_Supporting_Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
