force-app/main/default/flows/Migrate_Supplier_Buyer_Map_Fast_Field_Update_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CL_for_Incomlend_is_Changed</name>
        <label>CL for Incomlend is Changed</label>
        <locationX>578</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Update_Indexed_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CL_Incomlend_for_this_Map_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CL_Incomlend_for_this_Map__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CL_For_Incomlend</targetReference>
            </connector>
            <label>CL Incomlend for this Map Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Committee_Status_is_Approved</name>
        <label>Credit Committee Status is Approved</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>CL_for_Incomlend_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Committee_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Committee_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Committee_Approval_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Credit Committee Status = Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_as</name>
        <label>Display as</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Credit_Committee_Status_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_as_Risk1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Select_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Risk_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Display as Risk</label>
        </rules>
        <rules>
            <name>Display_as_Normal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Select_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Select_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_Buyer_Map_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Display as Normal</label>
        </rules>
        <rules>
            <name>Display_as_Funders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Select_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funders_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Display as Funders</label>
        </rules>
        <rules>
            <name>Display_as_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Select_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Display as External</label>
        </rules>
    </decisions>
    <decisions>
        <description>Split the commission automatically between sales Supplier and Sales Buyer if Factoring</description>
        <name>Sales_Map_factoring</name>
        <label>Sales Map factoring</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Tick_box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Map_factoring1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MarketplaceNameStr</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Standard Insured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Sales_Map_factoring</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sales Map factoring</label>
        </rules>
        <rules>
            <name>Sales_reverse_factoring2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketplaceNameStr</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2019-10-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Sales_Reverse_Factoring</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sales reverse factoring</label>
        </rules>
        <rules>
            <name>Sales_reverse_factoring3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketplaceNameStr</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Reverse Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2019-10-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Sales_Reverse_factoring_before_2019_10</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sales Reverse factoring before 2019-10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_Discount_rate</name>
        <label>Supplier Discount rate</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Display_as</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Discount_rate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Discount_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supplier_Discount_Rate_Month</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Supplier Discount rate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Tickbox active when the map is active ( need to review the logic)</description>
        <name>Tick_box</name>
        <label>Tick-box</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Supplier_Discount_rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tickbox_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.map_onboarding_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01 - Blocked - no stats</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.map_onboarding_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>10.Checking Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.map_onboarding_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>rejected by buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.map_onboarding_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>rejected by supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.map_onboarding_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>rejected by Incomlend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tick_box_active</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tick box active</label>
        </rules>
        <rules>
            <name>Tick_box_InActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.General_Status_Map__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tick_box_in_active</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tick box InActive</label>
        </rules>
    </decisions>
    <description>Migration from Workflows to Flow.
1	Update Email Supplier for Approval
2	Split Sales Map factoring
3	Split Sales reverse factoring
4	Split Sales Reverse factoring before 201910
5	Update TickBox Active
6	Update TickBox unActive
7	Supplier Discount rate
8	Risk View
9	Normal View
10	Funder view
11	External
12	Credit Committee Approval Date
13	GetPrioValueCLIncomlend
14	map name changes</description>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>If( IsNew(), Now(), {!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>MarketplaceNameStr</name>
        <dataType>String</dataType>
        <expression>{!$Record.Incomlend_product__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NameStr</name>
        <dataType>String</dataType>
        <expression>{!$Record.Supplier__r.Name} + &quot; selling to &quot; + {!$Record.Buyer__r.Name} + &quot; (&quot; + {!$Record.Incomlend_product__r.Name} + &quot; on marketplace &quot; + {!MarketplaceNameStr}</expression>
    </formulas>
    <formulas>
        <name>SupplierEmailContact</name>
        <dataType>String</dataType>
        <expression>{!$Record.Supplier__r.Primary_contact_email__c}</expression>
    </formulas>
    <interviewLabel>Migrate Supplier Buyer Map - Fast Field Update Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Supplier Buyer Map - Fast Field Update Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_External_Recordtype</name>
        <label>Get External Recordtype</label>
        <locationX>842</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_External_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Buyer_Map__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extern</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funders_Recordtype</name>
        <label>Get Funders Recordtype</label>
        <locationX>578</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Funders_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Buyer_Map__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funders</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Recordtype</name>
        <label>Get Risk Recordtype</label>
        <locationX>50</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Risk_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Buyer_Map__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Buyer_Map_Recordtype</name>
        <label>Get Supplier Buyer Map Recordtype</label>
        <locationX>314</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Supplier_Buyer_Map_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Buyer_Map__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier_Buyer_Map</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Split_Sales_Map_factoring</name>
        <label>Split Sales Map factoring</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Tick_box</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Sales_Zone__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Zone__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Split_Sales_Reverse_Factoring</name>
        <label>Split Sales Reverse Factoring</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Tick_box</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Sales_Zone__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Zone__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Split_Sales_Reverse_factoring_before_2019_10</name>
        <label>Split Sales Reverse factoring before 2019-10</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Tick_box</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Sales_Zone__c</field>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Zone__c</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CL_For_Incomlend</name>
        <label>Update CL For Incomlend</label>
        <locationX>446</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Update_Indexed_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>CL_Incomlend_Change_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_CL_Incomlend__c</field>
            <value>
                <elementReference>$Record__Prior.CL_Incomlend_for_this_Map__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Committee_Approval_Date</name>
        <label>Update Credit Committee Approval Date</label>
        <locationX>446</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>CL_for_Incomlend_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Committee_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Supplier_for_Approval</name>
        <label>Update Email Supplier for Approval</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Sales_Map_factoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>supplier_contacts_for_invoice_approval__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>supplier_contacts_for_invoice_approval__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SupplierEmailContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>supplier_contacts_for_invoice_approval__c</field>
            <value>
                <elementReference>SupplierEmailContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_External_Recordtype</name>
        <label>Update External Recordtype</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Credit_Committee_Status_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_External_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funders_Recordtype</name>
        <label>Update Funders Recordtype</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Credit_Committee_Status_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Funders_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Indexed_Name</name>
        <label>Update Indexed Name</label>
        <locationX>578</locationX>
        <locationY>2567</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name_Indexed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NameStr</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name_Indexed__c</field>
            <value>
                <elementReference>NameStr</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Risk_Recordtype</name>
        <label>Update Risk Recordtype</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Credit_Committee_Status_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Risk_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Buyer_Map_Recordtype</name>
        <label>Update Supplier Buyer Map Recordtype</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Credit_Committee_Status_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Supplier_Buyer_Map_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Discount_Rate_Month</name>
        <label>Update Supplier Discount Rate / Month</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Display_as</targetReference>
        </connector>
        <inputAssignments>
            <field>Supplier_Discount_Rate__c</field>
            <value>
                <elementReference>$Record.Recommended_Discount_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tick_box_active</name>
        <label>Update Tick box active</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Supplier_Discount_rate</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tick_box_in_active</name>
        <label>Update Tick box In-Active</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Supplier_Discount_rate</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Email_Supplier_for_Approval</targetReference>
        </connector>
        <object>Supplier_Buyer_Map__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
