force-app/main/default/flows/Migrate_Sales_Opportunity_Fast_Field_Update_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>buyer_name_CL</name>
        <label>buyer name CL</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>supplier_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>buyer_name_CL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_buyer_name_CL</targetReference>
            </connector>
            <label>buyer name CL</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForecastCompleted</name>
        <label>Forecast Completed</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>MissingForecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forecast_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_invoice_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_First_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Tenor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forecast_Completed1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Forecast Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingForecast</name>
        <label>Missing Forecast</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Forecast1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_invoice_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_First_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Tenor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Forecast</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Missing Forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>supplier_name</name>
        <label>supplier name</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>supplier_name1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Name_Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_supplier_name</targetReference>
            </connector>
            <label>supplier name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_buyer_name_supplier_name_CL</name>
        <label>Update buyer name supplier name CL</label>
        <locationX>380</locationX>
        <locationY>2231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>buyer_name_supplier_name_CL1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supply Chain Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buyer_name_CL</targetReference>
            </connector>
            <label>buyer name supplier name CL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_opportunity_Factoring</name>
        <label>Update opportunity Factoring</label>
        <locationX>380</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Update_buyer_name_supplier_name_CL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Factoring</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name_Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Signed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity_Factoring_TS_Sent</targetReference>
            </connector>
            <label>Opportunity Factoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Opportunity_Supply_Chain3</name>
        <label>Update Opportunity Supply Chain</label>
        <locationX>380</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Update_opportunity_Factoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Supply_Chain2</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supply Chain Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name__r.Date_Termsheet_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Name__r.Date_Termsheet_Signed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_supply_chain_Factoring_TS_Sent</targetReference>
            </connector>
            <label>Opportunity Supply Chain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_Opportunity</name>
        <label>Update Status Opportunity</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Supply_Chain3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Term_sheet_Signedt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OIP_Started</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Status Opportunity</label>
        </rules>
    </decisions>
    <description>Migrated from the Workflow
1. Forecast Completed
2. Missin Forecast
3. Update Satus Opportunity
4. Update buyer opporunity Factoring
5. Update opporunity Supplychain
6. Update supplier opporunity Factoring</description>
    <interviewLabel>Migrate Sales Opportunity Fast Field Update Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Sales Opportunity Fast Field Update Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Forecast_Completed1</name>
        <label>Forecast Completed</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>MissingForecast</targetReference>
        </connector>
        <inputAssignments>
            <field>Important_Notes__c</field>
            <value>
                <stringValue>(&apos;&lt;html&gt;&lt;body&gt;&lt;div style=&quot;color: Green;&quot;&gt;&lt;b&gt;&apos; &amp; &quot;Forecast Looks Completed &quot; &amp; &apos;&lt;/b&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;&apos;)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Missing_Forecast</name>
        <label>Missing Forecast</label>
        <locationX>248</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Update_Status_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Important_Notes__c</field>
            <value>
                <stringValue>(&apos;&lt;html&gt;&lt;body&gt;&lt;div style=&quot;color: red;&quot;&gt;&lt;b&gt;&apos; &amp; &quot;Forecast Non Completed, Please update it &quot; &amp; &apos;&lt;/b&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;&apos;)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OIP_Started</name>
        <label>OIP Started</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Update_Opportunity_Supply_Chain3</targetReference>
        </connector>
        <inputAssignments>
            <field>OIP_Started__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>OIP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_buyer_name_CL</name>
        <label>Update buyer name CL</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>supplier_name</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Provided_by_insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_Provided_by_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Requested__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Answer_Insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Insurer_actual_response_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunity_Factoring_TS_Sent</name>
        <label>Update opportunity Factoring TS Sent</label>
        <locationX>248</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_opportunity_Factoring_TS_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Termsheet_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Termsheet_Sent__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunity_Factoring_TS_Signed</name>
        <label>Update opportunity Factoring TS Signed</label>
        <locationX>248</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Update_buyer_name_supplier_name_CL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Term_sheet_Signedt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Term_sheet_Signedt__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Signed__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_supplier_name</name>
        <label>Update supplier name</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <inputAssignments>
            <field>Supplier_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_supply_chain_Factoring_TS_Sent</name>
        <label>Update supply chain Factoring TS Sent</label>
        <locationX>248</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Update_supply_chain_Factoring_TS_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Termsheet_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Termsheet_Sent__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Date_Termsheet_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_supply_chain_Factoring_TS_Signed</name>
        <label>Update supply chain Factoring TS Signed</label>
        <locationX>248</locationX>
        <locationY>1559</locationY>
        <connector>
            <targetReference>Update_opportunity_Factoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Term_sheet_Signedt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Term_sheet_Signedt__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Date_Termsheet_Signed__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ForecastCompleted</targetReference>
        </connector>
        <object>Invoice_Opportunity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
