force-app/main/default/flows/Migrate_Account_Fast_Field_Update_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_All_Workflow_Conditions</name>
        <label>Check All Workflow Conditions</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Email_Field_From_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_View_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_View_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>External View Account</label>
        </rules>
        <rules>
            <name>Supplier_External_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name_for_unique_index__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Supplier External View</label>
        </rules>
        <rules>
            <name>Buyer_External_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_View__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name_for_unique_index__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_Recordtype</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Buyer External View</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Account_transferred_another_Sales</name>
        <label>Check for Account transferred another Sales</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Check_for_Onboarding_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_transferred_another_Sales_c_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_transferred_another_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transfer_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account_transferred_another_Sales__c = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Onboarding_Status</name>
        <label>Check for Onboarding Status</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Account_GBP_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Status_Onboarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.onboarding_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>99.Onboarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarded_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Onboarding Status = Onboarded</label>
        </rules>
    </decisions>
    <description>Migrated from the workflows.
1. account unique name
2. External View Account activation
3. Supplier External View desactivation
4. Buyer View desactivation
5. Update Master Agent email
6. Update Agent Email
7. Update Primary Contact Email
8. Update Transfer Date
9. Update Onboarded Completed Date
Migrated from the Process Builder 
1. GBP USD Equiv update</description>
    <formulas>
        <name>AccountUniqueName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}  + &apos; : &apos; + TEXT({!$Record.Type}) + &apos; : &apos; + TEXT({!$Record.Sub_type__c})</expression>
    </formulas>
    <formulas>
        <name>GBPAvailableeWalletUSDEquiv</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Marketplace_for_GBP_FX_rate__r.latest_to_usd_rate__c} * ({!$Record.GBP_eWallet__r.Balance__c} - {!$Record.GBP_eWallet__r.Reservations__c} - {!$Record.GBP_eWallet__r.Withdrawals_Not_Processed_val__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GBPeWalletUSDEquiv</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Marketplace_for_GBP_FX_rate__r.latest_to_usd_rate__c} * {!$Record.XXX_eWallet_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GBPTotalinprogressInvoicesUSDEquiv</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.XXX_Total_in_progress_invoices__c} * {!$Record.Marketplace_for_GBP_FX_rate__r.latest_to_usd_rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Migrate Account - Fast Field Update Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Account - Fast Field Update Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Buyer_Recordtype</name>
        <label>Get Buyer Recordtype</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Recordtype_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_View_Recordtype</name>
        <label>Get External View Recordtype</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_External_View_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External_view</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Recordtype</name>
        <label>Get Supplier Recordtype</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Recordtype_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Email_Field_From_Agent</name>
        <label>Update Account Email Field From Agent</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Update_Primary_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Email__c</field>
            <value>
                <elementReference>$Record.Agent__r.Primary_contact_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agent_Email__c</field>
            <value>
                <elementReference>$Record.Agent__r.Agent__r.Primary_contact_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_GBP_Fields</name>
        <label>Update Account GBP Fields</label>
        <locationX>446</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>GBP_Available_eWallet_USD_Equiv__c</field>
            <value>
                <elementReference>GBPAvailableeWalletUSDEquiv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBP_Total_in_progress_Invoices_USD_Equiv__c</field>
            <value>
                <elementReference>GBPTotalinprogressInvoicesUSDEquiv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBP_eWallet_USD_Equiv__c</field>
            <value>
                <elementReference>GBPeWalletUSDEquiv</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Unique_Name</name>
        <label>Update Account Unique Name</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Check_All_Workflow_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name_for_unique_index__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AccountUniqueName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Name_for_unique_index__c</field>
            <value>
                <elementReference>AccountUniqueName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_External_View_Recordtype</name>
        <label>Update External View Recordtype</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Account_Email_Field_From_Agent</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_External_View_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarded_Date</name>
        <label>Update Onboarded Date</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Update_Account_GBP_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_completed_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Contact_Email</name>
        <label>Update Primary Contact Email</label>
        <locationX>446</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Check_for_Account_transferred_another_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_contact_email__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordtype_Buyer</name>
        <label>Update Recordtype - Buyer</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Account_Email_Field_From_Agent</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Buyer_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordtype_Supplier</name>
        <label>Update Recordtype - Supplier</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Account_Email_Field_From_Agent</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Supplier_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transfer_Date</name>
        <label>Update Transfer Date</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_for_Onboarding_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Transferred_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Unique_Name</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
