force-app/main/default/flows/Migrate_Lead_After_Trigger_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Owner_Notification</name>
        <label>Change Owner Notification</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SlackToLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationTitleandBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitleandBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Lead_Notification</name>
        <label>New Lead Notification</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Sales_Opportunity_Created</name>
        <label>New Sales Opportunity Created</label>
        <locationX>754</locationX>
        <locationY>1511</locationY>
        <actionName>Lead.New_Sales_Opportunity_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SlackToLead</name>
        <label>SlackToLead</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <actionName>SendSlackMessageToLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insurer_response_CL_GT_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>Slack_Message</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>The Credit limit have been provided by insurer , and an opportunity wit this buyer has been created please :
-Update this opportunity with the Supplier lead
-Update first cycle amount and first Cycle Date
-Prepare term sheet and send to ops</description>
        <name>Task_Credit_Limit_approved</name>
        <label>Task Credit Limit approved</label>
        <locationX>754</locationX>
        <locationY>1271</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Create_Buyer_Sales_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Task Credit Limit Provided by Insurer</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_recipient</name>
        <label>Add recipient</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>LeadOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient1</name>
        <label>Add recipient</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>LeadOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Origin</name>
        <label>Assign Lead Origin</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Lead_Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadOrigin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Origin</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>886</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Insurer_response_CL_GT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient1</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Origination_Zone</name>
        <label>Check for Origination Zone</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zone_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient</targetReference>
            </connector>
            <label>Zone 1</label>
        </rules>
        <rules>
            <name>Zone_2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient</targetReference>
            </connector>
            <label>Zone 2</label>
        </rules>
        <rules>
            <name>Zone_3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_3__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient</targetReference>
            </connector>
            <label>Zone 3</label>
        </rules>
        <rules>
            <name>Zone_4</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_4__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient</targetReference>
            </connector>
            <label>Zone 4</label>
        </rules>
        <rules>
            <name>Funder_RAIF</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zone_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAIF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_recipient</targetReference>
            </connector>
            <label>Funder RAIF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insurer_response_CL_GT_0</name>
        <label>Insurer response CL &gt;0</label>
        <locationX>886</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insurer_response_CL_Greater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Limit_Provided_by_Insurer__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Credit_Limit_Provided_by_Insurer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Credit_Limit_approved</targetReference>
            </connector>
            <label>Insurer response CL &gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>468</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Change_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Origin</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <description>Migrated from the Workflow
1. Insurer response CL &gt;0 (create task)
Migrated from the Process Builder
1. Lead Assignment Sales (and Change Owner)
2. New Sales Opportunity

Addition.
1. Set Lead Origin Field value - Create Time Only</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>LeadOrigin</name>
        <dataType>String</dataType>
        <expression>If ( CONTAINS({!$Record.CreatedBy.FirstName}, &apos;API&apos;) || CONTAINS({!$Record.CreatedBy.LastName}, &apos;API&apos;) , &apos;Web Lead&apos; + &apos;-&apos;+TEXT( {!$Record.Product_type__c}) + &apos;-&apos;+  TEXT( {!$Record.Type__c}) + TEXT( {!$Record.LeadSource}) + &apos;-&apos;+ {!$Record.Company}, IF (CONTAINS({!$Record.CreatedBy.FirstName}, &apos;Adriana&apos;)  , &apos;Call Box &apos;+ &apos;-&apos;+ TEXT( {!$Record.Product_type__c} )+ &apos;-&apos;+ TEXT(  {!$Record.Type__c}) + TEXT( {!$Record.LeadSource}) + &apos;-&apos;+ {!$Record.Company}, &apos;Sales Lead&apos;))</expression>
    </formulas>
    <formulas>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>/** workaround {!$Record.Name} **/
{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>Slack_Message</name>
        <dataType>String</dataType>
        <expression>&apos;@&apos;+ {!$Record.Owner:User.FirstName}+&apos;  &apos;+{!$Record.Owner:User.LastName}+ &apos;: The lead &apos; + {!$Record.Company} +&apos; in &apos; + {!$Record.Country} +&apos; has been transferred to you .&apos;</expression>
    </formulas>
    <interviewLabel>Migrate Lead After Trigger Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Lead After Trigger Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Buyer_Sales_Opportunity</name>
        <label>Create Buyer Sales Opportunity</label>
        <locationX>754</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>New_Sales_Opportunity_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Country__c</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>RecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Provided_by_insurer__c</field>
            <value>
                <elementReference>$Record.Credit_Limit_Provided_by_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Requested__c</field>
            <value>
                <elementReference>$Record.Credit_Limit_requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Answer_Insurer__c</field>
            <value>
                <elementReference>$Record.Insurer_actual_response_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurer_Name__c</field>
            <value>
                <elementReference>$Record.Insured_by__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Status__c</field>
            <value>
                <stringValue>Credit Limit Obtained</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Owner_Upload__c</field>
            <value>
                <elementReference>$Record.Owner:User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Potential_Supplier_s__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Lead_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A new Lead is created under your name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification1</name>
        <label>Get Notification</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Owner_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A new Lead is created under your name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Origin</name>
        <label>Update Lead Origin</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_for_Origination_Zone</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_origin__c</field>
            <value>
                <elementReference>Lead_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Lead {![Lead].Company} in {![Lead].Country} has been created under your name&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new Lead is created under your name&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitleandBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A&amp;nbsp;Lead {![Lead].Company} in {![Lead].Country} has been assigned under your name by your Sales Manager&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Lead_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>LeadOrigin</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
