force-app/main/default/flows/Refresh_Button_for_Invoice_with_Allocations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>791</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>UpdateTransaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to change status</defaultConnectorLabel>
        <rules>
            <name>is_status_confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed by operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Transactions</targetReference>
            </connector>
            <label>is status Confirmed</label>
        </rules>
    </decisions>
    <description>This flow update all allocation for on invoice no in use</description>
    <interviewLabel>Refresh Button for Invoice with Allocations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refresh Button for Invoice with Allocations</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>307</locationX>
        <locationY>401</locationY>
        <assignNextValueToReference>Transaction</assignNextValueToReference>
        <collectionReference>Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Finance_Deal</name>
        <label>Get Finance Deal</label>
        <locationX>180</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>FinanceDeal</outputReference>
        <queriedFields>Invoice_name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>584</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>UniqueTransaction</outputReference>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transactions</name>
        <label>Get Transactions</label>
        <locationX>333</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Financing_Deal_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceDeal.Invoice_name__c</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>Transactions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTransaction</name>
        <label>Update Transaction</label>
        <locationX>670</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transaction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirmed by operations</stringValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Finance_Deal</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>FinanceDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>Invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>UniqueTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
</Flow>
