force-app/main/default/flows/Refreshtest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>348</locationX>
        <locationY>269</locationY>
        <assignNextValueToReference>Allocation</assignNextValueToReference>
        <collectionReference>Allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Allocation</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Allocation_ID</name>
        <label>Get Allocation ID</label>
        <locationX>250</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>Invoice_Allocation__c</object>
        <outputReference>Allocations</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ID</name>
        <label>Get ID</label>
        <locationX>246</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Allocation_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputAssignments>
            <assignToReference>FinanceDeal.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Allocation</name>
        <label>Update Allocation</label>
        <locationX>622</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <inputReference>Allocation</inputReference>
    </recordUpdates>
    <startElementReference>Get_ID</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>FinanceDeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
