force-app/main/default/flows/Sales_Opportunity_Workflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>ActiveStatusAutomation</name>
        <label>Active Status Automation</label>
        <locationX>638</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>ForecastCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Status_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Opportunity_active</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Active Status Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForecastCompleted</name>
        <label>Forecast Completed</label>
        <locationX>648</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>MissingForecast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forecast_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_invoice_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_First_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Tenor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Forecast_Completed1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Forecast Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingForecast</name>
        <label>Missing Forecast</label>
        <locationX>656</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Forecast1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_invoice_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_First_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Tenor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Forecast</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Missing Forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_buyer_opportunity_Factoring</name>
        <label>Update buyer opportunity Factoring</label>
        <locationX>659</locationX>
        <locationY>1267</locationY>
        <defaultConnector>
            <targetReference>Update_opportunity_Supply_chain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyer_Opportunity_Factoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Supplier_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_buyer_opportunity_Factoring1</targetReference>
            </connector>
            <label>Buyer Opportunity Factoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_opportunity_Supply_chain</name>
        <label>Update opportunity Supply chain</label>
        <locationX>655</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Update_supplier_opportunity_Factoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Supply_Chain</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supply Chain Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity_Supplychain</targetReference>
            </connector>
            <label>Opportunity Supply Chain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_Opportunity</name>
        <label>Update Status Opportunity</label>
        <locationX>658</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>Update_buyer_opportunity_Factoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Term_sheet_Signedt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OIP_Started</targetReference>
            </connector>
            <label>Update Status Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_supplier_opportunity_Factoring</name>
        <label>Update supplier opportunity Factoring</label>
        <locationX>656</locationX>
        <locationY>1795</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Opportunity_Factoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplier_name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_supplier_opportunity_Factoring1</targetReference>
            </connector>
            <label>Supplier Opportunity Factoring</label>
        </rules>
    </decisions>
    <description>Flow from all sales opportunity workflows.
1. Active Status Automation
2. Forecast Completed
3. Missin Forecast
4. Update Satus Opportunity
5. Update buyer opporunity Factoring
6. Update opporunity Supplychain
7. Update supplier opporunity Factoring</description>
    <environments>Default</environments>
    <interviewLabel>Sales Opportunity - Workflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Opportunity - Workflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Forecast_Completed1</name>
        <label>Forecast Completed</label>
        <locationX>55</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>MissingForecast</targetReference>
        </connector>
        <inputAssignments>
            <field>Important_Notes__c</field>
            <value>
                <stringValue>(&apos;&lt;html&gt;&lt;body&gt;&lt;div style=&quot;color: Green;&quot;&gt;&lt;b&gt;&apos; &amp; &quot;Forecast Looks Completed &quot; &amp; &apos;&lt;/b&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;&apos;)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Missing_Forecast</name>
        <label>Missing Forecast</label>
        <locationX>62</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Update_Status_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Important_Notes__c</field>
            <value>
                <stringValue>(&apos;&lt;html&gt;&lt;body&gt;&lt;div style=&quot;color: red;&quot;&gt;&lt;b&gt;&apos; &amp; &quot;Forecast Non Completed, Please update it &quot; &amp; &apos;&lt;/b&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;&apos;)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OIP_Started</name>
        <label>OIP Started</label>
        <locationX>69</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Update_buyer_opportunity_Factoring</targetReference>
        </connector>
        <inputAssignments>
            <field>OIP_Started__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>OIP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Opportunity_active</name>
        <label>Status Opportunity active</label>
        <locationX>57</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>ForecastCompleted</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_buyer_opportunity_Factoring1</name>
        <label>Update buyer opportunity Factoring</label>
        <locationX>65</locationX>
        <locationY>1381</locationY>
        <connector>
            <targetReference>Update_opportunity_Supply_chain</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Provided_by_insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_Provided_by_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Requested__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Answer_Insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Insurer_actual_response_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunity_Supplychain</name>
        <label>Update opportunity Supplychain</label>
        <locationX>76</locationX>
        <locationY>1630</locationY>
        <connector>
            <targetReference>Update_supplier_opportunity_Factoring</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Name__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Provided_by_insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_Provided_by_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CL_Requested__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Credit_Limit_requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Answer_Insurer__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Insurer_actual_response_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Term_sheet_Signedt__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Date_Termsheet_Signed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Termsheet_Sent__c</field>
            <value>
                <elementReference>$Record.Lead_Name__r.Date_Termsheet_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_supplier_opportunity_Factoring1</name>
        <label>Update supplier opportunity Factoring</label>
        <locationX>81</locationX>
        <locationY>1855</locationY>
        <inputAssignments>
            <field>Date_Term_sheet_Signedt__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Signed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Termsheet_Sent__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Date_Termsheet_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Country__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_name__c</field>
            <value>
                <elementReference>$Record.Lead_Name_Supplier__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>12</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ActiveStatusAutomation</targetReference>
        </connector>
        <filterFormula>{!$Setup.ICL_Settings__c.Enable_migrate_flow__c}</filterFormula>
        <object>Invoice_Opportunity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
