force-app/main/default/flows/SALES_OPPORTUNITIES_TASK_RISK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Buyer_Call_Requested</name>
        <label>Buyer Call Requested risk</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Buyer_Call_Requested_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>BuyerCallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Buyer_Call_Requested_0</name>
        <label>Buyer Call Requested Sales</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Sales_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>BuyerCallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Buyer_Call_Requested_0_0</name>
        <label>Buyer Call Requested Sales</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Buyer_Call_Requested_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Sales_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>BuyerCallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Buyer_Call_Requested_0_0_0</name>
        <label>Buyer Call Requested risk</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>BuyerCallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Complete_Mao</name>
        <label>Complete Map Risk</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CompleteMaprisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Complete_Mao_0</name>
        <label>Collect trade Doc Sales</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Sales_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CollectTradeDocSales</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Complete_Mao_0_0</name>
        <label>Submit Map Risk</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>SubmitMaprisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Complete_the_Map_Legal</name>
        <label>Complete the Map Legal</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Legal_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CompleteMaprisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_for_Collect_additional_trade_doc</name>
        <label>Create Task for Collect additional trade doc</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Sales_Owner__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CollectAdditionalTradeDoc</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_task_for_Start_onboarding_Supplier_Buyer</name>
        <label>Create task for Start onboarding Supplier-Buyer</label>
        <locationX>4010</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Compliance_Owner__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>StartonboardingSupplierBuyer</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>PlanCC_Risk</name>
        <label>PlanCC Risk</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>PlanCCrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Review_trade_doc_Legal2</name>
        <label>Review trade doc Legal2</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Legal_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ReviewTradeDocLegal</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Risk_Task_for_Review_Legal_Comments</name>
        <label>Risk Task for Review Legal Comments</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ReviewLegalComments</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Supplier_Call_Requested_0</name>
        <label>Supplier Call Requested RIsk</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Supplier_Call_Requested_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Suppliercallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Supplier_Call_Requested_0_0</name>
        <label>Supplier Call Requested Sales</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Sales_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Suppliercallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Supplier_Call_Requested_0_0_0</name>
        <label>Supplier Call Requested RIsk</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Supplier_Call_Requested_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Suppliercallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Please organise the Supplier Call</description>
        <name>Supplier_Call_Requested_0_0_0_0</name>
        <label>Supplier Call Requested RIsk</label>
        <locationX>3218</locationX>
        <locationY>695</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Risk_Owner__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Suppliercallrisk</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Main_Trigger_Task</name>
        <label>Main Trigger Task</label>
        <locationX>2646</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_for_Task_0</targetReference>
            </connector>
            <label>Trigger Risk</label>
        </rules>
        <rules>
            <name>Trigger_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LEGAL_TASK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_for_Sales_Task_0</targetReference>
            </connector>
            <label>Trigger Legal</label>
        </rules>
        <rules>
            <name>Trigger_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SALES_TASK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_for_Sales_Task</targetReference>
            </connector>
            <label>Trigger Sales</label>
        </rules>
        <rules>
            <name>Trigger_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMPLIANCE_TASK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_for_Compliance_Task</targetReference>
            </connector>
            <label>Trigger Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_for_Compliance_Task</name>
        <label>Trigger for Compliance Task</label>
        <locationX>4142</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_onboarding_Supplier_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMPLIANCE_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Start onboarding Supplier-Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Start_onboarding_Supplier_Buyer</targetReference>
            </connector>
            <label>Start onboarding Supplier-Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_for_Sales_Task</name>
        <label>Trigger for Sales Task</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collect_Trade_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SALES_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Collect Trade Doc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Mao_0</targetReference>
            </connector>
            <label>Collect Trade Document Sales</label>
        </rules>
        <rules>
            <name>Create_Task_buyerr_call_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SALES_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Organise Buyer Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_Call_Requested_0_0</targetReference>
            </connector>
            <label>Create Task  buyerr  call Sales</label>
        </rules>
        <rules>
            <name>Create_Task_Supplier_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SALES_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Organise Supplier Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Call_Requested_0_0_0</targetReference>
            </connector>
            <label>Create Task Supplier call</label>
        </rules>
        <rules>
            <name>Collect_Additional_Trade_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SALES_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1.2 Collect Additional Doc following Legal Comments ( If Any)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Collect_additional_trade_doc</targetReference>
            </connector>
            <label>Collect Additional Trade Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_for_Sales_Task_0</name>
        <label>Trigger for Legal Task</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Trade_Doc_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LEGAL_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Review Trade Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_trade_doc_Legal2</targetReference>
            </connector>
            <label>Review Trade Doc Legal</label>
        </rules>
        <rules>
            <name>Complete_the_Map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LEGAL_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete the Map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_the_Map_Legal</targetReference>
            </connector>
            <label>Complete the Map</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_for_Task_0</name>
        <label>Trigger for Risk Task</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Task_Risk_Supplier_Call_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Supplier Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Call_Requested_0</targetReference>
            </connector>
            <label>Create Task Risk Supplier Call</label>
        </rules>
        <rules>
            <name>Create_Task_Risk_buyer_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Buyer Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_Call_Requested</targetReference>
            </connector>
            <label>Create Task Risk buyerr Call</label>
        </rules>
        <rules>
            <name>Organise_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Plan CC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlanCC_Risk</targetReference>
            </connector>
            <label>Organise CC</label>
        </rules>
        <rules>
            <name>Complete_Map_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-Fill MAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Mao</targetReference>
            </connector>
            <label>Complete Map Risk</label>
        </rules>
        <rules>
            <name>Submit_Map_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Submit Map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Mao_0_0</targetReference>
            </connector>
            <label>Submit Map Risk</label>
        </rules>
        <rules>
            <name>Create_Task_Risk_Review_Legal_Comments_for_clarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RISK_TASK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-Review Legal Comment fo Clarification Buyer/ Supplier Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Task_for_Review_Legal_Comments</targetReference>
            </connector>
            <label>Create Task Risk - Review Legal Comments for clarification</label>
        </rules>
    </decisions>
    <description>Create automatically Task for RIsk Team when Risk Task Drop is updated</description>
    <environments>Default</environments>
    <interviewLabel>SALES OPPORTUNITIES TASK RISK {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SALES OPPORTUNITIES TASK RISK</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2520</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Trigger_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RISK_TASK__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LEGAL_TASK__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SALES_TASK__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COMPLIANCE_TASK__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Invoice_Opportunity__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Buyer call risk</description>
        <name>BuyerCallrisk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Organise a Buyer Call for this Opportunity: {!$Record.Name}, Buyer  : {!$Record.Buyer_Name__c} Map : {!$Record.Supplier_Buyer_Map__r.Id}
Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>CollectAdditionalTradeDoc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please Collect additional trade doc following legal comments (if any) for this Opportunity: {!$Record.Name}, Supplier: {!$Record.Supplier_name__c} Buyer:&amp;nbsp;{!$Record.Buyer_Name__c} Map : {!$Record.Supplier_Buyer_Map__r.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CollectTradeDocSales</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Collect Trade doc for this Opportunity: {!$Record.Name}, Supplier: {!$Record.Supplier_name__c} Buyer:  {!$Record.Buyer_Name__c} Map : {!$Record.Supplier_Buyer_Map__r.Id}
Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteMapLegal</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please Complete the Map for&amp;nbsp;this Opportunity: {!$Record.Name}, Map : {!$Record.Supplier_Buyer_Map__r.Id},&amp;nbsp;&amp;nbsp;!$Record.Supplier_Buyer_Map_Name__c}&lt;/p&gt;&lt;p&gt;Operations Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteMaprisk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Complete the Map for  this Opportunity: {!$Record.Name}, Map: {!$Record.Supplier_Buyer_Map__r.Id}{!$Record.Supplier_Buyer_Map__r.Name} 
Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>PlanCCrisk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Organise Plan the CC : {!$Record.Name}, Map : {!$Record.Supplier_Buyer_Map__r.Id} , {!$Record.Supplier_Buyer_Map_Name__c}
Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>ReviewLegalComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please Review legal comments for clarification for this Opportunity : {!$Record.Name}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Supplier: {!$Record.Supplier_name__c} Buyer:&amp;nbsp;{!$Record.Buyer_Name__c} Map : {!$Record.Supplier_Buyer_Map__r.Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReviewTradeDocLegal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review trade Doc this Opportunity: {!$Record.Name}, {!$Record.Supplier_Buyer_txt__c}
Map : {!$Record.Supplier_Buyer_Map__r.Id}, {!$Record.Supplier_Buyer_Map_Name__c} 

Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>StartonboardingSupplierBuyer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please start onboarding for Supplier / Buyer for this Opportunity: {!$Record.Name}, Supplier: {!$Record.Supplier_name__c} Buyer:&amp;nbsp;{!$Record.Buyer_Name__c} Map : {!$Record.Supplier_Buyer_Map__r.Id}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubmitMaprisk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Submit the Map for this opportunity :  {!$Record.Name},  Map :{!$Record.Supplier_Buyer_Map__r.Name} , {!$Record.Supplier_Buyer_Map_Name__c}

Operations Team</text>
    </textTemplates>
    <textTemplates>
        <name>Suppliercallrisk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please Organise a Supplier Call for this Opportunity : {!$Record.Name} Supplier :  {!$Record.Supplier_name__c}, Map: {!$Record.Supplier_Buyer_Map__r.Id}

Operations Team</text>
    </textTemplates>
    <variables>
        <name>ownerID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RiskOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RiskOwnerIDtext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SalesOpportuny.Risk_Owner__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Salesopportunity2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SalesOpportuny</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Opportunity__c</objectType>
    </variables>
</Flow>
