force-app/main/default/flows/Send_Slack_when_Funds_available.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendSlackMessageToInvoiceAllocation2</name>
        <label>send  Slack to Invoice Allocation</label>
        <locationX>758</locationX>
        <locationY>351</locationY>
        <actionName>SendSlackMessageToInvoiceAllocation</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>formattedmessage_template</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_OwnerName</name>
        <label>Set OwnerName</label>
        <locationX>844</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OwnerAccount.Name} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendSlackMessageToInvoiceAllocation2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ops_Owner_found</name>
        <label>Ops Owner found</label>
        <locationX>646</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>sendSlackMessageToInvoiceAllocation2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OwnerName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Send Slack when Funds available</description>
    <interviewLabel>send slack for invoice phase change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack when Funds available</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Map</name>
        <label>Get Map</label>
        <locationX>338</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>SupplierBuyerMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ops_Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>491</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ops_Owner_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Ops_Owner__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OwnerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_invoice</name>
        <label>Get invoice</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoiceID</elementReference>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>invoice</outputReference>
        <queriedFields>Phase__c</queriedFields>
        <queriedFields>auto_status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>invoice_amount__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>Invoice_name__c</queriedFields>
        <queriedFields>Supplier_Buyer_Map__c</queriedFields>
        <queriedFields>Minimum_requested_amount__c</queriedFields>
        <queriedFields>advanced_amount__c</queriedFields>
        <queriedFields>funded_amount__c</queriedFields>
        <queriedFields>Supplier_Email_for_Approval__c</queriedFields>
    </recordLookups>
    <startElementReference>lookup_invoice</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>formattedmessage_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>*{!invoice.Invoice_name__c}*
Funds are available ! :heavy_dollar_sign: :heavy_dollar_sign: 
@ *{!OwnerName}* : Please send the NOA via DocuSign</text>
    </textTemplates>
    <textTemplates>
        <description>When the Amount founded is &lt; min amount requested , the Supplier must go to the platform to confirm the invoice</description>
        <name>SupplierConfirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear Customer,
Please connect to the Incomlend platform , to validate the invoice you submitted recently 
https://login.marketplace.incomlend.com/
Kind Regards, 
Incomlend Operation team</text>
    </textTemplates>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>InvoiceallocationID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a09N000000BMm9D</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>:warning: Ops Owner is not set, please amend the Supplier Buyer Map :warning:</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplierBuyerMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
</Flow>
