force-app/main/default/flows/send_slack_instruction_to_send_BNL_when_credit_commitee_approve.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_to_Onboarding_CC_approved</name>
        <label>Send Slack to Onboarding CC approved</label>
        <locationX>774</locationX>
        <locationY>367</locationY>
        <actionName>SendSlackMessageToOnboarding</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>formattedmessage_template</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_OwnerName</name>
        <label>Set OwnerName</label>
        <locationX>844</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OwnerAccount.Name} :memo: :pencil:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_to_Onboarding_CC_approved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ops_Owner_found</name>
        <label>Ops Owner found</label>
        <locationX>646</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Send_Slack_to_Onboarding_CC_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OwnerName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Slack message content updated to display the account owner of the new allocations Supplier -&gt; Factoring / Buyer - &gt; Reverse Factoring) to give instruction to send the BNL</description>
    <interviewLabel>send slack for invoice phase change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send slack instruction to send BNL when credit commitee approve</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Map</name>
        <label>Get Map</label>
        <locationX>337</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoice.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>SupplierBuyerMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ops_Owner__c</queriedFields>
        <queriedFields>Credit_Committee_Status__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Buyer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>490</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ops_Owner_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Ops_Owner__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OwnerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Map</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>formattedmessage_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The Map {!SupplierBuyerMap.Id} has been approved by the Credit Committee 
Supplier: {!SupplierBuyerMap.Supplier__c}
Buyer: {!SupplierBuyerMap.Buyer__c}
Please send the BNL via Docusign
Ops Owner: *{!OwnerName}*</text>
    </textTemplates>
    <textTemplates>
        <description>When the Amount founded is &lt; min amount requested , the Supplier must go to the platform to confirm the invoice</description>
        <name>SupplierConfirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear Customer,
the Amount of the Financed amount is inferior to the minimum requested by you, please connect to the Incomlend platform , to validate the invoice.
https://login.marketplace.incomlend.com/
Kind Regards, 

Incomlend Operation team</text>
    </textTemplates>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>InvoiceallocationID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Allocation__c</objectType>
    </variables>
    <variables>
        <name>invoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a09N000000BMm9D</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>:warning: Ops Owner is not set, please amend the Supplier Buyer Map :warning:</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplierBuyerMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
</Flow>
