force-app/main/default/flows/send_slack_for_invoice_phase_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Slack_Marketplace_Update</name>
        <label>Slack Marketplace Update</label>
        <locationX>1125</locationX>
        <locationY>1532</locationY>
        <actionName>SendSlackMessageToMarketplaceUpdates</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>FullMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Map_Approval_Alert</name>
        <label>Set Map Approval Alert</label>
        <locationX>1248</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>emptyMapApprovedText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending map approval.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Slack_Marketplace_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overdue_15_Text</name>
        <label>Set Overdue 15 Text</label>
        <locationX>898</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>emptyOverdueText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>. *Buyer has at least 1 invoice overdue by 15 days or more. Risk approval required* :fire:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Approved_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overdue_30_Text</name>
        <label>Set Overdue 30 Text</label>
        <locationX>1246</locationX>
        <locationY>1185</locationY>
        <assignmentItems>
            <assignToReference>emptyOverdueText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>. *Buyer has at least 1 invoice overdue by 15 days or more. Risk approval required* :x:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Approved_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OwnerName</name>
        <label>Set OwnerName</label>
        <locationX>1246</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OwnerAccount.Name} :white_check_mark:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setTitle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCreditLimitText</name>
        <label>SetCreditLimitText</label>
        <locationX>880</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>emptyCreditLimitText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>*Credit Limit Alert : the credit limit has been breached by {!CreditLimitDifference} USD* :skull:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncotermDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDifferenceCreditLimit</name>
        <label>SetDifferenceCreditLimit</label>
        <locationX>1108</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>CreditLimitDifference</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>SupplierBuyerMap.CL_USD_Incomlend_for_this_Map__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ops_Owner_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGoodsText</name>
        <label>SetGoodsText</label>
        <locationX>881</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>emptyGoodsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>. *Goods and Service Alert : Discrepancy between map and $Record. Risk approval required* :exclamation:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overdue_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIncotermText</name>
        <label>SetIncotermText</label>
        <locationX>884</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>emptyIncotermText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>. *Incoterm Alert : Discrepancy between map and $Record. Risk approval required* :ship:</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Goods_and_Services_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLongestOverdue</name>
        <label>SetLongestOverdue</label>
        <locationX>1284</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>longestOverdue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curBuyerInvoice.over_due_days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Buyer_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTitle</name>
        <label>setTitle</label>
        <locationX>1102</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>emptyTitleText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>*{!$Record.Invoice_name__c} Phase -&gt; {!$Record.Phase__c}* </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>credit_Limit_condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>credit_Limit_condition</name>
        <label>credit Limit condition</label>
        <locationX>1095</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>IncotermDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>credit_limit_alert</name>
            <conditionLogic>1 AND (2 OR 3) AND (NOT (4))</conditionLogic>
            <conditions>
                <leftValueReference>SupplierBuyerMap.Inprogress_invoice_amount_usd_equiv__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SupplierBuyerMap.CL_USD_Incomlend_for_this_Map__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2:ON MARKETPLACE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3:IN PROGRESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SupplierBuyerMap.Market_Place_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Passthrough</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCreditLimitText</targetReference>
            </connector>
            <label>credit limit alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Goods_and_Services_Decision</name>
        <label>Goods and Services Decision</label>
        <locationX>1097</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Overdue_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GoodsAlert</name>
            <conditionLogic>(NOT 1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SupplierBuyerMap.Goods_and_Services_new__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Goods_and_Services_new__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1:PRE LISTING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGoodsText</targetReference>
            </connector>
            <label>GoodsAlert</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncotermDecision</name>
        <label>Incoterm Condition</label>
        <locationX>1092</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Goods_and_Services_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IncotermAlert</name>
            <conditionLogic>(NOT 1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>SupplierBuyerMap.accepted_incoterms__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Incoterm__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1:PRE LISTING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIncotermText</targetReference>
            </connector>
            <label>IncotermAlert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Longest_Overdue_Decision</name>
        <label>Longest Overdue Decision</label>
        <locationX>1274</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Buyer_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLonger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curBuyerInvoice.over_due_days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>longestOverdue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLongestOverdue</targetReference>
            </connector>
            <label>IsLonger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Map_Approved_Decision</name>
        <label>Map Approved Decision</label>
        <locationX>1099</locationX>
        <locationY>1314</locationY>
        <defaultConnector>
            <targetReference>Set_Map_Approval_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Map non approved</defaultConnectorLabel>
        <rules>
            <name>Map_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierBuyerMap.map_onboarding_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90.Onboarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Marketplace_Update</targetReference>
            </connector>
            <label>Map Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ops_Owner_found</name>
        <label>Ops Owner found</label>
        <locationX>1097</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>setTitle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OwnerName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overdue_Decision</name>
        <label>Overdue Decision</label>
        <locationX>1104</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Map_Approved_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>less than 15</defaultConnectorLabel>
        <rules>
            <name>between_15_and_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>longestOverdue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>longestOverdue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1:PRE LISTING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overdue_15_Text</targetReference>
            </connector>
            <label>between 15 and 30</label>
        </rules>
        <rules>
            <name>more_than_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>longestOverdue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1:PRE LISTING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overdue_30_Text</targetReference>
            </connector>
            <label>more than 30 days</label>
        </rules>
    </decisions>
    <description>merge
    1. send slack for invoice phase change (this)
    2. Invoice Phase Change (from the workflow)</description>
    <environments>Default</environments>
    <interviewLabel>send slack for invoice phase change {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>send slack for invoice phase change</label>
    <loops>
        <name>Loop_through_Buyer_Invoices</name>
        <label>Loop through Buyer Invoices</label>
        <locationX>1105</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>curBuyerInvoice</assignNextValueToReference>
        <collectionReference>curBuyerInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Longest_Overdue_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetDifferenceCreditLimit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_buyer_s_invoices</name>
        <label>Get all buyer&apos;s invoices</label>
        <locationX>902</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Buyer_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Buyer_Name_For_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Buyer_Name_For_Report__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OVERDUE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <outputReference>curBuyerInvoices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>over_due_days__c</queriedFields>
        <queriedFields>supplier_buyer_map_name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Map</name>
        <label>Get Map</label>
        <locationX>545</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Buyer_Map__c</elementReference>
            </value>
        </filters>
        <object>Supplier_Buyer_Map__c</object>
        <outputReference>SupplierBuyerMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ops_Owner__c</queriedFields>
        <queriedFields>Buyer__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>accepted_incoterms__c</queriedFields>
        <queriedFields>CL_USD_Available_for_this_Map__c</queriedFields>
        <queriedFields>Goods_and_Services_new__c</queriedFields>
        <queriedFields>Inprogress_invoice_amount_usd_equiv__c</queriedFields>
        <queriedFields>CL_USD_Incomlend_for_this_Map__c</queriedFields>
        <queriedFields>Geographical_zone__c</queriedFields>
        <queriedFields>map_onboarding_stage__c</queriedFields>
        <queriedFields>Market_Place_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>711</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_buyer_s_invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupplierBuyerMap.Ops_Owner__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OwnerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Get_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phase__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>invoice_finance_deal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>amount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Record.CCY__c} {!$Record.Real_Face_Value__c}</text>
    </textTemplates>
    <textTemplates>
        <name>emptyCreditLimitAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.</text>
    </textTemplates>
    <textTemplates>
        <name>emptyGoodsAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.</text>
    </textTemplates>
    <textTemplates>
        <name>emptyIncotermAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.</text>
    </textTemplates>
    <textTemplates>
        <name>emptyMapApprovedAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.</text>
    </textTemplates>
    <textTemplates>
        <name>emptyOverdueAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>.</text>
    </textTemplates>
    <textTemplates>
        <name>emptyTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FullMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!emptyTitleText}{!amount}
Goods: {!$Record.Goods_and_Services_new__c}{!emptyGoodsText}
Country of Origin: {!$Record.Country_of_Origin__c}
Country of Destination: {!$Record.Country_of_Destination__c}
Incoterms: {!$Record.Incoterm__c}{!emptyIncotermText}
Longest Overdue: {!longestOverdue} day(s){!emptyOverdueText}
{!emptyCreditLimitText}
{!emptyMapApprovedText}
Ops Owner: *{!OwnerName}*
Zone: {!SupplierBuyerMap.Geographical_zone__c}</text>
    </textTemplates>
    <variables>
        <description>Difference between in progress invoice and CL incomlend for this map</description>
        <name>CreditLimitDifference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>SupplierBuyerMap.Inprogress_invoice_amount_usd_equiv__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>curBuyerInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>curBuyerInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>emptyCreditLimitText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>emptyCreditLimitAlert</elementReference>
        </value>
    </variables>
    <variables>
        <name>emptyGoodsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>emptyGoodsAlert</elementReference>
        </value>
    </variables>
    <variables>
        <name>emptyIncotermText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>emptyIncotermAlert</elementReference>
        </value>
    </variables>
    <variables>
        <name>emptyMapApprovedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>emptyMapApprovedAlert</elementReference>
        </value>
    </variables>
    <variables>
        <name>emptyOverdueText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>emptyOverdueAlert</elementReference>
        </value>
    </variables>
    <variables>
        <name>emptyTitleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>emptyTitle</elementReference>
        </value>
    </variables>
    <variables>
        <name>longestOverdue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OwnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>:warning: Ops Owner is not set, please amend the Supplier Buyer Map :warning:</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplierBuyerMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
</Flow>
