force-app/main/default/flows/Transaction_After_Insert_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Market_place_for_SGD_not_null</name>
        <label>Market place for SGD not null</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Transaction_Field_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketplace_for_SGD_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Marketplace_for_SGD_FX_rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transaction_Field_Values_0</targetReference>
            </connector>
            <label>Marketplace for SGD not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmountSGDequiv</name>
        <dataType>Number</dataType>
        <expression>{!$Record.amount_USD_equiv__c} * 1 / {!$Record.Account__r.Marketplace_for_SGD_FX_rate__r.latest_to_usd_rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Transaction - After Insert Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction - After Insert Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Transaction_Field_Values</name>
        <label>Update Transaction Field Values</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value_E_wallet_after_transaction_created__c</field>
            <value>
                <elementReference>$Record.eWallet__r.Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Field_Values_0</name>
        <label>Update Amount SGD equiv</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Transaction_Field_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_SGD_equiv__c</field>
            <value>
                <elementReference>AmountSGDequiv</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Market_place_for_SGD_not_null</targetReference>
        </connector>
        <filterFormula>!{!$Setup.ICL_Settings__c.Disable_Migrate_Flow__c}</filterFormula>
        <object>Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
