force-app/main/default/flows/Transaction_Rollup_on_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Transaction_Amount</name>
        <label>Assign Transaction Amount</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TransactionAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Transaction_Loop.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Transaction_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Invoice_Record</name>
        <label>Check for Invoice Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Finance_Deal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Transaction_Related_to_Invoice_and_Supplier</targetReference>
            </connector>
            <label>Invoice != null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalTransactionAmount</name>
        <dataType>Currency</dataType>
        <expression>{!TransactionAmount} +{!Invoice_Transaction_Loop.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Transaction Rollup on Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Rollup on Invoice</label>
    <loops>
        <name>Invoice_Transaction_Loop</name>
        <label>Invoice Transaction Loop</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Transaction_Related_to_Invoice_and_Supplier</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Transaction_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Transaction_Related_to_Invoice_and_Supplier</name>
        <label>Get All Transaction Related to Invoice and Supplier</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Transaction_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Finance_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Finance_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Finance_Deal__r.Supplier_Buyer_Map__r.Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Finance_Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Supplier_Discount__c</field>
            <value>
                <elementReference>TransactionAmount</elementReference>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Invoice_Record</targetReference>
        </connector>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TransactionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
