force-app/main/default/flows/TRUSTEE_update_e_wallet_trustee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>update e-waller trustee based on trustee value, add look for e-wallet</description>
    <interviewLabel>TRUSTEE:update e-wallet trustee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRUSTEE:update e-wallet trustee Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_allocation</name>
        <label>get allocation</label>
        <locationX>238</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_e_wallet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDallocation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Allocation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <queriedFields>Funder__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>eWallet__c</queriedFields>
        <queriedFields>eWallet_Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_e_wallet</name>
        <label>get e-wallet</label>
        <locationX>435</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getewallet_trustee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_allocation.Funder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_allocation.CCY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>eWallet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getewallet_trustee</name>
        <label>Getewallet trustee</label>
        <locationX>689</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Allocation_ewallet_trutsee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_allocation.Funder__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_allocation.CCY__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trustee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_allocation.Trustee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>eWallet_Trustee__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Allocation_ewallet_trutsee</name>
        <label>Update Allocation ewallet trutsee</label>
        <locationX>938</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDallocation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>eWallet_Trustee__c</field>
            <value>
                <elementReference>Getewallet_trustee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eWallet__c</field>
            <value>
                <elementReference>get_e_wallet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Allocation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_allocation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IDallocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
