force-app/main/default/flows/TRUSTEE_Ewallet_trustee_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>count_number_of_ewllwt_trustee</name>
        <label>count number of ewllwt trustee</label>
        <locationX>750</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>counttrusteewallet</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>existingewallet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_existing_e_wallet_trustee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_account_exist</name>
        <label>check if account exist</label>
        <locationX>643</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>count_number_of_ewllwt_trustee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>account_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_e_wallet_ID.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>account does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_existing_e_wallet_trustee</name>
        <label>Check if existing e-wallet trustee</label>
        <locationX>162</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_E_wallet_Trustee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counttrusteewallet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_E_wallet_Escrow</targetReference>
            </connector>
            <label>Create E-wallet Trustee</label>
        </rules>
    </decisions>
    <description>creation Amicorp Trustee and Amicorp Escrow</description>
    <interviewLabel>TRUSTEE:Ewallet trustee creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRUSTEE:Ewallet trustee creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_E_wallet_amicorp_trustee</name>
        <label>Create E-wallet amicorp trustee</label>
        <locationX>1094</locationX>
        <locationY>378</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>get_e_wallet_ID.CCY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_eWallet__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace_for_FX__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Marketplace_for_FX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <stringValue>Amicorp Trust</stringValue>
            </value>
        </inputAssignments>
        <object>eWallet_Trustee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_E_wallet_Escrow</name>
        <label>Create E-wallet Amicorp Escrow</label>
        <locationX>933</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Create_E_wallet_amicorp_trustee</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCY__c</field>
            <value>
                <elementReference>get_e_wallet_ID.CCY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_eWallet__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace_for_FX__c</field>
            <value>
                <elementReference>get_e_wallet_ID.Marketplace_for_FX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trustee__c</field>
            <value>
                <stringValue>Amicorp Escrow</stringValue>
            </value>
        </inputAssignments>
        <object>eWallet_Trustee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_e_wallet_ID</name>
        <label>get e-wallet ID</label>
        <locationX>178</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_wallet_trustee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETewalletID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>eWallet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Bank_Account__c</queriedFields>
        <queriedFields>Marketplace_for_FX__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Unique_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_wallet_trustee</name>
        <label>get wallet trustee</label>
        <locationX>450</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_account_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_eWallet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_e_wallet_ID.Id</elementReference>
            </value>
        </filters>
        <object>eWallet_Trustee__c</object>
        <outputReference>existingewallet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_e_wallet_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counttrusteewallet</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingewallet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet_Trustee__c</objectType>
    </variables>
    <variables>
        <name>Existingewallettrustee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet_Trustee__c</objectType>
    </variables>
    <variables>
        <name>GETewalletID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopEwallettrustee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eWallet_Trustee__c</objectType>
    </variables>
</Flow>
