force-app/main/default/flows/Udpate_FX_rate_2_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>new version with no loop</description>
    <interviewLabel>Udpate FX rate 2 Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Udpate FX rate 2 Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FXRate1</name>
        <label>Get FXRate1</label>
        <locationX>227</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_transactionlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFXID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>date__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_transactionlist</name>
        <label>get transaction list</label>
        <locationX>392</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFXrate2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCY__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FXRate1.date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FX_conversion_rate_calculated__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCY_TXT__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>amount_USD_equiv__c</queriedFields>
        <queriedFields>FX_rate_conversion__c</queriedFields>
        <queriedFields>Amount_USD_Equiv_daily_fx__c</queriedFields>
        <queriedFields>FX_USD_Rate_Daily__c</queriedFields>
        <queriedFields>Amount_USD_FX_empty__c</queriedFields>
        <queriedFields>FX_conversion_rate_calculated__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFXrate2</name>
        <label>Get FXrate 2</label>
        <locationX>602</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Transaction1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID.Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>from_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID.CCY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rate__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <queriedFields>to_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction1</name>
        <label>Update Transaction 1</label>
        <locationX>782</locationX>
        <locationY>15</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_USD_Equiv_daily_fx__c</field>
            <value>
                <elementReference>RecordID.FX_USD_Rate_Daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FX_rate_conversion__c</field>
            <value>
                <elementReference>GetFXrate2.rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Get_FXRate1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Countnumberofallocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Dateoflasttransactionudated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetFXID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetTransactionLOOPID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>TotalAllocationtoupdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Totaltransactionupdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransactionID2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
</Flow>
