force-app/main/default/flows/Update_Calculation_record_For_Maintenance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Calculation record, For Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Calculation record, For Maintenance</label>
    <loops>
        <name>Get_all_Calculation_Sales</name>
        <label>Get all Calculation Sales</label>
        <locationX>408</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>LoopCalculationSales</assignNextValueToReference>
        <collectionReference>Get_Calculation_Sales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_sales_Supplier</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Calculation_Sales</name>
        <label>Get Calculation Sales</label>
        <locationX>159</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Calculation_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2020-01-09T16:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2020-01-14T16:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Calculation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Owner_buyer_Lookup__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Buyer_Sales_Owner2__c</queriedFields>
        <queriedFields>Supplier_Sales_Owner2__c</queriedFields>
        <queriedFields>Supplier_owner__c</queriedFields>
        <queriedFields>Buyer_Owner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_sales_buyer</name>
        <label>get sales buyer</label>
        <locationX>1086</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sales_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>LoopCalculationSales.Buyer_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_sales_Supplier</name>
        <label>get sales Supplier</label>
        <locationX>832</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_sales_buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>LoopCalculationSales.Supplier_owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_owner</name>
        <label>Update Sales owner supplier</label>
        <locationX>617</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Get_all_Calculation_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopCalculationSales.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Owner_buyer_Lookup__c</field>
            <value>
                <elementReference>get_sales_buyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>get_sales_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Calculation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Calculation_Sales</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoopCalculationSales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Calculation__c</objectType>
    </variables>
    <variables>
        <name>Salesownerbuyerlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SalesOwnerlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Totalrecordupdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
