force-app/main/default/flows/update_buyer_and_supplier_owner_lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Buyer_or_supplier</name>
        <label>Buyer or supplier</label>
        <locationX>849</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calculation_Sales.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_owner_0</targetReference>
            </connector>
            <label>Buyer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calculation_Sales.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_owner</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <description>Update in sales calculation supplier and buyer owner lookup , when sales calculation is created by process builder add, commission for</description>
    <interviewLabel>update buyer and supplier owner lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update buyer and supplier owner lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Calculation_Sales</name>
        <label>Get Calculation Sales</label>
        <locationX>219</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_sales_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalculationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Calculation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Owner_buyer_Lookup__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Buyer_Sales_Owner2__c</queriedFields>
        <queriedFields>Supplier_Sales_Owner2__c</queriedFields>
        <queriedFields>Supplier_owner__c</queriedFields>
        <queriedFields>Buyer_Owner__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Commission_Sales__c</queriedFields>
        <queriedFields>Commission_for__c</queriedFields>
        <queriedFields>Com_Sales_Buyer__c</queriedFields>
        <queriedFields>Com_Sales_supplier__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_sales_buyer</name>
        <label>get sales buyer</label>
        <locationX>621</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_or_supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Calculation_Sales.Buyer_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_sales_Supplier</name>
        <label>get sales Supplier</label>
        <locationX>421</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_sales_buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Calculation_Sales.Supplier_owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_owner</name>
        <label>Update Sales owner supplier</label>
        <locationX>1302</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Calculation_Sales.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Sales__c</field>
            <value>
                <elementReference>Get_Calculation_Sales.Com_Sales_supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_for__c</field>
            <value>
                <elementReference>get_sales_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner_buyer_Lookup__c</field>
            <value>
                <elementReference>get_sales_buyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>get_sales_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Calculation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_owner_0</name>
        <label>Update Sales owner buyer</label>
        <locationX>1301</locationX>
        <locationY>224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Calculation_Sales.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Sales__c</field>
            <value>
                <elementReference>Get_Calculation_Sales.Com_Sales_Buyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_for__c</field>
            <value>
                <elementReference>get_sales_buyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Owner_buyer_Lookup__c</field>
            <value>
                <elementReference>get_sales_buyer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>get_sales_Supplier.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Calculation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Calculation_Sales</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCalculationSales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Calculation__c</objectType>
    </variables>
    <variables>
        <name>Salesownerbuyerlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SalesOwnerlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Totalrecordupdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
