force-app/main/default/flows/Update_FX_Rate_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>check_passthrough</name>
        <label>check passthrough</label>
        <locationX>1064</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>FX_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>passthrough_invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoiceLoop.Passthrough_auto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FX_Rate_0</targetReference>
            </connector>
            <label>passthrough invoice</label>
        </rules>
    </decisions>
    <description>Evolution when an FX is created</description>
    <interviewLabel>Update FX Rate 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update FX Rate 2 invoice</label>
    <loops>
        <name>Loop_Invoice</name>
        <label>Loop Invoice</label>
        <locationX>633</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>GetInvoiceLoop</assignNextValueToReference>
        <collectionReference>Get_invoice_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_passthrough</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FX_Rate</name>
        <label>FX Rate</label>
        <locationX>506</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_invoice_FX_rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.advance_send_to_supplier_date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>from_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.CCY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rate__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <queriedFields>to_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FX_Rate_0</name>
        <label>FX Rate</label>
        <locationX>1161</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_invoice_FX_rate_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.Actual_Repayment_Received_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>from_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.CCY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rate__c</queriedFields>
        <queriedFields>from_currency__c</queriedFields>
        <queriedFields>to_currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FXrate1</name>
        <label>]Get FXrate1</label>
        <locationX>215</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_invoice_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FXrateID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FX_Rates__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_invoice_list</name>
        <label>Get invoice list</label>
        <locationX>428</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCY__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>advance_send_to_supplier_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FXrate1.date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>invoice_finance_deal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>CCY_TXT__c</queriedFields>
        <queriedFields>FX_Rate__c</queriedFields>
        <queriedFields>advance_send_to_supplier_date__c</queriedFields>
        <queriedFields>Passthrough_auto__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_invoice_FX_rate</name>
        <label>Update invoice FX rate</label>
        <locationX>299</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FX_Rate__c</field>
            <value>
                <elementReference>FX_Rate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FX_conversion_rate__c</field>
            <value>
                <elementReference>FX_Rate.rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_invoice_FX_rate_0</name>
        <label>Update invoice FX rate</label>
        <locationX>903</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Loop_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInvoiceLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FX_Rate__c</field>
            <value>
                <elementReference>FX_Rate_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FX_conversion_rate__c</field>
            <value>
                <elementReference>FX_Rate_0.rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>invoice_finance_deal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_FXrate1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FXrateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetInvoicelist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>GetInvoiceLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>invoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>invoice_finance_deal__c</objectType>
    </variables>
    <variables>
        <name>OwnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SupplierBuyerMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplier_Buyer_Map__c</objectType>
    </variables>
</Flow>
