force-app/main/default/flows/Update_E_wallet_Balance_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_sum_transaction</name>
        <label>Add sum transaction</label>
        <locationX>632</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Finalsumoftransaction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gettransactionloop.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_transactio_amount_loop</targetReference>
        </connector>
    </assignments>
    <description>Test to update e-wallet balance check if the roller helper fail</description>
    <interviewLabel>Update E-wallet Balance Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update E-wallet Balance Check</label>
    <loops>
        <name>Get_transactio_amount_loop</name>
        <label>Get transactio amount loop</label>
        <locationX>1099</locationX>
        <locationY>70</locationY>
        <assignNextValueToReference>Gettransactionloop</assignNextValueToReference>
        <collectionReference>Get_all_Transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_sum_transaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Amount_Balance_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Transaction</name>
        <label>Get all Transaction</label>
        <locationX>485</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_transactio_amount_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ewallet_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Ewallet_Record_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_E_Wallet</name>
        <label>Get E-Wallet Name</label>
        <locationX>246</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>eWallet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance_Amount_Check__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amount_Balance_Check</name>
        <label>Update Amount Balance Check</label>
        <locationX>337</locationX>
        <locationY>336</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Gettransactionloop.Ewallet_Record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Amount_Check__c</field>
            <value>
                <elementReference>Finalsumoftransaction</elementReference>
            </value>
        </inputAssignments>
        <object>eWallet__c</object>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>Get_E_Wallet</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Finalsumoftransaction</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Gettransactionloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sumanmountfromloop</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
