force-app/main/default/flows/Update_Transaction_E_wallet_Trustee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Working version when transaction is created or edited, fill the lookip e-wallet ID version simple</description>
    <interviewLabel>Update Transaction E-wallet Trustee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRUSTEE: Transaction E-wallet Trustee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_E_wallet_Trustee</name>
        <label>Get E-wallet Trustee</label>
        <locationX>635</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_E_wallet_trustee_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_eWallet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_transaction_ID.eWallet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trustee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_transaction_ID.Trustee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>eWallet_Trustee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_transaction_ID</name>
        <label>Get transaction ID</label>
        <locationX>208</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_E_wallet_Trustee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>e_wallet_ID__c</queriedFields>
        <queriedFields>eWallet__c</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_E_wallet_trustee_transaction</name>
        <label>Update E-wallet trustee transaction</label>
        <locationX>908</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>eWallet_Trustee__c</field>
            <value>
                <elementReference>Get_E_wallet_Trustee.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>157</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>Get_transaction_ID</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
