force-app/main/default/flows/Withdrawal_Deposit_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Transactions_Withdrawal_Internal</name>
        <label>Create Transactions Withdrawal Internal</label>
        <locationX>775</locationX>
        <locationY>83</locationY>
        <actionName>WithdrawalInternal_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_name2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>withdrawalDeposit</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>make_transaction</name>
        <label>make transaction</label>
        <locationX>739</locationX>
        <locationY>494</locationY>
        <actionName>Double_Entry_Transaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_type_of_account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Actual_Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccy</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.CCY__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Effective_date</name>
            <value>
                <elementReference>Effective_Date_Screen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>confirmed by finance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to_account</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trustee</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Trustee__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Withdrawal_Deposit</name>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageToBookkeepingUpdates</name>
        <label>SendSlackToBookkeeping</label>
        <locationX>1102</locationX>
        <locationY>87</locationY>
        <actionName>SendSlackMessageToBookkeepingUpdates</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageToFinanceRestricted</name>
        <label>SendSlackMessageToFinanceRestricted</label>
        <locationX>1252</locationX>
        <locationY>224</locationY>
        <actionName>SendSlackMessageToFinanceRestricted</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSlackMessageToOperations</name>
        <label>SendSlackMessageToOperations</label>
        <locationX>1591</locationX>
        <locationY>496</locationY>
        <actionName>SendSlackMessageToOperations</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSlackToBookkeeping</name>
        <label>SendSlackToBookkeeping</label>
        <locationX>1164</locationX>
        <locationY>510</locationY>
        <actionName>SendSlackMessageToBookkeepingUpdates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Buyer_Deposit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Buyer_Deposit</name>
        <label>Is Buyer Deposit</label>
        <locationX>1339</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>Is not</defaultConnectorLabel>
        <rules>
            <name>Is_Buyer_Deposit2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWithdrawalDepositInfo.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>70.Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackMessageToOperations</targetReference>
            </connector>
            <label>Is Buyer Deposit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_already_processed</name>
        <label>Test if already processed</label>
        <locationX>587</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>confirm_transaction_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ok for process</defaultConnectorLabel>
        <rules>
            <name>already_processed_or_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWithdrawalDepositInfo.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedWithdrawalDepositInfo.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Processing_KO</targetReference>
            </connector>
            <label>already processed or Cancelled</label>
        </rules>
        <rules>
            <name>withdrawal_internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWithdrawalDepositInfo.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80.Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedWithdrawalDepositInfo.Bank_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INTERNAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transactions_Withdrawal_Internal</targetReference>
            </connector>
            <label>Withdrawal Internal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify Insurers and Incomlend Fees or others accounts</description>
        <name>What_type_of_account</name>
        <label>What type of account</label>
        <locationX>918</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>SendSlackToBookkeeping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others accounts</defaultConnectorLabel>
        <rules>
            <name>Is_Insurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01228000000vQEFAA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackMessageToFinanceRestricted</targetReference>
            </connector>
            <label>Is Insurer</label>
        </rules>
        <rules>
            <name>Is_Incomlend_Fees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomlend - fees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackMessageToFinanceRestricted</targetReference>
            </connector>
            <label>Is Incomlend - Fees</label>
        </rules>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackMessageToFinanceRestricted</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>GTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomlend GST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackMessageToFinanceRestricted</targetReference>
            </connector>
            <label>GTS</label>
        </rules>
    </decisions>
    <description>add withdrawal internal</description>
    <interviewLabel>Withdrawal Deposit Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Withdrawal Deposit Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_if_already_processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </filters>
        <object>Withdrawal_Deposit__c</object>
        <outputReference>SelectedWithdrawalDepositInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Actual_Amount__c</queriedFields>
        <queriedFields>CCY__c</queriedFields>
        <queriedFields>USD_available_eWallet__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Trustee__c</queriedFields>
        <queriedFields>Bank_Details__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Bank_Account__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_name</name>
        <label>Get Account name</label>
        <locationX>574</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>make_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_name2</name>
        <label>Get Account name</label>
        <locationX>943</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendSlackMessageToBookkeepingUpdates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedWithdrawalDepositInfo.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>WithdrawalDeposit_Status</name>
        <label>WithdrawalDeposit Status</label>
        <locationX>419</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Get_Account_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WithdrawalDepositID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>Withdrawal_Deposit__c</object>
    </recordUpdates>
    <screens>
        <name>confirm_transaction_details</name>
        <label>confirm transaction details</label>
        <locationX>418</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WithdrawalDeposit_Status</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>Available eWallet Balances :
USD : {!SelectedWithdrawalDepositInfo.USD_available_eWallet__c}

User Entered Amount : {!SelectedWithdrawalDepositInfo.CCY__c} {!SelectedWithdrawalDepositInfo.Amount__c}

Actual Amount : {!SelectedWithdrawalDepositInfo.Actual_Amount__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Effective_Date_Screen</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Actual_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Actual Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Processing_KO</name>
        <label>Processing KO</label>
        <locationX>738</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>KOprocessing</name>
            <fieldText>The withdrawal or deposit is either at a &quot;Cancelled&quot; status or a transaction has already been created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SlackMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Transaction: {!SelectedWithdrawalDepositInfo.Id}
{!SelectedWithdrawalDepositInfo.Type__c}.  {!Account.Name}.
Amount: {!SelectedWithdrawalDepositInfo.CCY__c} {!SelectedWithdrawalDepositInfo.Amount__c}.
Status: Processed.</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedWithdrawalDepositInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Withdrawal_Deposit__c</objectType>
    </variables>
    <variables>
        <name>WithdrawalDepositID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
